Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

[BugFix:PronounsMigration] Update migration/migrator/migrations/master/20230215210756_trigger_update_user_pronouns.py
  migration/migrator/migrations/master/20230215210756_trigger_update_user_pronouns.py
Due: migrator

[BugFix:PronounsMigration] Update migration/migrator/migrations/master/20230215214821_update_sync_courses_user.py
  migration/migrator/migrations/master/20230215214821_update_sync_courses_user.py
Due: migrator

[BugFix:JSLint] fixed some issues
  site/public/js/user-profile.js
Due: none

[BugFix:JSLint] Removed some more issues, hopefully fixed
  site/public/js/user-profile.js
Due: none

[Testing:PHP] included user_pronouns in PHP tests
  site/tests/app/authentication/LdapAuthenticationTester.php
  site/tests/app/authentication/PamAuthenticationTester.php
  site/tests/app/controllers/MiscControllerTester.php
  site/tests/app/controllers/student/SubmissionControllerTester.php
  site/tests/app/controllers/student/TeamControllerTester.php
  site/tests/app/libraries/DateUtilsTester.php
  site/tests/app/libraries/UtilsTester.php
  site/tests/app/models/EmailTester.php
  site/tests/app/models/NotificationTester.php
  site/tests/app/models/SimpleLateUserTester.php
  site/tests/app/models/TeamTester.php
  site/tests/app/models/UserTester.php
  site/tests/app/models/gradeable/GradeableListTester.php
Due: none

solid checkmarks
  site/app/templates/polls/ViewPoll.twig
  site/cypress/e2e/polls.spec.js
  site/public/css/colors.css
  site/public/css/polls.css
Due: php

[Tests:PHP] Should be done!
  site/tests/app/models/UserTester.php
Due: none

Update the title
  tests/integrationTests/tests/cpp_cats/validation/grade.txt_allCorrect
  tests/integrationTests/tests/cpp_cats/validation/grade.txt_columnSpacingOff
  tests/integrationTests/tests/cpp_cats/validation/grade.txt_extraLinesAtEnd
  tests/integrationTests/tests/cpp_cats/validation/grade.txt_extraSpacesAtEnd
  tests/integrationTests/tests/cpp_cats/validation/grade.txt_frontSpacingOff
  tests/integrationTests/tests/cpp_cats/validation/grade.txt_lineOrderOff
  tests/integrationTests/tests/cpp_cats/validation/grade.txt_spacingOff
  tests/integrationTests/tests/cpp_cats/validation/grade.txt_spellingOff
Due: none

fix css and revert color
  site/public/css/colors.css
  site/public/css/polls.css
Due: none

Update README.md
  README.md
Due: none

Cypress Fix
  site/app/templates/course/CourseMaterials.twig
  site/cypress/e2e/courseMaterials.spec.js
Due: php

Small Fixes
  site/app/controllers/DockerInterfaceController.php
Due: php

Indentation Fix
  site/app/controllers/DockerInterfaceController.php
Due: php

.
  site/app/controllers/DockerInterfaceController.php
Due: php

Fix
  site/app/controllers/DockerInterfaceController.php
Due: php

Attempt 1 at adding the class
  site/public/js/forum.js
Due: none

attempt 2
  site/public/js/forum.js
Due: none

Revert "attempt 2"
  site/public/js/forum.js
Due: none

Revert "Attempt 1 at adding the class"
  site/public/js/forum.js
Due: none

Update ForumThreadView.php
  site/app/views/forum/ForumThreadView.php
Due: php

Revert "Update ForumThreadView.php"
  site/app/views/forum/ForumThreadView.php
Due: php

Prevent the autograder from copying links
  autograder/autograder/autograding_utils.py
Due: autograder

Removed color text
  site/app/templates/calendar/Calendar.twig
Due: php

Just By deletetuing this?
  site/app/views/forum/ForumThreadView.php
Due: php

Store variables for conditional statements
  site/app/views/forum/ForumThreadView.php
Due: php

format
  site/app/views/forum/ForumThreadView.php
Due: php

So isNewPost is always defined
  site/app/views/forum/ForumThreadView.php
Due: php

See if this is the problem
  site/app/views/forum/ForumThreadView.php
Due: php

forgot to add a little piece
  site/app/views/forum/ForumThreadView.php
Due: php

Fixing TestNames
  tests/integrationTests/tests/cpp_cats/validation/results.json_allCorrect
  tests/integrationTests/tests/cpp_cats/validation/results.json_columnSpacingOff
  tests/integrationTests/tests/cpp_cats/validation/results.json_extraLinesAtEnd
  tests/integrationTests/tests/cpp_cats/validation/results.json_extraSpacesAtEnd
  tests/integrationTests/tests/cpp_cats/validation/results.json_frontSpacingOff
  tests/integrationTests/tests/cpp_cats/validation/results.json_lineOrderOff
  tests/integrationTests/tests/cpp_cats/validation/results.json_spacingOff
  tests/integrationTests/tests/cpp_cats/validation/results.json_spellingOff
Due: none

Revert "forgot to add a little piece"
  site/app/views/forum/ForumThreadView.php
Due: php

Revert "See if this is the problem"
  site/app/views/forum/ForumThreadView.php
Due: php

[DB-Check:BugFix] Changing conflicting variable declaration
  migration/migrator/data/course_tables.sql
Due: migrator

[DB-Check:Bugfix] Changed variable declaration again
  migration/migrator/data/course_tables.sql
  migration/migrator/data/submitty_db.sql
Due: migrator

[DB-Check:Fix] Changed datatype to be better suited for use case
  migration/migrator/data/course_tables.sql
  migration/migrator/data/submitty_db.sql
  migration/migrator/migrations/course/20230217165357_user_pronouns.py
  migration/migrator/migrations/master/20230207161251_user_pronouns.py
Due: migrator

[Feature:Forum] Unread and Deleted Posts a Gray-Blue (#8904)
  site/app/views/forum/ForumThreadView.php
  site/public/css/colors.css
  site/public/css/forum.css
  site/public/css/server.css
  site/public/js/forum.js
Due: php

[Feature:SubminiPolls] Show Correct Poll Answers (#8910)
  .setup/data/polls/polls_data.json
  migration/migrator/data/course_tables.sql
  migration/migrator/migrations/course/20230219143956_polls_release_answer.py
  site/app/controllers/PollController.php
  site/app/entities/poll/Poll.php
  site/app/libraries/PollUtils.php
  site/app/templates/polls/PollForm.twig
  site/app/templates/polls/ViewPoll.twig
  site/cypress/e2e/polls.spec.js
  site/public/css/polls.css
  site/tests/app/entities/poll/PollTester.php
  site/tests/app/libraries/PollUtilsTester.php
Due: php, migrator

suggested changes
  .setup/distro_setup/setup_distro.sh
  .setup/install_system.sh
Due: none

fix: dev vm check for stack
  .setup/install_system.sh
Due: none

make .utm dir
  .setup/INSTALL_SUBMITTY_HELPER.sh
  .setup/install_system.sh
Due: none

Path conditions:
  php: any of: site/app, but not: tests/integrationTests
  autograder: any of: autograder/autograder, but not: tests/integrationTests
  python_submitty_utils: any of: python_submitty_utils/submitty_utils, but not: tests/integrationTests
  migrator: any of: migration/migrator, but not: tests/integrationTests
