Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: true

ignore:
  - "tests/integrationTests"

coverage:
  status:
    project: false
    patch: false
    changes: false
    migrator:
      flags: migrator
      target: 100%

flags:
  php:
    paths:
      - site/app
  autograder:
    paths:
      - autograder/autograder
  python_submitty_utils:
    paths:
      - python_submitty_utils/submitty_utils
  migrator:
    paths:
      - migration/migrator

comment:
  layout: "reach, diff, flags"
  behavior: default

php lint fix
  site/app/libraries/database/DatabaseQueries.php
Due: php

Remove inline CSS
  site/app/templates/autograding/TAResults.twig
  site/public/css/server.css
Due: php

CSS linting
  site/public/css/server.css
Due: none

[Bugfix:Autograding] Random input-output build (#8185)
  autograder/autograder/grade_item.py
Due: autograder

Minor change
  site/app/templates/autograding/TAResults.twig
  site/app/views/AutoGradingView.php
Due: php

added migration
  .setup/CONFIGURE_SUBMITTY.py
  .setup/update_system.sh
  migration/migrator/migrations/system/20220719021628_add_linux_packages_setting.py
Due: migrator

Fix ordering on SAML management page
  site/app/libraries/database/DatabaseQueries.php
Due: php

feat: database check
  .github/workflows/db_check.yml
Due: none

[Bugfix:System] Fix ordering on SAML management page (#8197)
  site/app/libraries/database/DatabaseQueries.php
Due: php

drop anon_id from users
  migration/migrator/migrations/course/20220612122726_gradeable_specific_anon_ids.py
Due: migrator

fixed problems
  site/public/css/simple-grading.css
Due: none

Add incremental build for tsc
  .setup/install_submitty/install_site.sh
  site/tsconfig.json
Due: none

update RainbowGrades version
  .setup/bin/versions.sh
Due: none

Corrected IDs and Moved Function
  site/app/templates/autograding/AutoResults.twig
  site/public/js/server.js
  site/public/js/testcase-output.js
Due: php

View and download
  site/app/templates/grading/electronic/PDFAnnotationEmbedded.twig
  site/app/views/AutoGradingView.php
  site/public/js/pdf/PDFAnnotateEmbedded.js
Due: php

fix: change to sigusr2
  .setup/untrusted_execute.c
  autograder/autograder/execution_environments/jailed_sandbox.py
Due: autograder

Js lint
  site/public/js/pdf/PDFAnnotateEmbedded.js
Due: none

Js lint string
  site/public/js/pdf/PDFAnnotateEmbedded.js
Due: none

Add fixes
  .setup/INSTALL_SUBMITTY_HELPER.sh
  grading/execute.cpp
Due: none

Fix error
  grading/execute.cpp
Due: none

Update gitignore
  .gitignore
Due: none

Adjusted Indentation
  site/app/controllers/GlobalController.php
Due: php

[Bugfix:System] Change Signal for untrusted_execute (#8203)
  .setup/untrusted_execute.c
  autograder/autograder/execution_environments/jailed_sandbox.py
Due: autograder

[Dependency] Update RainbowGrades to v22.07.00 (#8208)
  .setup/bin/versions.sh
Due: none

[Feature:System] Add incremental build for tsc (#8200)
  .gitignore
  .setup/install_submitty/install_site.sh
  site/tsconfig.json
Due: none

[Feature:Calendar] Calendar Sidebar Link (#8179)
  site/app/controllers/GlobalController.php
Due: php

added lable
  site/app/templates/UserProfile.twig
Due: php

added lables for different browsers
  site/app/templates/UserProfile.twig
Due: php

Fix size type
  grading/execute.cpp
Due: none

Annotation folder permission
  .setup/bin/setup_sample_courses.py
Due: none

Incorporated suggestions
  migration/migrator/data/course_tables.sql
  migration/migrator/migrations/course/20220612122726_gradeable_specific_anon_ids.py
  site/app/controllers/AbstractController.php
  site/app/controllers/grading/ElectronicGraderController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/models/User.php
  site/app/models/gradeable/Submitter.php
  site/app/templates/grading/electronic/Details.twig
  site/app/templates/grading/simple/Display.twig
  site/app/views/AutoGradingView.php
  site/app/views/grading/ElectronicGraderView.php
Due: php, migrator

updated php unit tests
  site/app/controllers/grading/ElectronicGraderController.php
  site/app/models/User.php
  site/tests/app/models/UserTester.php
Due: php

Flex behavior
  site/app/templates/autograding/TAResults.twig
  site/public/css/server.css
Due: php

[Bugfix:TAGrading] View/Download Annotations (#8204)
  site/app/templates/autograding/TAResults.twig
  site/app/templates/grading/electronic/PDFAnnotationEmbedded.twig
  site/public/js/pdf/PDFAnnotateEmbedded.js
Due: php

feat: remove hardcoded args in setup_sample_courses
  .setup/bin/setup_sample_courses.py
Due: none

Added message
  .setup/bin/update_repos.sh
Due: none

fix: argparse
  .setup/bin/setup_sample_courses.py
Due: none

fix: dbport global var
  .setup/bin/setup_sample_courses.py
Due: none

modify anonymize.py and query fix
  sbin/anonymize.py
  site/app/libraries/database/DatabaseQueries.php
  site/app/models/User.php
Due: php
