Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: true

ignore:
  - "tests/integrationTests"

coverage:
  status:
    project: false
    patch: false
    changes: false
    migrator:
      flags: migrator
      target: 100%

flags:
  php:
    paths:
      - site/app
  autograder:
    paths:
      - autograder/autograder
  python_submitty_utils:
    paths:
      - python_submitty_utils/submitty_utils
  migrator:
    paths:
      - migration/migrator

comment:
  layout: "reach, diff, flags"
  behavior: default

[Bugfix:Submission] added breadcrumb to team page (#4860)
  site/app/views/submission/TeamView.php
Due: php

[Bugfix:TAGrading] View your section button on test/lab not working (#4757)
  site/app/templates/grading/simple/Display.twig
Due: php

[Refactor:PHP] Move query logic out of HomePage view to controller (#4800)
  site/app/controllers/HomePageController.php
  site/app/libraries/Output.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/models/Course.php
  site/app/views/HomePageView.php
  site/phpstan-baseline.neon
  site/tests/app/models/CourseTester.php
Due: php

Add support for MIPS tokenizer
  site/app/views/admin/PlagiarismView.php
  site/public/js/server.js
Due: php

[Bugfix:InstructorUI] Allow setting preferred name to empty string (#4817)
  site/app/controllers/admin/UsersController.php
Due: php

[Bugfix:DiffViewer] Fix generating diff for multibyte characters (#4842)
  site/app/libraries/DiffViewer.php
  site/app/libraries/Utils.php
  site/tests/app/libraries/UtilsTester.php
  site/tests/data/diffs/diff_test_05/input_actual.txt
  site/tests/data/diffs/diff_test_05/input_differences.json
  site/tests/data/diffs/diff_test_05/input_expected.txt
  site/tests/data/diffs/diff_test_05/output_actual.txt
  site/tests/data/diffs/diff_test_05/output_expected.txt
Due: php

removing php lint bugs
  site/app/models/GradeableAutocheck.php
Due: php

Dummy down() function for migration
  migration/migrator/migrations/system/20191027013443_separate_shipper_dirs.py
Due: migrator

removing duplicate function
  site/app/models/CourseMaterial.php
Due: php

Replace format() with f-strings
  sbin/submitty_autograding_shipper.py
Due: none

Removing dupllicate method
  site/app/models/CourseMaterial.php
Due: php

Bump lichen version
  .setup/bin/versions.sh
Due: none

[VPAT:InstructorUI] Edit Gradeables Views (#4849)
  site/app/templates/admin/admin_gradeable/AdminGradeableCreate.twig
  site/app/templates/admin/admin_gradeable/AdminGradeableGraders.twig
  site/app/templates/admin/admin_gradeable/AdminGradeableRubric.twig
  site/app/templates/admin/admin_gradeable/rubric/CheckpointsRubric.twig
  site/app/templates/admin/admin_gradeable/rubric/ElectronicFileRubric.twig
  site/app/templates/admin/admin_gradeable/rubric/NumericRubric.twig
  site/public/css/server.css
Due: php

[Feature:PlagiarismDetection] MIPS tokenizer (#4862)
  .setup/bin/versions.sh
  site/app/views/admin/PlagiarismView.php
  site/public/js/server.js
Due: php

Fix typo in version for Lichen
  .setup/bin/versions.sh
Due: none

removing extra whitespace
  site/app/models/GradeableAutocheck.php
Due: php

[Bugfix:Submission] Fix confetti lagging on multiple rapid clicks (#4846)
  site/public/css/server.css
  site/public/js/confetti.js
Due: none

Fix vagrant up
  bin/make_generated_output.py
Due: none

[Bugfix:Lichen] Fix typo in version for Lichen (#4864)
  .setup/bin/versions.sh
Due: none

[Autograding:Bugfix] fix crash in vagrant up generated output (#4865)
  bin/make_generated_output.py
Due: none

pylint fixes
  site/app/controllers/MiscController.php
  site/app/controllers/course/CourseMaterialsController.php
Due: php

[Bugfix:TAGrading] View all does not show the null section (#4756)
  site/app/models/gradeable/Gradeable.php
Due: php

darker color on alert-danger-red, made bg color .danger = .alert-danger
  site/public/css/colors.css
  site/public/css/global.css
  site/public/css/server.css
Due: none

fixing php lint
  site/app/controllers/MiscController.php
  site/app/controllers/admin/UsersController.php
  site/app/controllers/course/CourseMaterialsController.php
  site/app/models/CourseMaterial.php
  site/app/views/course/CourseMaterialsView.php
Due: php

Fix error when clicking on or dragging files onto existing rows
  site/public/js/drag-and-drop.js
Due: none

Fixing test cases
  site/tests/app/controllers/course/CourseMaterialsControllerTester.php
Due: none

fixing tests
  site/tests/app/controllers/course/CourseMaterialsControllerTester.php
Due: none

Finally it works completely well.
  site/public/js/ta-grading-rubric.js
Due: none

[Bugfix:PHPLint] removing php lint bugs (#4863)
  site/app/models/GradeableAutocheck.php
Due: php

fixes show your sections button for unassigned grader
  site/app/controllers/grading/SimpleGraderController.php
Due: php

[Bugfix:TAGrading] Fixed PDF file viewer accidently opening when clicking the Open/Close All Submissions button (#4848)
  site/public/js/ta-grading.js
Due: none

Final Changes
  site/app/controllers/admin/AdminGradeableController.php
  site/app/controllers/grading/ElectronicGraderController.php
  site/public/js/ta-grading-rubric.js
Due: php

[Refactor:JS] Update error/success messages to match PHP generated ones (#4809)
  site/app/templates/GlobalHeader.twig
  site/public/js/forum.js
  site/public/js/server.js
Due: php

Actual Final Changes
  site/app/controllers/admin/AdminGradeableController.php
  site/app/controllers/grading/ElectronicGraderController.php
Due: php

fix
  bin/build_homework_function.sh
Due: none

Fixed missing/incorrect graphics specifications
  bin/json_schemas/complete_config_schema.json
  grading/load_config_json.cpp
Due: none

[Feature:Notifications] Added urls to forum and team gradeable emails (#4855)
  site/app/models/Email.php
  site/app/models/NotificationFactory.php
Due: php

[Bugfix:TAGrading] Penalty only component mark message (#4504)
  site/app/controllers/admin/AdminGradeableController.php
  site/public/js/ta-grading-rubric.js
Due: php

pull in client image
  .setup/bin/setup_sample_courses.py
Due: none

fix linting errors
  site/app/views/course/CourseMaterialsView.php
Due: php
