Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

more lint
  site/app/controllers/admin/AdminGradeableController.php
Due: php

more lint 2
  site/app/libraries/database/DatabaseQueries.php
Due: php

remove extra scroll bars
  site/app/templates/misc/MarkdownArea.twig
  site/public/css/markdown.css
Due: php

[Bugfix:System] Fix db dumps to work on Ubuntu 18.04
  migration/migrator/data/submitty_db.sql
  migration/migrator/dumper.py
  migration/migrator/main.py
  migration/tests/test_dump.py
  migration/tests/test_dumper.py
Due: migrator

trim out default_table_access_method
  migration/migrator/data/course_tables.sql
  migration/migrator/data/submitty_db.sql
  migration/migrator/dumper.py
  migration/tests/test_dumper.py
Due: migrator

update edit poll page, add loading indicator, clean up markdown controller/view routes, consolidate preview markdown function to one spot
  site/app/controllers/MarkdownController.php
  site/app/templates/forum/ThreadPostForm.twig
  site/app/templates/misc/MarkdownArea.twig
  site/app/templates/polls/NewPollPage.twig
  site/app/views/MarkdownView.php
  site/public/css/markdown.css
  site/public/js/forum.js
  site/public/js/grade-inquiry.js
  site/public/js/notebook_builder/widgets/markdown-widget.js
  site/public/js/office-hours-queue.js
  site/public/js/polls.js
  site/public/js/server.js
  site/public/js/solution-ta-notes.js
  site/public/js/ta-grading-rubric.js
Due: php

add markdown area to some fields on course config
  site/app/templates/admin/Configuration.twig
  site/app/views/admin/ConfigurationView.php
Due: php

render overall comments with markdown
  site/app/templates/autograding/TAResults.twig
Due: php

[Feature:Plagiarism] Add C as supported language (#7170)
  site/app/templates/plagiarism/PlagiarismConfigurationForm.twig
Due: php

switch to write mode after posting in grade inquiry
  site/public/js/grade-inquiry.js
Due: none

allow for empty solutions
  site/app/controllers/grading/ElectronicGraderController.php
Due: php

[Bugfix:SubminiPolls] Fix doubly-escaped HTML in hist title (#7136)
  site/app/templates/polls/ViewPollResults.twig
Due: php

[Refactor:System] Remove unneeded pip installs from setup_distro
  .setup/distro_setup/ubuntu/18.04/setup_distro.sh
Due: none

change Update to Save, change button color based on if solution is different
  site/app/templates/grading/electronic/SolutionTaNotesPanel.twig
  site/app/templates/misc/MarkdownArea.twig
  site/public/css/electronic.css
  site/public/css/markdown.css
  site/public/js/solution-ta-notes.js
  site/public/templates/misc/MarkdownArea.twig
Due: php

[Refactor:System] General performance improvements (#7127)
  site/app/models/AbstractModel.php
  site/app/models/GradingOrder.php
  site/app/models/gradeable/Component.php
Due: php

[Bugfix:System] Fix db dumps to work on postgresql 10 (#7177)
  migration/migrator/data/course_tables.sql
  migration/migrator/data/submitty_db.sql
  migration/migrator/dumper.py
  migration/migrator/main.py
  migration/tests/test_dump.py
  migration/tests/test_dumper.py
Due: migrator

linting
  site/public/css/markdown.css
  site/public/js/grade-inquiry.js
  site/public/js/solution-ta-notes.js
Due: none

linting pt 2
  site/public/js/grade-inquiry.js
Due: none

fix lateday message
  site/app/views/submission/HomeworkView.php
Due: php

[Refactor:Forum] Remove unused models
  site/app/libraries/Core.php
  site/app/libraries/routers/WebRouter.php
  site/app/models/forum/Forum.php
  site/app/models/forum/Post.php
  site/app/models/forum/Thread.php
  site/phpstan-baseline.neon
  site/tests/app/models/forum/PostTester.php
Due: php

[Refactor:System] Remove pip installs from setup_distro (#7175)
  .setup/distro_setup/ubuntu/18.04/setup_distro.sh
Due: none

requsted changes
  site/app/templates/submission/homework/SubmitBox.twig
  site/public/js/server.js
Due: php

change button color
  site/app/templates/submission/homework/SubmitBox.twig
Due: php

add controller function
  site/app/controllers/OfficeHoursQueueController.php
  site/app/templates/officeHoursQueue/QueueStatus.twig
Due: php

Update submitty_autograding_shipper.py
  autograder/submitty_autograding_shipper.py
Due: none

[Refactor:Forum] Remove unused models (#7179)
  site/app/libraries/Core.php
  site/app/libraries/routers/WebRouter.php
  site/app/models/forum/Forum.php
  site/app/models/forum/Post.php
  site/app/models/forum/Thread.php
  site/phpstan-baseline.neon
  site/tests/app/models/forum/PostTester.php
Due: php

[Feature:Submission] Add Switch to Most Recent button (#7154)
  site/app/templates/submission/homework/SubmitBox.twig
  site/app/views/submission/HomeworkView.php
Due: php

initial
  site/app/templates/admin/RainbowCustomization.twig
Due: php

remove extra border, use just spinner, hide toolbar in preview, enforce word wrap on all markdown, fix cursor position after using toolbar
  site/app/templates/misc/MarkdownArea.twig
  site/public/css/markdown.css
  site/public/js/server.js
Due: php

[Testing:Developer] Migrate navigation tests to cypress (#7173)
  site/cypress/integration/navigation_page.spec.js
  tests/e2e/test_navigation_page_non_student.py
  tests/e2e/test_navigation_page_student.py
Due: none

initial upload working
  site/app/controllers/admin/ReportController.php
  site/app/templates/admin/RainbowCustomization.twig
Due: php

query and warning improvement
  site/app/libraries/database/DatabaseQueries.php
  site/app/templates/admin/admin_gradeable/AdminGradeableCreate.twig
Due: php

changes
  site/app/templates/forum/ShowCategories.twig
  site/public/js/forum.js
Due: php

move ui, add show JSON option
  site/app/controllers/admin/ReportController.php
  site/app/templates/admin/Report.twig
  site/app/views/admin/ReportView.php
  site/public/js/grade-report.js
Due: php

fix name bug
  site/app/templates/forum/ShowCategories.twig
Due: php

php lint
  site/app/controllers/admin/ConfigurationController.php
Due: php

Adding visual cue for expiring threads
  site/app/templates/forum/CreatePost.twig
  site/app/templates/forum/GeneratePostList.twig
  site/app/templates/forum/ShowForumThreads.twig
  site/app/templates/forum/displayThreadList.twig
  site/app/views/forum/ForumThreadView.php
  site/public/css/forum.css
Due: php

Fix space in URL
  site/app/views/course/CourseMaterialsView.php
Due: php

Change grading check
  site/app/views/course/CourseMaterialsView.php
Due: php

Path conditions:
  php: any of: site/app, but not: tests/integrationTests
  autograder: any of: autograder/autograder, but not: tests/integrationTests
  python_submitty_utils: any of: python_submitty_utils/submitty_utils, but not: tests/integrationTests
  migrator: any of: migration/migrator, but not: tests/integrationTests
