Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: true

ignore:
  - "tests/integrationTests"

coverage:
  status:
    project: false
    patch: false
    changes: false
    migrator:
      flags: migrator
      target: 100%

flags:
  php:
    paths:
      - site/app
  autograder:
    paths:
      - autograder/autograder
  python_submitty_utils:
    paths:
      - python_submitty_utils/submitty_utils
  migrator:
    paths:
      - migration/migrator

comment:
  layout: "reach, diff, flags"
  behavior: default

linter
  site/public/js/pdf/PDFAnnotateEmbedded.js
Due: none

Update site/app/controllers/pdf/PDFController.php
  site/app/controllers/pdf/PDFController.php
Due: php

[UI/UX:TAGrading] Add wrapping to input for num/text gradeable (#6409)
  site/app/templates/grading/simple/Display.twig
  site/public/css/simple-grading.css
Due: php

Enforce long hex codes only
  site/.stylelintrc.json
  site/public/css/bootstrap.css
  site/public/css/colors.css
  site/public/css/electronic.css
  site/public/css/forum.css
  site/public/css/gradeOverride.css
  site/public/css/input.css
  site/public/css/menu.css
  site/public/css/pdf/pdf_embedded.css
  site/public/css/pdf/toolbar_embedded.css
  site/public/css/plagiarism.css
  site/public/css/rotatingsectionsform.css
  site/public/css/server.css
Due: none

Add some comments
  site/app/controllers/admin/PlagiarismController.php
Due: php

Fix php linting error v3.0
  site/app/controllers/admin/PlagiarismController.php
Due: php

fixed highlighting issue when entry is null
  site/app/templates/admin/users/StudentActivityDashboard.twig
  site/public/js/activity-dashboard.js
Due: php

linting
  site/app/templates/admin/users/StudentActivityDashboard.twig
Due: php

fix height when banner present
  site/app/templates/grading/electronic/AutogradingPanel.twig
  site/app/templates/grading/electronic/NavigationBar.twig
  site/public/css/electronic.css
Due: php

changes to poll numbers input
  site/app/templates/admin/users/StudentActivityDashboard.twig
  site/public/css/activity-dashboard.css
Due: php

changed the sorting
  site/app/templates/admin/users/StudentActivityDashboard.twig
  site/public/css/activity-dashboard.css
  site/public/js/activity-dashboard.js
Due: php

added scroll message and team size
  site/app/templates/grading/electronic/NavigationBar.twig
  site/public/css/electronic.css
Due: php

stretch banner width
  site/public/css/electronic.css
Due: none

made buttons bootstrap split buttons
  site/app/templates/grading/electronic/AutogradingPanel.twig
  site/app/templates/grading/electronic/Details.twig
  site/app/views/grading/ElectronicGraderView.php
  site/public/css/admin-gradeable.css
Due: php

revert changes to vagrant file
  Vagrantfile
Due: none

Fix queries
  migration/migrator/migrations/course/20210610100802_course_materials_json_to_db.py
Due: migrator

fixed bug
  Vagrantfile
  site/app/templates/grading/electronic/AutogradingPanel.twig
  site/app/views/AutoGradingView.php
  site/app/views/grading/ElectronicGraderView.php
Due: php

improved sorting the section so it supports strings
  site/app/templates/admin/users/StudentActivityDashboard.twig
  site/public/js/activity-dashboard.js
Due: php

removed some console log statements
  site/app/templates/admin/users/StudentActivityDashboard.twig
Due: php

checkpoint
  site/app/libraries/MyCodeRenderer.php
  site/app/libraries/Output.php
Due: php

php linter
  site/app/views/grading/ElectronicGraderView.php
Due: php

Use - instead of _ in IDs
  site/app/templates/plagiarism/PlagiarismConfigurationForm.twig
  site/public/css/plagiarism.css
Due: php

linting
  site/app/controllers/admin/StudentActivityDashboardController.php
  site/app/views/admin/StudentActivityDashboardView.php
  site/public/css/activity-dashboard.css
  site/public/js/activity-dashboard.js
Due: php

Remove catches and update tests
  site/app/controllers/course/CourseMaterialsController.php
  site/app/libraries/database/DatabaseQueries.php
  site/tests/app/controllers/course/CourseMaterialsControllerTester.php
Due: php

added ?: operator
  site/app/models/Team.php
Due: php

switched to shorthand
  site/app/models/Team.php
Due: php

add type hinting to entity
  site/app/entities/db/Column.php
  site/app/entities/db/Table.php
Due: php

add missing void
  site/app/libraries/Core.php
Due: php

add tests around RuntimeException in constructor
  site/app/entities/db/Column.php
  site/tests/app/controllers/admin/SqlToolboxControllerTester.php
  site/tests/app/entities/db/ColumnTester.php
  site/tests/app/entities/db/TableTester.php
Due: php

added line numbers
  site/app/libraries/CustomCodeRenderer.php
  site/app/libraries/MyCodeRenderer.php
  site/app/libraries/Output.php
  site/public/css/highlightjs/atom-one-dark.css
  site/public/css/highlightjs/atom-one-light.css
  site/public/css/markdown.css
Due: php

remove unused import
  site/app/libraries/Output.php
Due: php

fix merge conflict composer
  site/composer.json
  site/composer.lock
Due: none

always keep composer packages sorted
  site/composer.json
Due: none

wip... rewriting sort
  site/public/js/activity-dashboard.js
Due: none

fix non markdown newline not working
  site/public/css/forum.css
  site/public/css/markdown.css
Due: none

Fix poll dates
  site/app/controllers/PollController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/models/DateTimeFormat.php
  site/app/templates/polls/NewPollPage.twig
  site/app/views/PollView.php
Due: php

Add Team Model testing
  site/app/models/Team.php
  site/tests/app/models/TeamTester.php
Due: php

fix dark mode styling and wrapping
  site/public/css/highlightjs/atom-one-dark.css
  site/public/css/markdown.css
Due: none

escape html input
  site/app/libraries/Output.php
Due: php

ignore highlightjs style themes in linting
  site/.stylelintrc.json
Due: none
