Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: true

ignore:
  - "tests/integrationTests"

coverage:
  status:
    project: false
    patch: false
    changes: false
    migrator:
      flags: migrator
      target: 100%

flags:
  php:
    paths:
      - site/app
  autograder:
    paths:
      - autograder/autograder
  python_submitty_utils:
    paths:
      - python_submitty_utils/submitty_utils
  migrator:
    paths:
      - migration/migrator

comment:
  layout: "reach, diff, flags"
  behavior: default

update migration to use built in method and change format of download to use HTTP headers
  migration/migrator/migrations/course/20210111163413_add_poll_data_folder.py
  site/app/controllers/PollController.php
  site/app/templates/polls/AllPollsPageInstructor.twig
Due: php, migrator

refactor to remote duplicated function
  autograder/submitty_autograding_shipper.py
  python_submitty_utils/submitty_utils/ssh_proxy_jump.py
  sbin/shipper_utils/systemctl_wrapper.py
  sbin/shipper_utils/update_and_install_workers.py
Due: python_submitty_utils

requested changes
  python_submitty_utils/submitty_utils/ssh_proxy_jump.py
Due: python_submitty_utils

lint
  autograder/submitty_autograding_shipper.py
Due: none

Update site/app/views/grading/ElectronicGraderView.php
  site/app/views/grading/ElectronicGraderView.php
Due: php

[Feature:InstructorUI] Polls data dump (#6129)
  migration/migrator/migrations/course/20210111163413_add_poll_data_folder.py
  sbin/create_course.sh
  site/app/controllers/PollController.php
  site/app/controllers/admin/ReportController.php
  site/app/libraries/PollUtils.php
  site/app/models/PollModel.php
  site/app/templates/polls/AllPollsPageInstructor.twig
  site/app/views/PollView.php
  site/tests/app/libraries/PollUtilsTester.php
Due: php, migrator

[Feature:Autograding] worker access via ssh with ProxyJump (#6141)
  autograder/submitty_autograding_shipper.py
  python_submitty_utils/submitty_utils/ssh_proxy_jump.py
  sbin/shipper_utils/systemctl_wrapper.py
  sbin/shipper_utils/update_and_install_workers.py
Due: python_submitty_utils

remove feature flag
  site/app/controllers/PollController.php
  site/app/templates/admin/Configuration.twig
Due: php

[Refactor:Forum] move inline JS to own file (#5817)
  site/app/templates/forum/StatPage.twig
  site/app/views/forum/ForumThreadView.php
  site/public/js/forum.js
  site/public/js/stat-page.js
Due: php

backend work and migration change
  migration/migrator/migrations/course/20210113174909_registration_subsection.py
  site/app/controllers/admin/UsersController.php
  site/app/models/User.php
  site/app/templates/admin/users/UserForm.twig
  site/public/js/userform.js
Due: php, migrator

Clean up stray calls to old logging functions
  autograder/autograder/grade_item.py
  autograder/autograder/packer_unpacker.py
Due: autograder

[Feature:InstructorUI] Remove feature flag from Submini/Polls (#6147)
  site/app/controllers/PollController.php
  site/app/templates/admin/Configuration.twig
Due: php

Update ElectronicGraderView.php
  site/app/views/grading/ElectronicGraderView.php
Due: php

[Refactor:TAGrading] Remove old TA grading interface (#5859)
  .github/workflows/main.yml
  .travis.yml
  site/.eslintignore
  site/app/controllers/admin/AdminGradeableController.php
  site/app/controllers/grading/ElectronicGraderController.php
  site/app/templates/grading/electronic/AutogradingPanel.twig
  site/app/templates/grading/electronic/NavigationBar.twig
  site/app/templates/grading/electronic/NavigationBarV2.twig
  site/app/templates/grading/electronic/PeerPanel.twig
  site/app/templates/grading/electronic/PeerResultsPanel.twig
  site/app/templates/grading/electronic/RegradePanel.twig
  site/app/templates/grading/electronic/RubricPanel.twig
  site/app/templates/grading/electronic/StudentInformationPanel.twig
  site/app/templates/grading/electronic/SubmissionPanel.twig
  site/app/views/AutoGradingView.php
  site/app/views/grading/ElectronicGraderView.php
  site/public/css/ta-grading.css
  site/public/js/ta-grading-v2.js
  site/public/js/ta-grading.js
Due: php

Fix setup_for_validation call
  autograder/autograder/grade_item.py
Due: autograder

Add jobname to log_stack_trace
  autograder/autograder/autograding_utils.py
Due: autograder

More function call fixes
  autograder/autograder/grade_item.py
Due: autograder

Fix log call in try_run_worker
  autograder/submitty_autograding_worker.py
Due: none

Fix jobname
  autograder/autograder/autograding_utils.py
Due: autograder

Remove division by zero
  autograder/submitty_autograding_worker.py
Due: none

Overhaul stack trace print format
  autograder/autograder/autograding_utils.py
Due: autograder

Include which_untrusted in log calls in worker
  autograder/submitty_autograding_worker.py
Due: none

Stack trace is_replay option
  autograder/autograder/autograding_utils.py
  autograder/submitty_autograding_shipper.py
Due: autograder

Small fixes to poll export file format
  site/app/controllers/PollController.php
  site/app/controllers/admin/ReportController.php
  site/app/libraries/PollUtils.php
  site/app/libraries/database/DatabaseQueries.php
Due: php

Update poll util test
  site/tests/app/libraries/PollUtilsTester.php
Due: none

[Feature:InstructorUI] Revise JSON file formats of Subminis (#6150)
  site/app/controllers/PollController.php
  site/app/controllers/admin/ReportController.php
  site/app/libraries/PollUtils.php
  site/app/libraries/database/DatabaseQueries.php
  site/tests/app/libraries/PollUtilsTester.php
Due: php

add null check
  site/app/views/course/CourseMaterialsView.php
Due: php

more backend work
  site/app/libraries/database/DatabaseQueries.php
  site/app/models/User.php
  site/app/templates/admin/users/StudentList.twig
Due: php

[Bugfix:InstructorUI] null release date for course materials (#6152)
  site/app/views/course/CourseMaterialsView.php
Due: php

fix tests
  site/tests/app/models/UserTester.php
Due: none

update version of rainbow grades
  .setup/bin/versions.sh
Due: none

deleted unnecessary php functions
  site/app/models/User.php
Due: php

Fix broken if statement
  grading/execute.cpp
Due: none

Unit test fixes
  autograder/tests/test_logger.py
Due: none

remove points for correct and incorrect in config
  site/app/controllers/admin/ConfigurationController.php
  site/app/models/Config.php
  site/app/models/PollModel.php
  site/app/templates/admin/Configuration.twig
  site/tests/app/controllers/admin/ConfigurationControllerTester.php
  site/tests/app/models/ConfigTester.php
Due: php

remove points for correct and incorrect in config
  migration/migrator/migrations/course/20210122142747_remove_poll_point_system.py
Due: migrator

removal field fully
  site/app/controllers/admin/ConfigurationController.php
  site/app/models/Config.php
  site/app/models/PollModel.php
  site/app/templates/admin/Configuration.twig
  site/tests/app/controllers/admin/ConfigurationControllerTester.php
  site/tests/app/models/ConfigTester.php
Due: php

Allow length 0 partnames array
  bin/json_schemas/complete_config_schema.json
Due: none

Print original worker name when echoing logs
  autograder/autograder/autograding_utils.py
  autograder/submitty_autograding_shipper.py
Due: autograder
