Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: true

ignore:
  - "tests/integrationTests"

coverage:
  status:
    project: false
    patch: false
    changes: false
    migrator:
      flags: migrator
      target: 100%

flags:
  php:
    paths:
      - site/app
  autograder:
    paths:
      - autograder/autograder
  python_submitty_utils:
    paths:
      - python_submitty_utils/submitty_utils
  migrator:
    paths:
      - migration/migrator

comment:
  layout: "reach, diff, flags"
  behavior: default

Enable codemirror line wrapping for plain text sa submissions.
  site/app/templates/notebook/Notebook.twig
Due: php

Increase websocket reconnect interval
  site/public/js/websocket.js
Due: none

Enable codemirror line wrapping for plain text sa in notebook builder.
  site/public/css/notebook-builder.css
  site/public/js/notebook_builder/widgets/short-answer-widget.js
Due: none

setup_sample_fix
  .setup/bin/setup_sample_courses.py
Due: none

Added access table to course_tables.sql
  migration/migrator/data/course_tables.sql
  migration/migrator/migrations/course/20200704004101_gradeable_access.py
Due: migrator

wip
  migration/migrator/data/course_tables.sql
Due: migrator

[Refactor:System] Increase websocket reconnect interval (#5887)
  site/public/js/websocket.js
Due: none

lint
  site/app/controllers/grading/ElectronicGraderController.php
  site/app/views/grading/ElectronicGraderView.php
Due: php

[Refactor:Submission] gradeable access timestamp (#5623)
  autograder/autograder/autograding_utils.py
  autograder/autograder/execution_environments/secure_execution_environment.py
  autograder/autograder/packer_unpacker.py
  autograder/submitty_autograding_shipper.py
  grading/load_config_json.cpp
  migration/migrator/data/course_tables.sql
  migration/migrator/migrations/course/20200704004101_gradeable_access.py
  more_autograding_examples/notebook_time_limit/config/config.json
  more_autograding_examples/notebook_time_limit/config/custom_validation_code/timelimit.py
  python_submitty_utils/submitty_utils/dateutils.py
  sbin/restart_shipper_and_all_workers.py
  site/app/controllers/student/SubmissionController.php
  site/app/libraries/database/DatabaseQueries.php
  site/tests/app/controllers/student/SubmissionControllerTester.php
Due: php, autograder, python_submitty_utils, migrator

[Feature:Submission] Message page before gradeable
  bin/json_schemas/complete_config_schema.json
  grading/main_configure.cpp
  more_autograding_examples/notebook_time_limit/config/config.json
  site/app/controllers/student/SubmissionController.php
  site/app/models/gradeable/AutogradingConfig.php
  site/app/templates/submission/homework/LoadMessagePage.twig
  site/app/views/NavigationView.php
Due: php

fix linting issues
  site/app/controllers/student/SubmissionController.php
  site/app/models/gradeable/AutogradingConfig.php
  site/app/views/NavigationView.php
  site/socket/index.php
Due: php

Move from installing nginx-core to nginx-full
  .setup/install_system.sh
  migration/migrator/migrations/system/20200911180000_ngnix_setup.py
Due: migrator

Remove debug log statement which was triggered on every keystroke
  site/app/templates/generic/Popup.twig
Due: php

Add keepalive messages/heartbeats to websockets
  site/public/js/websocket.js
Due: none

Restart web servers on install by default
  .setup/INSTALL_SUBMITTY_HELPER.sh
Due: none

update null check for student interfact
  site/app/templates/polls/AllPollsPageStudent.twig
Due: php

fix specific poll page as well
  site/app/templates/polls/PollPageStudent.twig
Due: php

jslint
  site/public/js/websocket.js
Due: none

test_fix
  tests/e2e/test_stats.py
Due: none

[Bugfix:Testing] Remove debug log statement (#5893)
  site/app/templates/generic/Popup.twig
Due: php

[Bugfix:Submission] codemirror wrap plain text inputs (#5889)
  site/app/templates/notebook/Notebook.twig
  site/public/css/notebook-builder.css
  site/public/js/notebook_builder/widgets/short-answer-widget.js
Due: php

[Bugfix:System] install nginx-full (#5891)
  .setup/install_system.sh
  migration/migrator/migrations/system/20200911180000_ngnix_setup.py
Due: migrator

allow clean and skip_web_restart to be used in conjunction
  .setup/INSTALL_SUBMITTY_HELPER.sh
  .setup/install_system.sh
Due: none

Fixed travis setup
  .setup/travis/setup.sh
Due: none

[Feature:System] Restart web servers on install (#5896)
  .setup/INSTALL_SUBMITTY_HELPER.sh
  .setup/install_system.sh
  .setup/travis/setup.sh
Due: none

[Bugfix:InstructorUI] student view of polls (#5895)
  site/app/templates/polls/AllPollsPageStudent.twig
  site/app/templates/polls/PollPageStudent.twig
Due: php

removing duplicate ids
  .setup/data/courses/sample.yml
Due: none

added first time only option, updated naming
  bin/json_schemas/complete_config_schema.json
  grading/main_configure.cpp
  more_autograding_examples/notebook_time_limit/config/config.json
  site/app/controllers/student/SubmissionController.php
  site/app/models/gradeable/AutogradingConfig.php
  site/app/templates/submission/homework/LoadMessagePage.twig
  site/app/views/NavigationView.php
Due: php

forgot comma, add enter, remove unneeded func
  more_autograding_examples/notebook_time_limit/config/config.json
  site/app/models/gradeable/AutogradingConfig.php
Due: php

cookie effects progress bar
  site/app/controllers/grading/ElectronicGraderController.php
Due: php

updated message name
  site/app/templates/submission/homework/LoadMessagePage.twig
Due: php

add quote for gradeable name
  site/app/templates/submission/homework/LoadMessagePage.twig
Due: php

[Bugfix:Forum] View posts by users fixed on stats page
  site/app/templates/forum/StatPage.twig
Due: php

uncommenting create connection
  tests/e2e/base_testcase.py
Due: none

Reload up to 3 times on "Something went wrong"
  site/app/templates/submission/homework/AutogradingResultsBox.twig
Due: php

make requested changes
  site/app/controllers/student/SubmissionController.php
  site/app/models/gradeable/AutogradingConfig.php
  site/app/templates/submission/homework/LoadMessagePage.twig
  site/app/views/NavigationView.php
Due: php

fix linting (:
  site/app/models/gradeable/AutogradingConfig.php
Due: php

both buttons blue
  site/app/templates/submission/homework/LoadMessagePage.twig
Due: php
