Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: true

ignore:
  - "tests/integrationTests"

coverage:
  status:
    project: false
    patch: false
    changes: false
    migrator:
      flags: migrator
      target: 100%

flags:
  php:
    paths:
      - site/app
  autograder:
    paths:
      - autograder/autograder
  python_submitty_utils:
    paths:
      - python_submitty_utils/submitty_utils
  migrator:
    paths:
      - migration/migrator

comment:
  layout: "reach, diff, flags"
  behavior: default

resolve warning
  site/ts/twig/grading/electronic/AutogradingPanel.ts
Due: none

file permissions not working yet
  .setup/bin/recreate_submissions.py
Due: none

fix db check
  migration/migrator/data/submitty_db.sql
Due: migrator

empty line at end of submitty_db.sql
  migration/migrator/data/course_tables.sql
Due: migrator

removal and re-dump
  migration/migrator/data/course_tables.sql
Due: migrator

revert changes on submitty_db
  migration/migrator/data/submitty_db.sql
Due: migrator

part2 of issue 8770
  site/app/controllers/admin/ReportController.php
  site/app/models/Team.php
  site/app/models/User.php
  site/app/models/gradeable/Submitter.php
Due: php

Dumped databases again
  migration/migrator/data/course_tables.sql
  migration/migrator/data/submitty_db.sql
Due: migrator

[Bugfix:System] Secondary Email Course Sync (#8896)
  migration/migrator/data/submitty_db.sql
  migration/migrator/migrations/master/20230213003244_fix_courses_sync_secondary_email.py
  site/app/controllers/admin/UsersController.php
Due: php, migrator

Fix for teams
  site/app/libraries/database/DatabaseQueries.php
Due: php

make pronouns workgit status!
  site/app/controllers/UserProfileController.php
  site/app/models/User.php
  site/public/js/user-profile.js
Due: php

[Bugfix:InstructorUI] Exc thrown when no students in Rot Sec (#8903)
  site/app/controllers/admin/UsersController.php
Due: php

Update Config
  more_autograding_examples/cpp_cats/config/config.json
Due: none

[Feature:Autograding] Gradeable-Level Build Log (#8330)
  sbin/submitty_daemon_jobs/submitty_jobs/jobs.py
  site/app/controllers/admin/AdminGradeableController.php
Due: php

text changes in UserProfile.twig
  site/app/templates/UserProfile.twig
Due: php

Cypress for histogram/answer, toggles ids
  site/app/templates/polls/ViewPoll.twig
  site/cypress/e2e/polls.spec.js
Due: php

Lint two more files
  site/.eslintignore
  site/public/js/admin-gradeable-updates.js
  site/public/js/simple-grading.js
Due: none

Jesus, semicolons
  site/cypress/e2e/polls.spec.js
Due: none

Requested Changes
  package-lock.json
  site/app/controllers/DockerInterfaceController.php
  site/app/templates/admin/Docker.twig
Due: php

Pattern Check
  site/app/controllers/DockerInterfaceController.php
Due: php

[Bugfix:Submission] Disable Submit button grey out (#8928)
  site/public/js/drag-and-drop.js
Due: none

[Bugfix:Submission] PHP Error when seeking team (#8914)
  site/app/libraries/database/DatabaseQueries.php
Due: php

[Feature:TAGrading] Autograding status in grading interface (#8909)
  site/app/templates/autograding/AutoResults.twig
  site/app/views/AutoGradingView.php
  site/public/css/server.css
Due: php

[Bugfix:TAGrading] Fix scrolling issue on TA grading page (#8902)
  site/app/views/grading/ElectronicGraderView.php
  site/public/css/ta-grading.css
Due: php

added new "Set time" button
  site/app/templates/course/EditCourseMaterialsFolderForm.twig
  site/app/templates/course/EditCourseMaterialsForm.twig
  site/app/templates/course/UploadCourseMaterialsForm.twig
Due: php

Update install_site.sh to remove deprecated flag --no-suggest
  .setup/install_submitty/install_site.sh
Due: none

lint PDF toolbar file
  site/.eslintignore
  site/public/js/pdf/PDFInitToolbar.js
Due: none

lint drag-and-drop stuff
  site/.eslintignore
  site/public/js/drag-and-drop.js
Due: none

Lint notebook builder files
  site/.eslintignore
  site/public/js/notebook_builder/builders/abstract-builder.js
  site/public/js/notebook_builder/builders/itempool-builder.js
  site/public/js/notebook_builder/builders/root-builder.js
  site/public/js/notebook_builder/notebook-builder-utils.js
  site/public/js/notebook_builder/widgets/form-options-widget.js
  site/public/js/notebook_builder/widgets/image-widget.js
  site/public/js/notebook_builder/widgets/item-widget.js
  site/public/js/notebook_builder/widgets/itempool-widget.js
  site/public/js/notebook_builder/widgets/markdown-widget.js
  site/public/js/notebook_builder/widgets/multiple-choice-widget.js
  site/public/js/notebook_builder/widgets/selector-widget.js
  site/public/js/notebook_builder/widgets/short-answer-widget.js
  site/public/js/notebook_builder/widgets/widget.js
Due: none

Update drag-and-drop.js
  site/public/js/drag-and-drop.js
Due: none

Change Contact Info Type
  site/app/libraries/database/DatabaseQueries.php
Due: php

[Bugfix:System] Removed deprecated --no-suggest (#8952)
  .setup/install_submitty/install_site.sh
Due: none

Update Vagrantfile
  Vagrantfile
Due: none

refactor: reduce nesting for tolerance_diff, the function
  grading/dispatch.cpp
  grading/testResults.h
Due: none

Updated README.md
  README.md
Due: none

[Bugfix:User]
  site/app/models/User.php
Due: php

[BugFix:User] Fixed variable name
  site/app/models/User.php
Due: php

Removing for teams
  site/app/libraries/database/DatabaseQueries.php
  site/app/models/Team.php
Due: php

Part 2 of #8770
  site/app/controllers/admin/ReportController.php
  site/app/models/User.php
  site/app/models/gradeable/Submitter.php
Due: php

Add files via upload
  site/app/templates/course/CourseMaterials.twig
Due: php
