Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

remove subdir from gradeable create
  site/app/controllers/admin/AdminGradeableController.php
Due: php

Update AdminGradeableCreate.twig
  site/app/templates/admin/admin_gradeable/AdminGradeableCreate.twig
Due: php

== vs ===
  site/app/controllers/student/SubmissionController.php
Due: php

changes
  site/app/templates/admin/admin_gradeable/AdminGradeableCreate.twig
Due: php

fix: allow empty fields
  site/cypress/e2e/profile.spec.js
Due: none

rename email to secondary email
  site/cypress/e2e/profile.spec.js
Due: none

update docker.py
  .setup/pip/system_requirements.txt
Due: none

Removed <br>'s
  site/app/templates/admin/users/ToggleManageStudentsColumns.twig
Due: php

testing different spot for index
  site/app/controllers/admin/AdminGradeableController.php
  site/app/models/gradeable/Gradeable.php
Due: php

found error?
  site/tests/app/controllers/student/SubmissionControllerTester.php
Due: none

another php error fixed?
  site/tests/app/models/gradeable/GradeableListTester.php
Due: none

Typo fix
  site/app/libraries/database/DatabaseQueries.php
Due: php

change config for tests
  autograder/tests/data/config_files/homework_form.json
  autograder/tests/data/config_files/homework_form_subdirectory.json
Due: none

change config for tests
  autograder/submitty_autograding_shipper.py
  autograder/tests/data/config_files/homework_form.json
  autograder/tests/data/config_files/homework_form_subdirectory.json
  site/app/templates/admin/admin_gradeable/AdminGradeableCreate.twig
Due: php

remove bad changes
  autograder/submitty_autograding_shipper.py
Due: none

change let to const
  site/public/js/ta-grading.js
Due: none

fix: grading interface not tabbable
  site/public/js/ta-grading.js
Due: none

testing changes
  autograder/submitty_autograding_shipper.py
  autograder/tests/data/config_files/expected_vcs_checkout.txt
  autograder/tests/test_submitty_autograding_shipper.py
Due: none

[UI/UX:Submission] Changed default radio button (#8823)
  site/app/templates/submission/homework/SubmitBox.twig
Due: php

fix: course material folder state
  site/app/templates/course/CourseMaterials.twig
Due: php

Fixed typo bug
  site/app/libraries/database/DatabaseQueries.php
Due: php

fix: collapsed sections
  site/public/js/details.js
Due: none

fix: rubric
  site/public/js/ta-grading-rubric.js
Due: none

Fixed a broken link under assignment configuration portal
  site/app/templates/admin/UploadConfigForm.twig
Due: php

fix: extension select
  site/public/js/extensions.js
Due: none

fix: polls
  site/public/js/polls.js
Due: none

fix: grading history
  site/public/js/simple-grading.js
Due: none

lint rule
  site/.eslintrc.json
Due: none

show covered inputs
  site/public/js/simple-grading.js
Due: none

[UI/UX:InstructorUI] Manage Student lateday column (#9151)
  site/app/controllers/admin/LateController.php
  site/app/templates/LateDaysTableGrader.twig
  site/app/templates/admin/users/StudentList.twig
  site/app/views/LateDaysTableView.php
  site/app/views/admin/UsersView.php
Due: php

maybe working (minus one test)
  .setup/bin/recreate_submissions.py
  .setup/bin/setup_sample_courses.py
  migration/migrator/data/course_tables.sql
  site/app/controllers/admin/AdminGradeableController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/models/gradeable/Gradeable.php
  site/app/templates/admin/admin_gradeable/AdminGradeableCreate.twig
  site/app/templates/submission/homework/SubmitBox.twig
  site/public/css/admin-gradeable.css
  site/tests/app/controllers/student/SubmissionControllerTester.php
  site/tests/app/models/gradeable/GradeableListTester.php
Due: php, migrator

linting and comment out test to see e2e
  autograder/tests/test_submitty_autograding_shipper.py
  site/app/models/gradeable/Gradeable.php
  site/app/templates/submission/homework/SubmitBox.twig
Due: php

remove commented out removal of test_suite, and change error message
  autograder/submitty_autograding_shipper.py
  autograder/tests/test_submitty_autograding_shipper.py
Due: none

remove unused lines in test (since change to subdirectory to vcs_partial_path)
  autograder/tests/test_submitty_autograding_shipper.py
Due: none

linting and removing un-needed test
  autograder/submitty_autograding_shipper.py
  autograder/tests/test_submitty_autograding_shipper.py
Due: none

lint test
  autograder/submitty_autograding_shipper.py
Due: none

some edits
  site/app/templates/grading/electronic/Details.twig
  site/app/views/grading/ElectronicGraderView.php
Due: php

maybe
  site/app/controllers/admin/AdminGradeableController.php
  site/app/controllers/student/SubmissionController.php
  site/app/templates/admin/admin_gradeable/AdminGradeableCreate.twig
Due: php

fix site error
  site/app/templates/admin/admin_gradeable/AdminGradeableCreate.twig
Due: php

Added late day tab
  site/app/controllers/admin/UsersController.php
  site/app/templates/admin/users/StudentList.twig
  site/app/templates/admin/users/ToggleManageStudentsColumns.twig
  site/app/views/admin/UsersView.php
  site/public/css/directory.css
  site/public/css/toggle-columns.css
  site/public/js/manage-students.js
Due: php

Path conditions:
  php: any of: site/app, but not: tests/integrationTests
  autograder: any of: autograder/autograder, but not: tests/integrationTests
  python_submitty_utils: any of: python_submitty_utils/submitty_utils, but not: tests/integrationTests
  migrator: any of: migration/migrator, but not: tests/integrationTests
