Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: true

ignore:
  - "tests/integrationTests"

coverage:
  status:
    project: false
    patch: false
    changes: false
    migrator:
      flags: migrator
      target: 100%

flags:
  php:
    paths:
      - site/app
  autograder:
    paths:
      - autograder/autograder
  python_submitty_utils:
    paths:
      - python_submitty_utils/submitty_utils
  migrator:
    paths:
      - migration/migrator

comment:
  layout: "reach, diff, flags"
  behavior: default

The variable can be defined in the if and else statement
  site/app/controllers/forum/ForumController.php
Due: php

add migration to install cloc
  migration/migrator/migrations/system/20230606224256_apt_install_cloc.py
Due: migrator

Trying to do something real quick
  site/app/templates/forum/ThreadPostForm.twig
Due: php

Update ThreadPostForm.twig
  site/app/templates/forum/ThreadPostForm.twig
Due: php

[Feature:System] Stop the worker if it has no space (#7932)
  .setup/INSTALL_SUBMITTY_HELPER.sh
  .setup/submitty_crontab
  autograder/submitty_autograding_worker.py
  sbin/restart_shipper_and_all_workers.py
  sbin/shipper_utils/get_docker_info.py
  sbin/shipper_utils/get_sysinfo.py
  sbin/shipper_utils/systemctl_wrapper.py
  sbin/shipper_utils/update_and_install_workers.py
  sbin/submitty_daemon_jobs/submitty_jobs/jobs.py
  sbin/update_worker_sysinfo.sh
  site/app/controllers/DockerInterfaceController.php
  site/app/templates/admin/Docker.twig
  site/app/views/admin/DockerView.php
  site/cypress/e2e/docker_ui.spec.js
Due: php

linting and refactoring
  site/app/templates/submission/homework/CurrentVersionResults.twig
  site/app/views/submission/HomeworkView.php
Due: php

[Feature:Autograding] Add comment counting (#8035)
  .setup/install_submitty/install_bin.sh
  .setup/update_system.sh
  bin/comment_count.py
  grading/TestCase.cpp
  grading/TestCase.h
  grading/execute.cpp
  migration/migrator/migrations/system/20230606224256_apt_install_cloc.py
  more_autograding_examples/comment_count/config/config.json
  more_autograding_examples/comment_count/submissions/extra.py
  more_autograding_examples/comment_count/submissions/less.py
  more_autograding_examples/comment_count/submissions/solution.py
  more_autograding_examples/comment_count/submissions/submisson.cpp
  tests/integrationTests/tests/comment_count/__init__.py
  tests/integrationTests/tests/comment_count/validation/grade.txt_correct
  tests/integrationTests/tests/comment_count/validation/grade.txt_extra
  tests/integrationTests/tests/comment_count/validation/grade.txt_less
  tests/integrationTests/tests/comment_count/validation/results.json_correct
  tests/integrationTests/tests/comment_count/validation/results.json_extra
  tests/integrationTests/tests/comment_count/validation/results.json_less
Due: migrator

ui change
  site/app/templates/submission/homework/CurrentVersionResults.twig
Due: php

css linting
  site/public/css/submitbox.css
Due: none

linting
  site/app/views/submission/HomeworkView.php
Due: php

Fix up isEmpty logic so that specifying time is optional
  site/app/controllers/forum/ForumController.php
Due: php

Update DatabaseQueries.php
  site/app/libraries/database/DatabaseQueries.php
Due: php

Fix errors
  site/public/js/forum.js
Due: none

First set of corrections, add User module and add breadcrumb
  site/app/views/calendar/CalendarView.php
Due: php

Make the two trys just one
  site/app/controllers/calendar/CalendarController.php
Due: php

Fix typo
  site/app/controllers/admin/AdminGradeableController.php
  site/app/models/gradeable/Gradeable.php
Due: php

remove the concatenation
  site/app/controllers/calendar/CalendarController.php
Due: php

Make WebResponse easier to read
  site/app/controllers/calendar/CalendarController.php
Due: php

Changed pronouns order to always be after user_numeric_id
  .setup/data/users/grader.yml
  .setup/data/users/grader2.yml
  .setup/data/users/instructor.yml
  .setup/data/users/submitty-admin.yml
  .setup/data/users/superuser.yml
  .setup/data/users/ta.yml
  .setup/data/users/ta2.yml
  .setup/data/users/ta3.yml
Due: none

Revert "Update ElectronicGraderView.php"
  site/app/views/grading/ElectronicGraderView.php
Due: php

Add in a space so more understandable
  site/app/templates/calendar/NewCalendarItem.twig
Due: php

Check with a space
  site/app/controllers/calendar/CalendarController.php
Due: php

Combine into one execute
  migration/migrator/migrations/course/20230601123230_change_regrade_to_grade_inquiry.py
Due: migrator

Revert "merge conflict"
  site/app/templates/grading/electronic/Details.twig
Due: php

fix whitespace
  site/app/libraries/database/DatabaseQueries.php
  site/app/templates/officeHoursQueue/CurrentQueue.twig
  site/app/templates/officeHoursQueue/QueueHistory.twig
Due: php

cookie update
  site/public/js/forum.js
Due: none

fix space
  site/app/libraries/database/DatabaseQueries.php
Due: php

space
  site/public/js/forum.js
Due: none

update baseline
  site/.performance_warning_ignore.json
Due: none

Update HomeworkView.php
  site/app/views/submission/HomeworkView.php
Due: php

Basic structure for alpha
  site/public/js/forum.js
Due: none

refactoring, merge doesn't fully work locally
  site/cypress/e2e/test_forum.spec.js
Due: none

js lint
  site/cypress/e2e/test_forum.spec.js
Due: none

vcs subdirectory - backwards compatibility
  autograder/autograder/packer_unpacker.py
Due: autograder

change from submission to above
  site/app/templates/submission/homework/CurrentVersionBox.twig
  site/app/templates/submission/homework/CurrentVersionResults.twig
  site/public/css/submitbox.css
Due: php

linting
  .github/workflows/submitty_ci.yml
Due: none
