Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: true

ignore:
  - "tests/integrationTests"

coverage:
  status:
    project: false
    patch: false
    changes: false
    migrator:
      flags: migrator
      target: 100%

flags:
  php:
    paths:
      - site/app
  autograder:
    paths:
      - autograder/autograder
  python_submitty_utils:
    paths:
      - python_submitty_utils/submitty_utils
  migrator:
    paths:
      - migration/migrator

comment:
  layout: "reach, diff, flags"
  behavior: default

initial work
  site/app/controllers/student/TeamController.php
  site/app/templates/Notifications.twig
Due: php

timestamp option finished
  bin/json_schemas/complete_config_schema.json
  grading/execute.cpp
Due: none

Fixed accessibility as well as sorting of people removed from the queue
  site/app/libraries/database/DatabaseQueries.php
  site/app/templates/OfficeHoursQueueInstructor.twig
  site/app/templates/OfficeHoursQueueStudent.twig
Due: php

initial work
  site/app/controllers/student/SubmissionController.php
  site/app/templates/submission/homework/SubmitBox.twig
  site/app/views/submission/HomeworkView.php
  site/public/js/drag-and-drop.js
Due: php

[Bugfix:TAGrading] Fix broken ordering of first/last name for grading
  site/app/controllers/grading/SimpleGraderController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/libraries/database/PostgresqlDatabaseQueries.php
Due: php

Update ForumThreadView.php
  site/app/views/forum/ForumThreadView.php
Due: php

fixes
  site/app/controllers/student/SubmissionController.php
  site/app/views/submission/HomeworkView.php
  site/public/js/drag-and-drop.js
Due: php

[Refactor:PHP] Fix Squiz.Functions.MultiLineFunctionDeclaration style errors
  site/app/controllers/GlobalController.php
  site/app/controllers/HomePageController.php
  site/app/controllers/admin/AdminGradeableController.php
  site/app/controllers/admin/ConfigurationController.php
  site/app/controllers/admin/LateController.php
  site/app/controllers/admin/PlagiarismController.php
  site/app/controllers/admin/UsersController.php
  site/app/controllers/course/CourseMaterialsController.php
  site/app/controllers/grading/ElectronicGraderController.php
  site/app/controllers/grading/SimpleGraderController.php
  site/app/libraries/FileUtils.php
  site/app/libraries/Output.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/libraries/database/PostgresqlDatabaseQueries.php
  site/app/models/AbstractModel.php
  site/app/models/GradingOrder.php
  site/app/models/GradingSection.php
  site/app/models/NotificationFactory.php
  site/app/models/gradeable/Gradeable.php
  site/app/models/gradeable/GradeableList.php
  site/app/models/gradeable/GradedGradeable.php
  site/app/views/HomePageView.php
  site/app/views/forum/ForumThreadView.php
  site/app/views/grading/ElectronicGraderView.php
  site/app/views/submission/HomeworkView.php
  site/tests/BaseUnitTest.php
  site/tests/app/libraries/AccessTester.php
  site/tests/app/libraries/UtilsTester.php
  site/tests/app/libraries/database/AbstractDatabaseQueriesTester.php
  site/tests/app/libraries/database/AbstractDatabaseTester.php
  site/tests/app/libraries/database/PostgresqlDatabaseQueriesTester.php
  site/tests/app/models/gradeable/GradeableListTester.php
  site/tests/ruleset.xml
Due: php

added more status codes for removal
  site/app/controllers/OfficeHoursQueueController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/templates/OfficeHoursQueueInstructor.twig
Due: php

[Refactor:PHP] Fix Squiz.Functions.MultiLineFunctionDeclaration style errors (#4654)
  site/app/controllers/GlobalController.php
  site/app/controllers/HomePageController.php
  site/app/controllers/admin/AdminGradeableController.php
  site/app/controllers/admin/ConfigurationController.php
  site/app/controllers/admin/LateController.php
  site/app/controllers/admin/PlagiarismController.php
  site/app/controllers/admin/UsersController.php
  site/app/controllers/course/CourseMaterialsController.php
  site/app/controllers/grading/ElectronicGraderController.php
  site/app/controllers/grading/SimpleGraderController.php
  site/app/libraries/FileUtils.php
  site/app/libraries/Output.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/libraries/database/PostgresqlDatabaseQueries.php
  site/app/models/AbstractModel.php
  site/app/models/GradingOrder.php
  site/app/models/GradingSection.php
  site/app/models/NotificationFactory.php
  site/app/models/gradeable/Gradeable.php
  site/app/models/gradeable/GradeableList.php
  site/app/models/gradeable/GradedGradeable.php
  site/app/views/HomePageView.php
  site/app/views/forum/ForumThreadView.php
  site/app/views/grading/ElectronicGraderView.php
  site/app/views/submission/HomeworkView.php
  site/tests/BaseUnitTest.php
  site/tests/app/libraries/AccessTester.php
  site/tests/app/libraries/UtilsTester.php
  site/tests/app/libraries/database/AbstractDatabaseQueriesTester.php
  site/tests/app/libraries/database/AbstractDatabaseTester.php
  site/tests/app/libraries/database/PostgresqlDatabaseQueriesTester.php
  site/tests/app/models/gradeable/GradeableListTester.php
  site/tests/ruleset.xml
Due: php

added constants for all status codes
  site/app/libraries/database/DatabaseQueries.php
  site/app/models/OfficeHoursQueueInstructor.php
Due: php

[Refactor:Forum] Use join twig filter for post classes array (#4637)
  site/app/templates/forum/CreatePost.twig
  site/app/views/forum/ForumThreadView.php
Due: php

fixing minor changes
  site/app/controllers/admin/UsersController.php
  site/app/models/CourseMaterial.php
Due: php

edit modal creation
  site/app/models/CourseMaterial.php
  site/app/templates/course/EditCourseMaterialsForm.twig
Due: php

[Documentation:README] Fix quotation marks around late days
  README.md
Due: none

[Bugfix:Notifications] Fix broken team invitation URL notification (#4650)
  site/app/controllers/student/TeamController.php
  site/app/templates/Notifications.twig
Due: php

[Refactor:PHP] Fix Generic.WhiteSpace.ScopeIndent style errors
  site/app/controllers/OfficeHoursQueueController.php
  site/app/controllers/admin/EmailRoomSeatingController.php
  site/app/controllers/admin/PlagiarismController.php
  site/app/controllers/course/CourseMaterialsController.php
  site/app/controllers/forum/ForumController.php
  site/app/controllers/forum/ForumController2.php
  site/app/controllers/grading/ElectronicGraderController.php
  site/app/controllers/pdf/PDFController.php
  site/app/controllers/student/GradeInquiryController.php
  site/app/libraries/DiffViewer.php
  site/app/libraries/ExceptionHandler.php
  site/app/libraries/FileUtils.php
  site/app/libraries/GradingQueue.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/libraries/database/PostgresqlDatabaseQueries.php
  site/app/models/Config.php
  site/app/models/Email.php
  site/app/models/User.php
  site/app/models/gradeable/AutoGradedVersion.php
  site/app/models/gradeable/Component.php
  site/app/models/gradeable/Gradeable.php
  site/app/views/AutoGradingView.php
  site/app/views/GlobalView.php
  site/app/views/OfficeHoursQueueView.php
  site/app/views/admin/PlagiarismView.php
  site/app/views/course/CourseMaterialsView.php
  site/app/views/forum/ForumThreadView.php
  site/app/views/grading/ElectronicGraderView.php
  site/tests/app/controllers/course/CourseMaterialsControllerTester.php
  site/tests/ruleset.xml
Due: php

[Testing:PHP] Add baseline for phpstan for higher level
  .setup/INSTALL_SUBMITTY_HELPER_SITE.sh
  site/phpstan-baseline.neon
  site/phpstan.neon
Due: none

reordered columns, times are now hms vs timestamp, clearer leave msg
  site/app/libraries/database/DatabaseQueries.php
  site/app/models/OfficeHoursQueueStudent.php
  site/app/templates/OfficeHoursQueueInstructor.twig
Due: php

inital work
  site/app/templates/GlobalHeader.twig
  site/app/views/GlobalView.php
Due: php

fixed a small bug when user was removed from the queue over getting help
  site/app/models/OfficeHoursQueueStudent.php
Due: php

update files
  migration/migrator/migrations/system/20191026164637_ducky.py
  site/public/img/favicon.ico
  site/public/img/submitty-banner.png
  site/public/img/submitty-mascot.png
Due: migrator

[Feature:InstructorUI] Add leading zeros to page numbers on QR bulk upload (#4574)
  sbin/submitty_daemon_jobs/submitty_jobs/bulk_qr_split.py
Due: none

do not download dir if restricted file within
  site/app/controllers/course/CourseMaterialsController.php
Due: php

[Bugfix:TAGrading] Fix broken ordering of first/last name for grading (#4653)
  site/app/controllers/grading/SimpleGraderController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/libraries/database/PostgresqlDatabaseQueries.php
Due: php

[BugFix:BulkUpload] Fixed error handling for large files on Bulk Upload (#4652)
  site/app/controllers/student/SubmissionController.php
  site/app/templates/submission/homework/SubmitBox.twig
  site/app/views/submission/HomeworkView.php
  site/public/js/drag-and-drop.js
Due: php

made requested changes
  autograder/autograder/autograding_utils.py
Due: autograder

[Testing:InstructorUI] test for course materials upload with a requested path (#4623)
  site/tests/app/controllers/course/CourseMaterialsControllerTester.php
Due: none

commiting
  site/app/templates/course/CourseMaterials.twig
  site/app/templates/course/EditCourseMaterialsForm.twig
  site/public/js/server.js
Due: php

edits
  migration/migrator/migrations/system/20191026164637_ducky.py
  site/app/templates/GlobalHeader.twig
Due: php, migrator

changes function signature
  autograder/autograder/autograding_utils.py
  autograder/autograder/execution_environments/container_network.py
  autograder/autograder/execution_environments/secure_execution_environment.py
Due: autograder

fixed tests
  site/app/controllers/course/CourseMaterialsController.php
  site/tests/app/controllers/course/CourseMaterialsControllerTester.php
Due: php

fixed the unit tests
  site/app/models/OfficeHoursQueueStudent.php
Due: php

change key
  site/app/views/GlobalView.php
Due: php

removed extra include of jquery
  site/app/views/PDFView.php
Due: php

initial work
  site/app/templates/submission/homework/CurrentVersionResults.twig
  site/public/js/confetti.js
Due: php

change var name
  site/public/js/confetti.js
Due: none

storing changes
  site/app/templates/course/CourseMaterials.twig
  site/app/templates/course/EditCourseMaterialsForm.twig
  site/public/js/server.js
Due: php

Removed implementation in PostGres and fixed implementation in DBQ
  site/app/libraries/database/DatabaseQueries.php
  site/app/libraries/database/PostgresqlDatabaseQueries.php
Due: php

fix test
  site/tests/app/controllers/course/CourseMaterialsControllerTester.php
Due: none
