Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: true

ignore:
  - "tests/integrationTests"

coverage:
  status:
    project: false
    patch: false
    changes: false
    migrator:
      flags: migrator
      target: 100%

flags:
  php:
    paths:
      - site/app
  autograder:
    paths:
      - autograder/autograder
  python_submitty_utils:
    paths:
      - python_submitty_utils/submitty_utils
  migrator:
    paths:
      - migration/migrator

comment:
  layout: "reach, diff, flags"
  behavior: default

adding base url
  site/app/templates/submission/homework/SubmitBox.twig
Due: php

reverting
  site/app/models/gradeable/Gradeable.php
Due: php

subdirectory cd
  site/app/templates/submission/homework/SubmitBox.twig
Due: php

formatting
  site/app/templates/submission/homework/SubmitBox.twig
Due: php

formatting
  site/app/templates/admin/admin_gradeable/AdminGradeableCreate.twig
Due: php

Get max_clamp from PHP
  site/app/controllers/grading/SimpleGraderController.php
  site/public/js/simple-grading.js
Due: php

Styling fix
  site/app/controllers/grading/SimpleGraderController.php
  site/public/css/simple-grading.css
Due: php

Improve socket errors and add self healing for database
  site/app/libraries/socket/Server.php
  site/public/js/websocket.js
Due: php

Requested change
  .setup/install_worker.sh
Due: none

feat: upgrading/downgrading script
  .setup/apache/upgrade-h2.sh
Due: none

fix: typo
  .setup/apache/upgrade-h2.sh
Due: none

Expand/Collapse (Basics)
  site/app/templates/autograding/AutoResults.twig
  site/public/js/server.js
Due: php

Update AutoGradedGradeable.php
  site/app/models/gradeable/AutoGradedGradeable.php
Due: php

[Bugfix:Developer] Fix type annotation for points (#7941)
  site/app/models/gradeable/AutoGradedGradeable.php
Due: php

Commented out const each
  site/app/templates/autograding/AutoResults.twig
  site/public/js/server.js
Due: php

Numeric cell behavior change
  site/public/js/server.js
  site/public/js/simple-grading.js
Due: none

[Bugfix:Submission] Bulk submission info collision (#7918)
  site/app/views/submission/HomeworkView.php
Due: php

[Feature:Autograding] Docker UI OS version (#7642)
  sbin/shipper_utils/update_and_install_workers.py
  site/app/templates/admin/Docker.twig
  site/app/views/admin/DockerView.php
Due: php

[Feature:InstructorUI] Changed delete grader to demote grader (#7907)
  site/app/controllers/admin/UsersController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/templates/admin/users/DemoteGraderForm.twig
  site/app/templates/admin/users/GraderList.twig
  site/app/views/admin/UsersView.php
  site/public/js/userform.js
Due: php

feat: check env before up/downgrading
  .setup/apache/dev-upgrade-h2.sh
Due: none

feat!: migration for apache
  migration/migrator/migrations/system/20220526160000_apache_http2.py
Due: migrator

feat!: h2+tls is default for dev env
  .setup/INSTALL_SUBMITTY_HELPER.sh
Due: none

fix: cypress test baseUrl
  site/cypress.json
Due: none

[Feature:Submission] Create Late Day Cache view (#7287)
  site/app/controllers/admin/LateController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/templates/admin/LateDays.twig
  site/app/templates/admin/late_days_forensics/LateDaysForensicsBase.twig
  site/app/templates/admin/late_days_forensics/LateDaysForensicsTablePlugin.twig
  site/app/views/admin/LateDayView.php
  site/phpstan-baseline.neon
  site/public/js/latedays.js
  site/tests/app/controllers/admin/LateControllerTester.php
Due: php

Small fixes
  site/app/templates/grading/simple/Display.twig
  site/public/css/simple-grading.css
Due: php

Removed key_to_click class
  site/app/templates/course/CourseMaterials.twig
Due: php

Corrected anchor tag
  site/app/templates/course/CourseMaterials.twig
Due: php

Removed class key to click
  site/app/templates/notebook/Notebook.twig
Due: php

Removed Class key to click
  site/app/templates/grading/electronic/SubmissionPanel.twig
Due: php

Removed Class key_to_click
  site/app/templates/course/CourseMaterials.twig
Due: php

Removed class key_to_click
  site/app/templates/grading/Images.twig
Due: php

Removed key_to_click
  site/app/templates/grading/electronic/Details.twig
Due: php

Removed Class key_to_click
  site/app/templates/grading/electronic/Details.twig
Due: php

Add cloning of AnalysisToolsTS
  .setup/INSTALL_SUBMITTY_HELPER.sh
  .setup/bin/update_repos.sh
  .setup/bin/versions.sh
Due: none

Also report error when database attempts to reconnect
  site/app/libraries/socket/Server.php
Due: php

Update simple-grading.js
  site/public/js/simple-grading.js
Due: none

Improved Expand/Collapse Sync
  site/app/templates/autograding/AutoResults.twig
  site/public/js/server.js
Due: php

Added some Comments
  site/app/templates/autograding/AutoResults.twig
  site/public/js/server.js
Due: php
