Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

[Bugfix:UI] Improve styling of customize email option
  site/app/templates/admin/Configuration.twig
Due: php

Removing Unreachable Code
  site/app/controllers/admin/UsersController.php
  site/app/libraries/database/DatabaseFactory.php
  site/tests/ruleset.xml
Due: php

Fixed a few more coding standards
  site/app/controllers/admin/ReportController.php
  site/app/libraries/Output.php
  site/tests/ruleset.xml
Due: php

Added site_log_path to workers
  .setup/CONFIGURE_SUBMITTY.py
Due: none

fixing undefined variable
  site/app/controllers/admin/UsersController.php
Due: php

adding spaces
  site/app/controllers/course/CourseMaterialsController.php
  site/app/templates/course/CourseMaterials.twig
  site/app/templates/course/EditCourseMaterialsForm.twig
  site/app/templates/course/UploadCourseMaterialsForm.twig
Due: php

fix using wrong variable in twig
  site/app/templates/admin/Configuration.twig
Due: php

[Refactor:PHP] Fix Squiz.PHP.NonExecutableCode.Unreachable style errors (#4792)
  site/app/controllers/admin/UsersController.php
  site/app/libraries/database/DatabaseFactory.php
  site/tests/ruleset.xml
Due: php

[Refactor:PHP] Fix SlevomatCodingStandard.PHP.ShortList.LongListUsed style errors (#4794)
  site/app/controllers/admin/ReportController.php
  site/app/libraries/Output.php
  site/tests/ruleset.xml
Due: php

[Refactor:PHP] Combine DatabaseQueries.php and PostgresqlDatabaseQueries.php into single file (#4763)
  site/app/libraries/database/DatabaseFactory.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/libraries/database/PostgresqlDatabase.php
  site/app/libraries/database/PostgresqlDatabaseQueries.php
  site/phpstan-baseline.neon
  site/tests/app/libraries/database/DatabaseFactoryTester.php
  site/tests/app/libraries/database/PostgresqlDatabaseQueriesTester.php
Due: php

initial WIP
  more_autograding_examples/postgres_database_queries/config.json
  more_autograding_examples/postgres_database_queries/setup/Dockerfile
  more_autograding_examples/postgres_database_queries/setup/contributors.sql
  more_autograding_examples/postgres_database_queries/setup/setup-contrib.sql
  more_autograding_examples/postgres_database_queries/setup/setup-users.sql
  more_autograding_examples/postgres_database_queries/submissions/1.sql
  more_autograding_examples/postgres_database_queries/submissions/2.sql
  more_autograding_examples/postgres_database_queries/submissions/3.sql
  more_autograding_examples/postgres_database_queries/test_input/sql_runner.py
  more_autograding_examples/postgres_database_queries/test_output/1-expected.txt
  more_autograding_examples/postgres_database_queries/test_output/2-expected.txt
  more_autograding_examples/postgres_database_queries/test_output/3-expected.txt
Due: none

fix deprecation warnings for getDocument
  site/package-lock.json
  site/package.json
  site/public/js/pdf/PDFAnnotate.js
  site/public/js/pdf/PDFAnnotateEmbedded.js
Due: none

update getViewport parameters
  site/public/js/pdf/PDFAnnotate.js
Due: none

[Bugfix:PDFAnnotate] Update annotator and fix deprecation warnings (#4799)
  site/package-lock.json
  site/package.json
  site/public/js/pdf/PDFAnnotate.js
  site/public/js/pdf/PDFAnnotateEmbedded.js
Due: none

revise grading done script
  bin/grading_done.py
Due: none

mostly done with grading_done.py rewrite
  bin/grading_done.py
  sbin/submitty_autograding_shipper.py
Due: none

[Bugfix:TAGrading] properly calculate median for grades
  site/app/templates/grading/electronic/Status.twig
Due: php

further cleanup
  site/app/templates/grading/electronic/Status.twig
Due: php

some style changes
  site/app/templates/grading/electronic/Status.twig
Due: php

[Refactor:PHP] Move query from late day view into controller
  site/app/controllers/admin/LateController.php
  site/app/views/admin/LateDayView.php
  site/tests/BaseUnitTest.php
  site/tests/app/controllers/admin/LateControllerTester.php
Due: php

[Refactor:Forum] Move inline unresolved/resolved icon style to css
  site/app/templates/forum/displayThreadList.twig
  site/app/views/forum/ForumThreadView.php
  site/public/css/colors.css
  site/public/css/forum.css
  site/public/js/forum.js
Due: php

[Refactor:PHP] Move query logic out of HomePage view to controller
  site/app/controllers/HomePageController.php
  site/app/libraries/Output.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/models/Course.php
  site/app/views/HomePageView.php
  site/phpstan-baseline.neon
  site/tests/app/models/CourseTester.php
Due: php

[Refactor:JS] Update error/success messages to match PHP generated ones
  site/app/templates/GlobalHeader.twig
  site/public/js/forum.js
  site/public/js/server.js
Due: php

requested changes
  site/app/templates/submission/homework/BulkUploadBox.twig
Due: php

forgot brackets
  site/app/templates/submission/homework/BulkUploadBox.twig
Due: php

fix linting and test errors
  site/app/libraries/ErrorMessages.php
  site/app/libraries/FileUtils.php
  site/tests/app/libraries/FileUtilsTester.php
Due: php

fixed linter errors
  site/tests/app/libraries/FileUtilsTester.php
Due: none

No longer allow VCS_ files to accidentally be picked up by the shipper
  sbin/submitty_autograding_shipper.py
Due: none

[Feature:Install] Added site_log_path to worker conf json (#4793)
  .setup/CONFIGURE_SUBMITTY.py
Due: none

[Refactor:Autograding] Fix module string for insert_database_version_data
  autograder/autograder/insert_database_version_data.py
Due: autograder

Fixed bad csv specification message
  site/app/templates/admin/LateDays.twig
Due: php

[Documentation:InstructorUI] Incorrect late day CSV information (#4815)
  site/app/templates/admin/LateDays.twig
Due: php

add comment
  sbin/submitty_autograding_shipper.py
Due: none

[Bugfix:Autograding] Shipper was grading VCS queue files (#4813)
  sbin/submitty_autograding_shipper.py
Due: none

[Feature:Autograding] Revise grading done for machines/capabilities (#4802)
  bin/grading_done.py
  sbin/submitty_autograding_shipper.py
Due: none

Revert "Changes to be committed:"
  site/app/models/Course.php
Due: php

[Bugfix:InstructorUI] Allow setting preferred name to empty string
  site/app/controllers/admin/UsersController.php
Due: php

Revert "Revert "Changes to be committed:""
  site/app/models/Course.php
Due: php

Recover branch work
  migration/migrator/data/submitty_db.sql
  migration/migrator/migrations/master/20191107184139_organize_courses_by_term.py
  sbin/create_term.sh
  site/app/controllers/HomePageController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/models/Course.php
  site/app/templates/HomePage.twig
  site/tests/app/models/CourseTester.php
Due: php, migrator

further refinement on configuration controller
  site/app/controllers/admin/ConfigurationController.php
  site/app/models/Config.php
  site/app/templates/admin/Configuration.twig
  site/app/views/admin/ConfigurationView.php
  site/tests/app/controllers/admin/ConfigurationControllerTester.php
Due: php

Path conditions:
  php: any of: site/app, but not: tests/integrationTests
  autograder: any of: autograder/autograder, but not: tests/integrationTests
  python_submitty_utils: any of: python_submitty_utils/submitty_utils, but not: tests/integrationTests
  migrator: any of: migration/migrator, but not: tests/integrationTests
