Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

test
  .github/workflows/submitty_ci_2.yml
  tests/e2e/base_testcase.py
Due: none

test
  .github/workflows/submitty_ci_2.yml
  tests/e2e/base_testcase.py
  tests/e2e/test_login.py
Due: none

fix vcs regrading
  autograder/autograder/autograding_utils.py
  bin/regrade.py
Due: autograder

debug
  tests/e2e/base_testcase.py
Due: none

bugfix
  bin/regrade.py
Due: none

stray_comment
  autograder/autograder/autograding_utils.py
Due: autograder

[Bugfix:Autograding] regrading vcs/git submissions (#6185)
  autograder/autograder/autograding_utils.py
  bin/regrade.py
Due: autograder

quick fix
  .setup/bin/setup_sample_courses.py
Due: none

debug
  site/app/authentication/PamAuthentication.php
Due: php

4 panels for ta grading
  site/app/templates/grading/electronic/PanelSelectorModal.twig
  site/public/js/panel-selector-modal.js
  site/public/js/ta-grading.js
Due: php

no duplicates
  .setup/bin/setup_sample_courses.py
  .setup/data/random/students.txt
Due: none

undoing changes
  .setup/data/random/students.txt
  site/app/models/gradeable/Gradeable.php
Due: php

undoing changes
  .setup/bin/setup_sample_courses.py
Due: none

try database auth
  .github/workflows/submitty_ci_2.yml
  site/app/authentication/PamAuthentication.php
Due: php

add rest of tests, git test
  .github/workflows/submitty_ci_2.yml
  tests/e2e/base_testcase.py
Due: none

remove travis env checks and start cleanup
  .github/workflows/submitty_ci_2.yml
  .setup/INSTALL_SUBMITTY_HELPER.sh
  tests/e2e/test_grade_inquiry.py
  tests/e2e/test_pdfs.py
  tests/e2e/test_prev_next.py
  tests/e2e/test_sidebar.py
  tests/integrationTests/lib.py
Due: none

test and cleanup
  .github/workflows/submitty_ci_2.yml
  .setup/INSTALL_SUBMITTY_HELPER.sh
  .setup/bin/setup_sample_courses.py
  .setup/testing/autograder.sh
  migration/migrator/db.py
  sbin/create_course.sh
  site/app/authentication/PamAuthentication.php
  tests/e2e/base_testcase.py
Due: php, migrator

cleanup and debug
  .github/workflows/submitty_ci_2.yml
  .setup/INSTALL_SUBMITTY_HELPER.sh
  .travis.yml
  sbin/create_course.sh
  site/app/authentication/PamAuthentication.php
  tests/e2e/base_testcase.py
  tests/e2e/test_submission.py
  tests/git_test.sh
Due: php

modified migration and ran course dump
  migration/migrator/data/course_tables.sql
  migration/migrator/migrations/course/20210204140110_modify_subsection.py
Due: migrator

debug
  .github/workflows/submitty_ci_2.yml
  tests/e2e/test_submission.py
  tests/git_test.sh
Due: none

cleanup
  .github/workflows/submitty_ci_2.yml
  tests/e2e/test_submission.py
Due: none

debug
  .github/workflows/submitty_ci_2.yml
  tests/e2e/test_submission.py
Due: none

fix syntax
  .github/workflows/submitty_ci_2.yml
Due: none

debug
  .github/workflows/submitty_ci_2.yml
Due: none

Worker and BaseScheduler classes
  autograder/autograder/scheduler.py
Due: autograder

specify ubuntu-18
  .github/workflows/submitty_ci_2.yml
Due: none

remove TODO
  site/app/controllers/grading/ElectronicGraderController.php
Due: php

Actually remove todo
  site/app/controllers/grading/ElectronicGraderController.php
  site/public/js/ta-grading.js
Due: php

Update site/app/templates/polls/PollPageStudent.twig
  site/app/templates/polls/PollPageStudent.twig
Due: php

Update site/app/views/PollView.php
  site/app/views/PollView.php
Due: php

Update site/app/controllers/PollController.php
  site/app/controllers/PollController.php
Due: php

FCFS scheduler
  autograder/autograder/scheduler.py
Due: autograder

debug
  .github/workflows/submitty_ci_1.yml
  .github/workflows/submitty_ci_2.yml
Due: none

fix syntax
  .github/workflows/submitty_ci_1.yml
Due: none

add missing install
  .github/workflows/submitty_ci_2.yml
Due: none

debug and add integration tests
  .github/workflows/submitty_ci_2.yml
Due: none

Path conditions:
  php: any of: site/app, but not: tests/integrationTests
  autograder: any of: autograder/autograder, but not: tests/integrationTests
  python_submitty_utils: any of: python_submitty_utils/submitty_utils, but not: tests/integrationTests
  migrator: any of: migration/migrator, but not: tests/integrationTests
