Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

try apt installing missing command
  .github/workflows/submitty_ci_2.yml
Due: none

[Bugfix:TAGrading] Fix invalid closing p tag
  site/app/templates/grading/electronic/ta_status/StatusData.twig
Due: php

Add import and export for polling
  site/app/controllers/PollController.php
  site/app/models/PollModel.php
  site/app/templates/polls/AllPollsPageInstructor.twig
  site/app/views/PollView.php
Due: php

remove phpenv
  .github/workflows/submitty_ci_2.yml
Due: none

Fix all other submission boxes breaking
  site/app/views/submission/HomeworkView.php
Due: php

change type hint from multiresponse to jsonresponse
  site/app/controllers/PollController.php
Due: php

actually remove
  .github/workflows/submitty_ci_2.yml
Due: none

fix syntax
  .github/workflows/submitty_ci_2.yml
Due: none

cache lateday info after every construction
  migration/migrator/data/course_tables.sql
  migration/migrator/migrations/course/20201221204041_add_status_column.py
  site/app/controllers/student/SubmissionController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/models/gradeable/GradedGradeable.php
  site/app/models/gradeable/LateDays.php
Due: php, migrator

Added padding, additional edge case for bottom scroll
  site/public/css/electronic.css
  site/public/js/ta-grading-v2.js
Due: none

fix methods to account for cache
  site/app/libraries/database/DatabaseQueries.php
  site/app/models/gradeable/Gradeable.php
  site/app/views/grading/ElectronicGraderView.php
Due: php

fix
  .github/workflows/submitty_ci_2.yml
Due: none

add missing
  .github/workflows/submitty_ci_2.yml
Due: none

fix phpstan
  site/app/controllers/grading/ElectronicGraderController.php
  site/phpstan-baseline.neon
Due: php

test
  .github/workflows/submitty_ci_2.yml
Due: none

fix typo to properly load responses
  site/app/controllers/PollController.php
Due: php

initial write to cache and read
  site/app/controllers/grading/ElectronicGraderController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/models/gradeable/Gradeable.php
  site/app/models/gradeable/GradedGradeable.php
  site/app/models/gradeable/LateDays.php
Due: php

spacing
  site/app/libraries/database/DatabaseQueries.php
  site/app/models/gradeable/LateDays.php
Due: php

basic cache functionality
  site/app/libraries/database/DatabaseQueries.php
  site/app/models/gradeable/LateDays.php
Due: php

Account for (hopefully) all re-cache triggers
  site/app/controllers/admin/AdminGradeableController.php
  site/app/controllers/admin/LateController.php
  site/app/controllers/student/SubmissionController.php
  site/app/models/gradeable/GradedGradeable.php
  site/app/models/gradeable/LateDays.php
Due: php

fix after testing
  site/app/controllers/admin/AdminGradeableController.php
  site/app/controllers/admin/LateController.php
  site/app/controllers/student/SubmissionController.php
  site/app/models/gradeable/LateDays.php
Due: php

lint
  site/app/controllers/admin/LateController.php
  site/app/models/gradeable/LateDays.php
Due: php

details page works with cache updates
  site/app/controllers/admin/LateController.php
  site/app/models/gradeable/GradedGradeable.php
Due: php

tested for PR 5631
  site/app/controllers/admin/LateController.php
  site/app/models/gradeable/GradedGradeable.php
Due: php

lint
  site/app/models/gradeable/LateDays.php
Due: php

Check extension when determining if file is zip
  site/app/controllers/student/SubmissionController.php
Due: php

remove old methods
  site/app/models/gradeable/Gradeable.php
Due: php

clean up code
  site/app/models/gradeable/LateDays.php
Due: php

Case-insensitive check
  site/app/controllers/student/SubmissionController.php
Due: php

debug
  .github/workflows/submitty_ci_2.yml
Due: none

[Testing] Move to pcov for coverage in GH action
  .github/workflows/main.yml
Due: none

[Feature:Submission] Instructor UI Poll Edit and Delete Buttons to Icons (#6060)
  site/app/controllers/PollController.php
  site/app/templates/polls/AllPollsPageInstructor.twig
  site/app/templates/polls/PollPageStudent.twig
  site/public/css/polls.css
Due: php

[Bugfix:Submission] Notebook autosave by user & multiple choice (#6091)
  site/app/templates/notebook/Notebook.twig
  site/app/views/submission/HomeworkView.php
  site/public/js/gradeable-notebook.js
Due: php

[Bugfix:TAGrading] invalid closing p tag (#6093)
  site/app/templates/grading/electronic/ta_status/StatusData.twig
Due: php

check PR title for type & module
  .github/workflows/pr_title.yml
Due: none

newline
  .github/workflows/pr_title.yml
Due: none

[Testing:System] use pcov for GH action (#6098)
  .github/workflows/main.yml
Due: none

change syntax
  .github/workflows/pr_title.yml
Due: none

remove (invalid) version
  .github/workflows/pr_title.yml
Due: none

Path conditions:
  php: any of: site/app, but not: tests/integrationTests
  autograder: any of: autograder/autograder, but not: tests/integrationTests
  python_submitty_utils: any of: python_submitty_utils/submitty_utils, but not: tests/integrationTests
  migrator: any of: migration/migrator, but not: tests/integrationTests
