Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

style lint fix
  site/app/templates/course/UploadCourseMaterialsForm.twig
  site/public/css/server.css
Due: php

[Bugfix:TAGrading] Cursor navigation - Numeric/Text grading (#8867)
  site/app/templates/grading/simple/Display.twig
  site/public/css/simple-grading.css
  site/public/js/simple-grading.js
Due: php

Typo Fix
  Vagrantfile
Due: none

fix: set smb host addr for qemu install
  Vagrantfile
Due: none

update vagrantfile for arm mac qemu
  Vagrantfile
Due: none

if defined env
  Vagrantfile
Due: none

syntax fix attempt 2
  Vagrantfile
Due: none

remove use of host user
  Vagrantfile
Due: none

check for env plugin through vagrant
  Vagrantfile
Due: none

syntax fix attempt
  Vagrantfile
Due: none

refactor running command twice
  Vagrantfile
Due: none

config for libvirt provider
  Vagrantfile
Due: none

support for vagrant-env plugin to read from untracked env file
  .gitignore
  Vagrantfile
Due: none

remodel vagrant box config to better allow for overrides
  Vagrantfile
Due: none

separate utm variable and remove block on downloading stack for arm
  .setup/INSTALL_SUBMITTY_HELPER.sh
  .setup/distro_setup/setup_distro.sh
  .setup/install_system.sh
  README_utm_arm.txt
Due: none

Fix secondary email course sync
  migration/migrator/migrations/master/20230213003244_fix_courses_sync_secondary_email.py
  site/app/controllers/admin/UsersController.php
Due: php, migrator

Dump master db
  migration/migrator/data/submitty_db.sql
Due: migrator

[Bugfix:InstructorUI] Add/remove sections (#8853)
  site/app/models/RainbowCustomization.php
Due: php

update SysadminTools v23.02.00
  .setup/bin/versions.sh
Due: none

remove deprecated installation of preferred name logging
  .setup/install_system.sh
  .setup/submitty_crontab
Due: none

Fixed flip warning issue
  site/app/templates/admin/admin_gradeable/AdminGradeableAuto.twig
Due: php

[Dependency] SysadminTools v23.02.00 (#8901)
  .setup/bin/versions.sh
  .setup/install_system.sh
  .setup/submitty_crontab
Due: none

Works without automatic regrading
  .setup/bin/recreate_submissions.py
Due: none

Merged master migrations and removed down migration
  migration/migrator/migrations/course/20230126130456_add_course_id_column.py
  migration/migrator/migrations/master/20230126125745_add_course_id_column.py
  migration/migrator/migrations/master/20230126131819_sync_course_id_column.py
Due: migrator

Rename to course_section_id
  migration/migrator/migrations/course/20230126130456_add_course_id_column.py
  migration/migrator/migrations/master/20230126125745_add_course_id_column.py
Due: migrator

Revert Last Change
  site/app/templates/admin/admin_gradeable/AdminGradeableAuto.twig
Due: php

Major Change to the UI
  .setup/CONFIGURE_SUBMITTY.py
  .setup/php-fpm/pool.d/submitty.conf
  sbin/shipper_utils/update_and_install_workers.py
  site/app/controllers/DockerInterfaceController.php
  site/app/templates/admin/Docker.twig
  site/app/views/admin/DockerView.php
  site/public/js/docker_interface.js
Due: php

Added Database docker_image to keep record of owner
  migration/migrator/data/submitty_db.sql
  site/app/controllers/DockerInterfaceController.php
  site/app/libraries/database/DatabaseQueries.php
Due: php, migrator

Indentation Fixes
  site/app/libraries/database/DatabaseQueries.php
  site/public/js/docker_interface.js
Due: php

[Feature:InstructorUI] Added pronouns to manage students view
  site/app/templates/admin/users/StudentList.twig
Due: php

change to css
  site/public/css/ta-grading.css
  site/public/js/ta-grading.js
Due: none

add line end
  site/public/css/ta-grading.css
Due: none

Changes to the .sql files
  migration/migrator/data/course_tables.sql
  migration/migrator/data/submitty_db.sql
Due: migrator

add css
  site/app/views/grading/ElectronicGraderView.php
Due: php

[Bugfix:InstructorUI] fixed text align for manage students table
  site/app/templates/admin/users/StudentList.twig
Due: php

random seed added
  .setup/bin/populate_office_hours_queue.py
Due: none

Added Requested Changes
  site/app/controllers/admin/UsersController.php
  site/app/templates/course/UploadCourseMaterialsForm.twig
  site/public/css/server.css
Due: php

Remove pytest/capsys, make class generic
  autograder/tests/data/config_files/config.json
  autograder/tests/test_submitty_autograding_shipper.py
Due: none

[Feature:InstructorUI] Adding pronouns to edit user
  site/app/templates/admin/users/UserForm.twig
Due: php

[Bugfix:JS] Fixed linting bugs
  site/public/js/user-profile.js
Due: none

Path conditions:
  php: any of: site/app, but not: tests/integrationTests
  autograder: any of: autograder/autograder, but not: tests/integrationTests
  python_submitty_utils: any of: python_submitty_utils/submitty_utils, but not: tests/integrationTests
  migrator: any of: migration/migrator, but not: tests/integrationTests
