Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

fix bug introduced with last commit
  site/app/controllers/student/SubmissionController.php
  site/public/js/gradeable-notebook.js
Due: php

ID fix
  site/app/templates/forum/ForumBar.twig
Due: php

add randomized order example
  more_autograding_examples/notebook_basic/config/config.json
  more_autograding_examples/notebook_basic/config/test_output/math_4_answer.txt
Due: none

revert file_put_contents with fwrite logic
  site/app/controllers/student/SubmissionController.php
Due: php

add randomized order example to item pool
  more_autograding_examples/notebook_itempool/config/config.json
  more_autograding_examples/notebook_itempool_random/config/config.json
Due: none

comma bug
  more_autograding_examples/notebook_itempool/config/config.json
  more_autograding_examples/notebook_itempool_random/config/config.json
Due: none

[Feature:SuperUserUI] Add page for superuser to view all gradeables
  site/app/controllers/GlobalController.php
  site/app/controllers/NavigationController.php
  site/app/controllers/superuser/GradeablesController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/libraries/response/WebResponse.php
  site/app/libraries/routers/AccessControl.php
  site/app/libraries/routers/RouteCollection.php
  site/app/libraries/routers/WebRouter.php
  site/app/models/Config.php
  site/app/models/User.php
  site/app/models/gradeable/Gradeable.php
  site/app/models/gradeable/GradeableList.php
  site/app/templates/superuser/Gradeables.twig
  site/app/views/NavigationView.php
  site/app/views/superuser/GradeablesView.php
  site/phpstan-baseline.neon
Due: php

[Testing] Fix phpunit warnings for 4 tests
  site/tests/BaseUnitTest.php
  site/tests/app/controllers/admin/GradeOverrideControllerTester.php
  site/tests/app/models/ConfigTester.php
Due: none

[Testing] Fix phpunit warnings for 4 tests (#5340)
  site/tests/BaseUnitTest.php
  site/tests/app/controllers/admin/GradeOverrideControllerTester.php
  site/tests/app/models/ConfigTester.php
Due: none

Update composer.lock
  site/composer.lock
Due: none

[UI/UX] Fix password field having white background in dark mode
  site/public/css/server.css
Due: none

[Testing] Disable sandbox option for chrome for E2E tests
  tests/e2e/base_testcase.py
Due: none

add simple for loop to try, try again
  tests/e2e/base_testcase.py
Due: none

[Testing] Refactor e2e tests to not use deprecated functions
  tests/e2e/base_testcase.py
  tests/e2e/test_forum.py
  tests/e2e/test_grade_inquiry.py
  tests/e2e/test_login.py
  tests/e2e/test_navigation_page_non_student.py
  tests/e2e/test_navigation_page_student.py
  tests/e2e/test_office_hours_queue.py
  tests/e2e/test_sidebar.py
  tests/e2e/test_simple_grader.py
  tests/e2e/test_submission.py
Due: none

add one more try for good measure
  tests/e2e/base_testcase.py
Due: none

fix syntax error
  tests/e2e/test_forum.py
Due: none

[Testing:Travis] Disable clang 6.0.0 tests for now
  .travis.yml
Due: none

move to 5.0.2 for 16.04 instead of 5.0.1 for 14.04
  .travis.yml
Due: none

[Testing:Travis] Disable clang 6.0.0 tests for now (#5347)
  .travis.yml
Due: none

[UI/UX] Fix password field having white background in dark mode (#5342)
  site/public/css/server.css
Due: none

[Testing] Refactor e2e tests to not use deprecated functions (#5346)
  tests/e2e/base_testcase.py
  tests/e2e/test_forum.py
  tests/e2e/test_grade_inquiry.py
  tests/e2e/test_login.py
  tests/e2e/test_navigation_page_non_student.py
  tests/e2e/test_navigation_page_student.py
  tests/e2e/test_office_hours_queue.py
  tests/e2e/test_sidebar.py
  tests/e2e/test_simple_grader.py
  tests/e2e/test_submission.py
Due: none

[Feature:Submission] Display randomized itempool notebooks (#5299)
  .setup/data/courses/development.yml
  more_autograding_examples/notebook_basic/config/config.json
  more_autograding_examples/notebook_basic/config/test_output/math_4_answer.txt
  more_autograding_examples/notebook_itempool/config/config.json
  more_autograding_examples/notebook_itempool_random/config/config.json
  site/app/controllers/student/SubmissionController.php
  site/app/models/gradeable/AbstractTextBox.php
  site/app/models/gradeable/AutogradingConfig.php
  site/app/models/gradeable/GradedGradeable.php
  site/app/models/gradeable/SubmissionMultipleChoice.php
  site/app/models/notebook/UserSpecificNotebook.php
  site/app/templates/generic/Banner.twig
  site/app/templates/submission/homework/SubmitBox.twig
  site/app/views/submission/HomeworkView.php
  site/public/js/drag-and-drop.js
Due: php

[Documentation] Update CONTRIBUTING.md (#5326)
  CONTRIBUTING.md
Due: none

[Refactor:JS] Remove usage of deprecated jQuery positional selectors (#5322)
  site/app/templates/forum/MergeThreadsForm.twig
  site/public/js/drag-and-drop.js
  site/public/js/grade-inquiry.js
  site/public/js/plagiarism.js
Due: php

[Refactor:JS] Remove usage of deprecated jQuery.trim (#5321)
  site/app/templates/forum/ThreadPostForm.twig
  site/public/js/grade-inquiry.js
Due: php

[Feature:Autograding] Python custom validator multiple messages (#5293)
  grading/dispatch.cpp
  grading/dispatch.h
Due: none

More descriptive names
  site/app/controllers/forum/ForumController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/templates/forum/ForumBar.twig
Due: php

[Testing:E2E] Attempt to start Chrome several times before throwing exception (#5344)
  tests/e2e/base_testcase.py
Due: none

forgot a thing
  site/app/templates/forum/ForumBar.twig
Due: php

added button for new page
  site/app/controllers/GlobalController.php
  site/app/controllers/HomePageController.php
  site/app/templates/admin/SystemUpdate.twig
  site/app/views/HomePageView.php
Due: php

[BugFix:InstructorUI] Course Material Colors Safari (#5013)
  site/app/templates/course/CourseMaterials.twig
  site/public/js/server.js
Due: php

move random string function to submitty_utils
  python_submitty_utils/submitty_utils/string_utils.py
  sbin/submitty_autograding_shipper.py
Due: python_submitty_utils

updated to conform to flake
  python_submitty_utils/submitty_utils/string_utils.py
Due: python_submitty_utils

added bulk files to ignore
  site/app/views/grading/ElectronicGraderView.php
Due: php

fix lint
  site/app/views/submission/HomeworkView.php
Due: php

[Bugfix:InstructorUI] course material folder/files set time (#5244)
  site/app/controllers/course/CourseMaterialsController.php
  site/app/templates/course/CourseMaterials.twig
  site/app/templates/course/EditCourseMaterialsForm.twig
  site/app/templates/course/SetFolderReleaseForm.twig
  site/public/js/server.js
Due: php

[Bugfix:Forum] display split button (#5289)
  site/app/templates/forum/CreatePost.twig
Due: php

Filter history with key, remove corrupted entries
  site/public/js/gradeable-notebook.js
Due: none

[Feature:Forum] Alpha by Registration/Rotating (#5333)
  site/app/controllers/forum/ForumController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/templates/forum/ForumBar.twig
Due: php

parses and displays data from github
  site/app/controllers/GlobalController.php
  site/app/controllers/HomePageController.php
  site/app/templates/admin/SystemUpdate.twig
  site/app/views/HomePageView.php
Due: php

Path conditions:
  php: any of: site/app, but not: tests/integrationTests
  autograder: any of: autograder/autograder, but not: tests/integrationTests
  python_submitty_utils: any of: python_submitty_utils/submitty_utils, but not: tests/integrationTests
  migrator: any of: migration/migrator, but not: tests/integrationTests
