Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

Requested changes
  site/.performance_warning_ignore.json
  site/app/controllers/PollController.php
  site/app/controllers/admin/ReportController.php
  site/app/templates/polls/PollType.twig
  site/phpstan-baseline.neon
Due: php

[Documentation:Developer] Update authors (#8784)
  AUTHORS.md
Due: none

[Dependency] SysadminTools v23.01.00 (#8781)
  .setup/bin/versions.sh
Due: none

Fix broken office hours queue pages
  site/app/libraries/database/DatabaseQueries.php
  site/app/models/OfficeHoursQueueModel.php
Due: php

Pronouns row in UserProfile and EditPronounsForm
  Vagrantfile
  site/app/templates/EditPronounsForm.twig
  site/app/templates/UserProfile.twig
  site/public/js/user-profile.js
Due: php

[Bugfix:HelpQueue] Fix broken office hours queue pages (#8786)
  site/app/libraries/database/DatabaseQueries.php
  site/app/models/OfficeHoursQueueModel.php
Due: php

Update strings to fix error when removing students from queue
  site/app/models/OfficeHoursQueueModel.php
Due: php

[Bugfix:HelpQueue] Removing students causes PHP error (#8787)
  site/app/models/OfficeHoursQueueModel.php
Due: php

Update Dependabot config
  .github/dependabot.yml
Due: none

Name change update
  .setup/bin/populate_office_hours_queue.py
Due: none

Addressing comments
  .setup/bin/populate_office_hours_queue.py
Due: none

use OrphanRemoval to remove options
  site/app/entities/poll/Option.php
  site/app/entities/poll/Poll.php
  site/phpstan-baseline.neon
Due: php

Update how some routes find polls
  site/app/controllers/PollController.php
Due: php

Update submitty_ci.yml
  .github/workflows/submitty_ci.yml
Due: none

fix vagrant freeze
  Vagrantfile
Due: none

Fix warnings on poll form
  site/app/templates/polls/PollForm.twig
Due: php

[Testing:Developer] Update GH Workflow to use new env files (#8789)
  .github/workflows/submitty_ci.yml
Due: none

update-ubuntu-version
  .setup/distro_setup/ubuntu/22.04/setup_distro.sh
  Vagrantfile
Due: none

Fix submit button disabling behavior
  site/app/templates/polls/PollForm.twig
Due: php

Ignore instructor-only routes with duplicated queries
  site/.performance_warning_ignore.json
Due: none

[Refactor:SubminiPolls] Migrate polls to doctrine (#6708)
  .setup/bin/setup_sample_courses.py
  migration/migrator/data/course_tables.sql
  migration/migrator/migrations/course/20221028222200_poll_response_migration_v2.py
  site/.performance_warning_ignore.json
  site/app/controllers/PollController.php
  site/app/controllers/admin/ReportController.php
  site/app/entities/poll/Option.php
  site/app/entities/poll/Poll.php
  site/app/entities/poll/Response.php
  site/app/libraries/PollUtils.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/models/PollModel.php
  site/app/repositories/poll/OptionRepository.php
  site/app/repositories/poll/PollRepository.php
  site/app/templates/polls/AllPollsPageInstructor.twig
  site/app/templates/polls/AllPollsPageStudent.twig
  site/app/templates/polls/NewPollPage.twig
  site/app/templates/polls/PollForm.twig
  site/app/templates/polls/PollPageStudent.twig
  site/app/templates/polls/PollType.twig
  site/app/templates/polls/ViewPoll.twig
  site/app/views/PollView.php
  site/cypress/e2e/polls.spec.js
  site/phpstan-baseline.neon
  site/public/js/polls-dropdown.js
  site/public/js/polls.js
  site/tests/app/entities/poll/PollTester.php
  site/tests/app/libraries/PollUtilsTester.php
  site/tests/app/models/PollModelTester.php
Due: php, migrator

[Bugfix:Submission] Unnecessary Bulk UI Elements (#8562)
  .setup/bin/setup_sample_courses.py
  .setup/data/courses/sample.yml
  site/app/templates/submission/homework/SubmitBox.twig
  site/app/views/submission/HomeworkView.php
  site/cypress/e2e/bulkupload.spec.js
  site/cypress/e2e/navigation_page.spec.js
Due: php

[Feature:Submission] Expected String Rework (#8254)
  bin/build_homework_function.sh
  bin/json_schemas/complete_config_schema.json
  grading/TestCase.cpp
  grading/load_config_json.cpp
  grading/main_validator.cpp
  more_autograding_examples/notebook_expected_string/config/config.json
  more_autograding_examples/notebook_expected_string/config/test_input/panda.png
  more_autograding_examples/notebook_expected_string/config/test_input/pig.png
  more_autograding_examples/notebook_expected_string/config/test_input/zebra.png
  site/app/libraries/DiffViewer.php
  site/app/models/GradeableAutocheck.php
  site/tests/app/libraries/DiffViewerTester.php
Due: php

[Feature:Developer] Check for dependency updates weekly (#8788)
  .github/dependabot.yml
Due: none

change onnx version
  .setup/pip/system_requirements.txt
Due: none

shellcheck fix
  .setup/distro_setup/ubuntu/22.04/setup_distro.sh
Due: none

unfinished updateUserPronouns function
  site/public/js/user-profile.js
Due: none

merger two config.vm.provider block into one
  Vagrantfile
Due: none

refactoring, reducing code, fixing expected output test
  autograder/tests/data/config_files/expected_vcs_checkout.txt
  autograder/tests/data/config_files/homework_form.json
  autograder/tests/test_submitty_autograding_shipper.py
Due: none

Recover the .. checks
  site/app/controllers/pdf/PDFController.php
Due: php

Remove unused database query
  site/app/libraries/database/DatabaseQueries.php
Due: php

Php lint
  site/app/controllers/pdf/PDFController.php
Due: php

Add index on gradeable_component_mark_data(gd_id) to improve query performance on gradeables index
  migration/migrator/migrations/course/20230131131716_add_index_gcmd_gd_id.py
  site/app/libraries/database/DatabaseQueries.php
Due: php, migrator

switch to using JSON
  site/app/views/grading/ElectronicGraderView.php
  site/public/js/details.js
Due: php

add Submitty folder
  Vagrantfile
Due: none

linting (:
  site/public/js/details.js
Due: none

DB dump
  migration/migrator/data/course_tables.sql
  migration/migrator/data/submitty_db.sql
Due: migrator

update course tables
  migration/migrator/data/course_tables.sql
Due: migrator

Merge Conflict
  migration/migrator/data/submitty_db.sql
Due: migrator

Path conditions:
  php: any of: site/app, but not: tests/integrationTests
  autograder: any of: autograder/autograder, but not: tests/integrationTests
  python_submitty_utils: any of: python_submitty_utils/submitty_utils, but not: tests/integrationTests
  migrator: any of: migration/migrator, but not: tests/integrationTests
