Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

Move name variable to fix link extra text
  site/app/templates/course/CourseMaterials.twig
Due: php

Move name back but add extra check
  site/app/templates/course/CourseMaterials.twig
Due: php

Organize code
  site/app/templates/course/CourseMaterials.twig
Due: php

initial test
  .github/workflows/submitty_ci.yml
  tests/git_test.sh
Due: none

try out of func
  tests/git_test.sh
Due: none

test
  .github/workflows/submitty_ci.yml
Due: none

save position in queue
  site/app/controllers/OfficeHoursQueueController.php
  site/app/libraries/database/DatabaseQueries.php
Due: php

add error checking
  site/app/controllers/OfficeHoursQueueController.php
Due: php

syntax
  .github/workflows/submitty_ci.yml
Due: none

caps
  .github/workflows/submitty_ci.yml
Due: none

fix
  .github/workflows/submitty_ci.yml
Due: none

Don't replace download button every time
  site/app/templates/grading/electronic/PDFAnnotationEmbedded.twig
Due: php

Add basic refactor code
  site/app/controllers/PollController.php
  site/app/templates/polls/AllPollsPageInstructor.twig
  site/app/templates/polls/ViewPollPage.twig
  site/app/views/PollView.php
Due: php

Add query to merge data with instructor overall comment
  migration/migrator/migrations/course/20210929172618_remove_gradeable_data_overall_comment.py
Due: migrator

Remove gd_overall_comment from setup
  .setup/bin/setup_sample_courses.py
  migration/migrator/data/course_tables.sql
Due: migrator

Finish refactoring by removing unneeded functions and files
  site/app/controllers/PollController.php
  site/app/templates/polls/PollPageStudent.twig
  site/app/templates/polls/ViewPollPage.twig
  site/app/templates/polls/ViewPollResults.twig
  site/app/views/PollView.php
  site/public/css/polls.css
Due: php

[Bugfix:CourseMaterials] Fix extra text on links (#7187)
  site/app/templates/course/CourseMaterials.twig
Due: php

[Bugfix:TAGrading] Fix aria label on simple grading header link (#7110)
  site/app/templates/grading/simple/Display.twig
Due: php

try outside of func
  tests/git_test.sh
Due: none

Fix checkpoint marks filling incorrectly over sockets
  site/public/js/simple-grading.js
Due: none

Add migration for autograding_metrics
  migration/migrator/migrations/course/20211006221014_leaderboard.py
Due: migrator

update course_tables.sql
  migration/migrator/data/course_tables.sql
Due: migrator

delete line and longer timeout
  .github/workflows/submitty_ci.yml
  tests/git_test.sh
Due: none

try setting identity
  tests/git_test.sh
Due: none

Fix small issues in dark mode
  site/public/css/colors.css
  site/public/css/electronic.css
  site/public/css/menu.css
  site/public/css/officeHoursQueue.css
Due: none

finialize
  .github/workflows/submitty_ci.yml
Due: none

Add basic metrics logging
  grading/execute.cpp
  grading/execute.h
  grading/main_validator.cpp
  grading/window_utils.cpp
Due: none

Fix outputting metrics to results.json
  grading/main_validator.cpp
Due: none

[Testing:System] Add git tests to CI (#7197)
  .github/workflows/submitty_ci.yml
  tests/git_test.sh
Due: none

[Feature:System] Add amend flag to create_term.sh
  sbin/create_term.sh
Due: none

[Dependency] Bump pdf-annotate.js to 2.4.0
  site/package-lock.json
  site/package.json
Due: none

[Dependency] Bump pdf-annotate.js to 2.4.0 (#7022)
  site/package-lock.json
  site/package.json
Due: none

[Bugfix:TAGrading] Fix PDF download button duplication (#7159)
  site/app/templates/grading/electronic/PDFAnnotationEmbedded.twig
Due: php

Always set `DEBIAN_FRONTEND`
  .setup/install_system.sh
Due: none

Path conditions:
  php: any of: site/app, but not: tests/integrationTests
  autograder: any of: autograder/autograder, but not: tests/integrationTests
  python_submitty_utils: any of: python_submitty_utils/submitty_utils, but not: tests/integrationTests
  migrator: any of: migration/migrator, but not: tests/integrationTests
