Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

[VPAT:Forum] Improve New Post Background in Dark Mode (#6544)
  site/public/css/colors.css
  site/public/css/forum.css
  site/public/css/notebook-builder.css
  site/public/css/rainbow-customization.css
  site/public/css/server.css
Due: none

[VPAT:InstructorUI] Improve Notebook Builder Accessibility (#6548)
  site/public/css/colors.css
  site/public/css/notebook-builder.css
  site/public/js/notebook_builder/widgets/markdown-widget.js
  site/public/js/notebook_builder/widgets/short-answer-widget.js
  site/public/js/notebook_builder/widgets/widget.js
Due: none

tried setting timeout... not great results
  site/public/js/save-rubric-worker.js
  site/public/js/ta-grading-rubric.js
Due: none

use MarkdownArea.twig template
  site/app/templates/misc/MarkdownArea.twig
  site/app/templates/officeHoursQueue/QueueAnnouncement.twig
  site/app/templates/polls/NewPollPage.twig
Due: php

Add support for common/instructor code
  site/app/controllers/admin/PlagiarismController.php
  site/app/libraries/plagiarism/Interval.php
  site/app/libraries/plagiarism/PlagiarismUtils.php
Due: php

fixed centering on details page
  site/app/templates/grading/electronic/Details.twig
Due: php

fixed navbar centering
  site/app/templates/grading/electronic/Details.twig
  site/public/js/ta-grading.js
Due: php

[Refactor:System] Refactor run_lichen_plagiarism.py (#6547)
  .flake8
  sbin/run_lichen_plagiarism.py
Due: none

last fixes for centering, hide team names
  site/app/templates/grading/electronic/NavigationBar.twig
  site/public/css/electronic.css
  site/public/js/ta-grading.js
Due: php

reverted to count flattened_params and dividing by 5 again...
  site/app/libraries/NotificationFactory.php
Due: php

got rid of comments
  site/app/templates/grading/electronic/NavigationBar.twig
Due: php

added preview to notebook builder
  site/app/controllers/admin/NotebookBuilderController.php
  site/app/templates/officeHoursQueue/QueueAnnouncement.twig
  site/app/views/admin/NotebookBuilderView.php
  site/public/js/notebook_builder/widgets/markdown-widget.js
  site/public/templates/misc/Markdown.twig
  site/public/templates/misc/MarkdownArea.twig
Due: php

Make coloring work properly
  site/app/controllers/admin/PlagiarismController.php
Due: php

Revert "Make coloring work properly"
  site/app/controllers/admin/PlagiarismController.php
Due: php

Revert "Add support for common/instructor code"
  site/app/controllers/admin/PlagiarismController.php
  site/app/libraries/plagiarism/Interval.php
  site/app/libraries/plagiarism/PlagiarismUtils.php
Due: php

clean up new files
  site/app/templates/misc/Markdown.twig
  site/app/templates/misc/MarkdownArea.twig
  site/app/views/OfficeHoursQueueView.php
  site/app/views/PollView.php
  site/app/views/forum/ForumThreadView.php
  site/public/templates/misc/Markdown.twig
Due: php

Fix linter issue
  site/app/controllers/admin/PlagiarismController.php
Due: php

Remove ignored error
  site/phpstan-baseline.neon
Due: none

Fix tests
  site/tests/app/libraries/plagiarism/IntervalTester.php
Due: none

Fix more tests (missing parameter)
  site/tests/app/libraries/plagiarism/PlagiarismUtilsTester.php
Due: none

added changes to db queries, still broken
  migration/migrator/migrations/course/20210602173206_add_custom_marks_column.py
  site/app/controllers/admin/AdminGradeableController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/models/gradeable/Gradeable.php
  site/public/js/admin-gradeable-updates.js
Due: php, migrator

attempt to fix internal server error
  site/app/libraries/database/DatabaseQueries.php
  site/app/models/gradeable/Gradeable.php
Due: php

add preview to grade inquiries
  site/app/controllers/student/GradeInquiryController.php
  site/app/templates/forum/CreatePost.twig
  site/app/templates/forum/RenderPost.twig
  site/app/templates/misc/MarkdownArea.twig
  site/app/templates/submission/regrade/Discussion.twig
  site/app/templates/submission/regrade/Post.twig
  site/app/views/submission/HomeworkView.php
  site/public/js/grade-inquiry.js
Due: php

remove textarea id suffix
  site/app/templates/misc/MarkdownArea.twig
  site/app/templates/submission/regrade/Discussion.twig
Due: php

Remove null dates and add booleans
  migration/migrator/data/course_tables.sql
  migration/migrator/migrations/course/20210601085751_null_dates.py
  migration/migrator/migrations/course/20210603132846_has_release_date.py
  site/app/controllers/admin/AdminGradeableController.php
  site/app/controllers/admin/ReportController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/models/RainbowCustomization.php
  site/app/models/gradeable/Gradeable.php
  site/app/views/NavigationView.php
  site/app/views/submission/HomeworkView.php
Due: php, migrator

Fix control setting
  site/app/controllers/admin/AdminGradeableController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/templates/admin/admin_gradeable/rubric/ElectronicFileRubric.twig
  site/public/js/admin-gradeable-updates.js
Due: php

changed forum to use MarkdownArea.twig
  site/app/templates/forum/ThreadPostForm.twig
  site/app/templates/misc/MarkdownArea.twig
  site/public/js/forum.js
Due: php

enable tab in text area in MarkdownArea.twig
  site/app/templates/misc/MarkdownArea.twig
Due: php

nullsmtpd => vagrant_requirements.txt
  .github/dependabot.yml
  .setup/install_system.sh
  .setup/pip/system_requirements.txt
  .setup/pip/vagrant_requirements.txt
Due: none

Lock opencv-python to an older version
  .setup/pip/system_requirements.txt
Due: none

Students can view graded assignment when still open
  site/app/controllers/student/SubmissionController.php
  site/app/models/gradeable/Gradeable.php
Due: php

Fix unit tests
  site/tests/app/controllers/student/SubmissionControllerTester.php
  site/tests/app/models/gradeable/GradeableListTester.php
Due: none

Update system_requirements.txt
  .setup/pip/system_requirements.txt
Due: none

Fix system_requirements.txt
  .setup/pip/system_requirements.txt
Due: none

[Testing:Developer] Pin python dependencies for CI (#6399)
  .github/dependabot.yml
  .github/workflows/submitty_ci.yml
  .setup/install_system.sh
  .setup/pip/system_requirements.txt
  .setup/pip/vagrant_requirements.txt
  python_submitty_utils/requirements.txt
Due: none

Remove unnecessary debugging statements
  site/public/js/plagiarism.js
Due: none

Add return types
  site/app/controllers/admin/PlagiarismController.php
Due: php

Remove commented out code
  site/app/controllers/admin/PlagiarismController.php
Due: php

Update Lichen job delete
  sbin/submitty_daemon_jobs/submitty_jobs/jobs.py
Due: none

satisfy linter
  site/app/controllers/admin/PlagiarismController.php
Due: php

Path conditions:
  php: any of: site/app, but not: tests/integrationTests
  autograder: any of: autograder/autograder, but not: tests/integrationTests
  python_submitty_utils: any of: python_submitty_utils/submitty_utils, but not: tests/integrationTests
  migrator: any of: migration/migrator, but not: tests/integrationTests
