Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

[Feature:Submission] Log when someone accesses the gradeable submission page (#5236)
  site/app/controllers/student/SubmissionController.php
Due: php

wip
  .setup/bin/setup_sample_courses.py
  migration/migrator/data/course_tables.sql
  migration/migrator/migrations/course/20200402034200_overall_comments.py
  site/app/libraries/database/DatabaseQueries.php
  site/app/models/gradeable/TaGradedGradeable.php
Due: php, migrator

requested interface design changes
  .setup/CONFIGURE_SUBMITTY.py
  migration/migrator/migrations/system/20200328225850_docker_ui.py
  sbin/submitty_daemon_jobs/submitty_jobs/jobs.py
  site/app/controllers/DockerInterfaceController.php
  site/app/templates/admin/Docker.twig
  site/app/views/admin/DockerView.php
  site/public/css/docker_interface.css
  site/public/js/docker_interface.js
Due: php, migrator

update lichen version
  .setup/bin/versions.sh
Due: none

restrict to bulk uploads
  site/app/views/grading/ElectronicGraderView.php
Due: php

added config to course template
  migration/migrator/migrations/course/20200313132041_AddPollTable.py
  site/config/course_template.json
Due: migrator

fixed config maybe?
  migration/migrator/data/course_tables.sql
  migration/migrator/migrations/course/20200313132041_AddPollTable.py
Due: migrator

first draft
  site/app/controllers/MiscController.php
  site/app/views/AutoGradingView.php
  site/public/js/pdf/PDFInitToolbar.js
Due: php

added student end of code
  site/app/libraries/database/DatabaseQueries.php
  site/app/models/OfficeHoursQueueModel.php
  site/app/templates/officeHoursQueue/QueueHeader.twig
Due: php

[Refactor:InstructorUI] plagiarism concat/tokenization #5186 (#5186)
  .setup/bin/versions.sh
  sbin/run_lichen_plagiarism.py
  site/app/controllers/admin/PlagiarismController.php
Due: php

added auto refresh for students page
  site/app/controllers/OfficeHoursQueueController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/models/OfficeHoursQueueModel.php
  site/app/templates/officeHoursQueue/QueueFooter.twig
  site/app/templates/officeHoursQueue/QueueHeader.twig
  site/app/templates/officeHoursQueue/QueueStatus.twig
  site/app/views/OfficeHoursQueueView.php
Due: php

fixed typo
  site/app/templates/officeHoursQueue/QueueStatus.twig
Due: php

fixed linter
  site/app/controllers/OfficeHoursQueueController.php
Due: php

second draft
  site/app/controllers/MiscController.php
  site/app/templates/grading/electronic/PDFAnnotationFullPage.twig
  site/app/templates/grading/electronic/SubmissionPanel.twig
  site/app/views/AutoGradingView.php
  site/public/js/pdf/PDFInitToolbar.js
Due: php

pylint
  migration/migrator/migrations/course/20200405213344_annoated_pdfs_dir.py
  site/app/controllers/MiscController.php
  site/app/controllers/pdf/PDFController.php
  site/app/views/AutoGradingView.php
Due: php, migrator

added config change to unit tests
  site/tests/app/controllers/admin/ConfigurationControllerTester.php
  site/tests/app/models/ConfigTester.php
Due: none

fix tests
  site/app/controllers/DockerInterfaceController.php
  site/tests/app/controllers/DockerInterfaceControllerTester.php
Due: php

fix setup
  .setup/CONFIGURE_SUBMITTY.py
Due: none

initial wip
  site/app/templates/forum/CreatePost.twig
  site/app/templates/forum/ForumBar.twig
  site/app/templates/forum/ShowForumThreads.twig
  site/app/templates/forum/ThreadPostForm.twig
  site/app/templates/forum/displayThreadList.twig
  site/public/js/forum.js
Due: php

fixed tests
  site/app/libraries/database/DatabaseQueries.php
  tests/e2e/test_office_hours_queue.py
Due: php

linter fix
  site/app/libraries/database/DatabaseQueries.php
Due: php

fix permissions
  .setup/CONFIGURE_SUBMITTY.py
Due: none

[UI/UX] IOS Button Fix on iPhone (#5231)
  site/public/css/server.css
Due: none

e2e fix
  tests/e2e/test_office_hours_queue.py
Due: none

Update .travis.yml
  .travis.yml
Due: none

[Testing:Travis] Use pre-release selenium 4.0.0 for E2E tests (#5242)
  .travis.yml
Due: none

fixed stars
  site/app/libraries/database/DatabaseQueries.php
  site/app/models/OfficeHoursQueueModel.php
Due: php

fix editing folder and files inside the folder
  site/app/controllers/course/CourseMaterialsController.php
  site/app/templates/course/CourseMaterials.twig
  site/app/templates/course/EditCourseMaterialsForm.twig
  site/public/js/server.js
Due: php

fix 'set folder release date' bug
  site/app/controllers/course/CourseMaterialsController.php
  site/app/templates/course/CourseMaterials.twig
  site/app/templates/course/EditCourseMaterialsForm.twig
  site/app/templates/course/SetFolderReleaseForm.twig
Due: php

rewrote paragraph textbox gradeable to basic notebook
  .setup/data/courses/development.yml
  more_autograding_examples/notebook_basic/config/config.json
  more_autograding_examples/notebook_basic/config/config_backup.json
  more_autograding_examples/notebook_basic/config/test_input/panda.png
  more_autograding_examples/notebook_basic/config/test_input/pig.png
  more_autograding_examples/notebook_basic/config/test_input/zebra.png
  more_autograding_examples/notebook_basic/config/test_output/animal_1_answer.txt
  more_autograding_examples/notebook_basic/config/test_output/animal_2_answer.txt
  more_autograding_examples/notebook_basic/config/test_output/animal_3_answer.txt
  more_autograding_examples/notebook_basic/config/test_output/math_1_answer.txt
  more_autograding_examples/notebook_basic/config/test_output/math_2_answer.txt
  more_autograding_examples/notebook_basic/config/test_output/math_3_answer.txt
  more_autograding_examples/notebook_basic/config/test_output/prime_answer.txt
  more_autograding_examples/paragraph_textboxes/config/config.json
  more_autograding_examples/paragraph_textboxes/config/test_input/image2.png
  more_autograding_examples/paragraph_textboxes/config/test_input/image3.png
  more_autograding_examples/paragraph_textboxes/config/test_input/image4.png
Due: none

edits
  more_autograding_examples/notebook_basic/config/config.json
Due: none

edits
  more_autograding_examples/notebook_basic/config/config_backup.json
Due: none

itempool version w/ and w/o randomization
  more_autograding_examples/notebook_itempool/config/config.json
  more_autograding_examples/notebook_itempool/config/test_input/panda.png
  more_autograding_examples/notebook_itempool/config/test_input/pig.png
  more_autograding_examples/notebook_itempool/config/test_input/zebra.png
  more_autograding_examples/notebook_itempool/config/test_output/animal_1_answer.txt
  more_autograding_examples/notebook_itempool/config/test_output/animal_2_answer.txt
  more_autograding_examples/notebook_itempool/config/test_output/animal_3_answer.txt
  more_autograding_examples/notebook_itempool/config/test_output/math_1_answer.txt
  more_autograding_examples/notebook_itempool/config/test_output/math_2_answer.txt
  more_autograding_examples/notebook_itempool/config/test_output/math_3_answer.txt
  more_autograding_examples/notebook_itempool/config/test_output/prime_answer.txt
  more_autograding_examples/notebook_itempool_random/config/config.json
  more_autograding_examples/notebook_itempool_random/config/test_input/panda.png
  more_autograding_examples/notebook_itempool_random/config/test_input/pig.png
  more_autograding_examples/notebook_itempool_random/config/test_input/zebra.png
  more_autograding_examples/notebook_itempool_random/config/test_output/animal_1_answer.txt
  more_autograding_examples/notebook_itempool_random/config/test_output/animal_2_answer.txt
  more_autograding_examples/notebook_itempool_random/config/test_output/animal_3_answer.txt
  more_autograding_examples/notebook_itempool_random/config/test_output/math_1_answer.txt
  more_autograding_examples/notebook_itempool_random/config/test_output/math_2_answer.txt
  more_autograding_examples/notebook_itempool_random/config/test_output/math_3_answer.txt
  more_autograding_examples/notebook_itempool_random/config/test_output/prime_answer.txt
Due: none

[Documentation:Submission] Revise Example Notebook Gradeable (#5245)
  .setup/data/courses/development.yml
  more_autograding_examples/notebook_basic/config/config.json
  more_autograding_examples/notebook_basic/config/test_input/panda.png
  more_autograding_examples/notebook_basic/config/test_input/pig.png
  more_autograding_examples/notebook_basic/config/test_input/zebra.png
  more_autograding_examples/notebook_basic/config/test_output/animal_1_answer.txt
  more_autograding_examples/notebook_basic/config/test_output/animal_2_answer.txt
  more_autograding_examples/notebook_basic/config/test_output/animal_3_answer.txt
  more_autograding_examples/notebook_basic/config/test_output/math_1_answer.txt
  more_autograding_examples/notebook_basic/config/test_output/math_2_answer.txt
  more_autograding_examples/notebook_basic/config/test_output/math_3_answer.txt
  more_autograding_examples/notebook_basic/config/test_output/prime_answer.txt
  more_autograding_examples/paragraph_textboxes/config/config.json
  more_autograding_examples/paragraph_textboxes/config/config_backup.json
  more_autograding_examples/paragraph_textboxes/config/test_input/image2.png
  more_autograding_examples/paragraph_textboxes/config/test_input/image3.png
  more_autograding_examples/paragraph_textboxes/config/test_input/image4.png
Due: none

typo
  more_autograding_examples/notebook_itempool/config/config.json
  more_autograding_examples/notebook_itempool_random/config/config.json
Due: none

update to display code differences
  more_autograding_examples/notebook_basic/config/config.json
  more_autograding_examples/notebook_itempool/config/config.json
  more_autograding_examples/notebook_itempool_random/config/config.json
Due: none

[Feature:Forum] Add ability to sort threads
  site/app/controllers/forum/ForumController.php
  site/app/templates/forum/ForumBar.twig
  site/public/js/forum.js
Due: php

edit user/student bug
  site/public/js/userform.js
Due: none

alert popup feature for editing users
  site/app/templates/admin/users/UserForm.twig
  site/public/js/userform.js
Due: php

typo
  site/app/controllers/course/CourseMaterialsController.php
Due: php

Path conditions:
  php: any of: site/app, but not: tests/integrationTests
  autograder: any of: autograder/autograder, but not: tests/integrationTests
  python_submitty_utils: any of: python_submitty_utils/submitty_utils, but not: tests/integrationTests
  migrator: any of: migration/migrator, but not: tests/integrationTests
