Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: true

ignore:
  - "tests/integrationTests"

coverage:
  status:
    project: false
    patch: false
    changes: false
    migrator:
      flags: migrator
      target: 100%

flags:
  php:
    paths:
      - site/app
  autograder:
    paths:
      - autograder/autograder
  python_submitty_utils:
    paths:
      - python_submitty_utils/submitty_utils
  migrator:
    paths:
      - migration/migrator

comment:
  layout: "reach, diff, flags"
  behavior: default

Update CourseMaterialsController.php
  site/app/controllers/course/CourseMaterialsController.php
Due: php

Remove display_name duplicates check
  site/app/controllers/course/CourseMaterialsController.php
Due: php

refactor: display_name -- get path only when needed
  site/app/controllers/course/CourseMaterialsController.php
Due: php

synch filename across all viewers
  site/app/templates/course/CourseMaterials.twig
  site/app/templates/course/EditCourseMaterialsForm.twig
Due: php

tmp fix for urls
  site/app/controllers/course/CourseMaterialsController.php
Due: php

Revert Composer.lock
  site/composer.lock
Due: none

course dump
  migration/migrator/data/course_tables.sql
Due: migrator

adjust sample course and testers
  .setup/bin/setup_sample_courses.py
  autograder/submitty_autograding_shipper.py
  site/tests/app/controllers/student/SubmissionControllerTester.php
  site/tests/app/models/gradeable/GradeableListTester.php
Due: none

eslint exported
  site/public/js/course-materials.js
Due: none

linting?
  autograder/submitty_autograding_shipper.py
Due: none

adjust variables in admin create
  site/app/controllers/admin/AdminGradeableController.php
  site/app/templates/admin/admin_gradeable/AdminGradeableCreate.twig
Due: php

maybe fix sample gradeable
  .setup/bin/recreate_submissions.py
  .setup/bin/setup_sample_courses.py
  .setup/data/courses/sample.yml
Due: none

Change getSemester to getTerm
  site/app/models/CalendarInfo.php
Due: php

[Feature:Submission] Notify Late Team Submission (#7771)
  site/app/controllers/student/SubmissionController.php
  site/app/models/gradeable/LateDayInfo.php
  site/app/templates/submission/homework/SubmitBox.twig
  site/app/views/submission/HomeworkView.php
  site/public/js/drag-and-drop.js
Due: php

[Feature:Forum] Release date for Category (#8699)
  migration/migrator/data/course_tables.sql
  migration/migrator/migrations/course/20230605212740_visible_date_01.py
  site/app/controllers/forum/ForumController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/templates/forum/ShowCategories.twig
  site/app/templates/forum/ThreadPostForm.twig
  site/public/js/forum.js
Due: php, migrator

Update unit tests
  site/tests/app/models/ConfigTester.php
  site/tests/app/models/CourseTester.php
Due: none

Fix typo
  site/tests/app/models/CourseTester.php
Due: none

fixing changes
  site/app/templates/submission/homework/SubmitBox.twig
  site/app/views/submission/HomeworkView.php
Due: php

fix sample course
  .setup/bin/recreate_submissions.py
  .setup/bin/setup_sample_courses.py
Due: none

update text on create gradeable page
  site/app/controllers/admin/AdminGradeableController.php
  site/app/templates/admin/admin_gradeable/AdminGradeableCreate.twig
Due: php

Remove threadlist Mark as resolved button
  site/app/templates/forum/displayThreadList.twig
Due: php

tweak input box width
  site/app/templates/admin/admin_gradeable/AdminGradeableCreate.twig
Due: php

[Feature:Submission] Private VCS gradeable repos (#9382)
  autograder/submitty_autograding_shipper.py
  site/app/controllers/admin/AdminGradeableController.php
  site/app/controllers/student/SubmissionController.php
  site/app/templates/admin/admin_gradeable/AdminGradeableCreate.twig
  site/app/templates/submission/homework/SubmitBox.twig
  site/app/views/submission/HomeworkView.php
Due: php

temporary changes
  site/app/templates/submission/homework/SubmitBox.twig
  site/app/views/submission/HomeworkView.php
  site/public/js/drag-and-drop.js
Due: php

Revert "temporary changes"
  site/app/templates/submission/homework/SubmitBox.twig
  site/app/views/submission/HomeworkView.php
  site/public/js/drag-and-drop.js
Due: php

use bool not string
  .setup/bin/setup_sample_courses.py
Due: none

refactor
  site/cypress/e2e/pdfs.spec.js
Due: none

change to expectException
  site/tests/app/entities/plagiarism/PlagiarismConfigTester.php
Due: none

Fixed logic and better variable names
  site/app/templates/submission/homework/SubmitBox.twig
  site/app/views/submission/HomeworkView.php
  site/public/js/drag-and-drop.js
Due: php

Removed temp variable
  site/app/views/submission/HomeworkView.php
Due: php

Wrote test for manage students
  site/app/templates/EditPronounsForm.twig
  site/app/templates/admin/users/StudentList.twig
  site/app/templates/admin/users/ToggleManageStudentsColumns.twig
  site/cypress/e2e/pronouns_change.spec.js
Due: php

won't pass. just testing
  site/tests/app/entities/plagiarism/PlagiarismConfigTester.php
Due: none

testing
  site/tests/app/entities/plagiarism/PlagiarismConfigTester.php
Due: none
