Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

js-lint
  site/public/js/manage-students.js
Due: none

jslint templated string
  site/public/js/manage-students.js
Due: none

php-lint
  site/app/controllers/admin/UsersController.php
Due: php

comment
  site/public/js/server.js
Due: none

default value for active-columns
  site/app/templates/admin/users/ToggleManageStudentsColumns.twig
  site/app/views/admin/UsersView.php
Due: php

removed unused id's
  site/app/templates/admin/users/ToggleManageStudentsColumns.twig
Due: php

Pronouns properly getting stored, now has issues with other stuff
  .setup/bin/setup_sample_courses.py
  .setup/data/users.yml
  .setup/data/users/aphacker.yml
  .setup/data/users/bitdiddle.yml
  .setup/data/users/browna.yml
  .setup/data/users/grader.yml
  .setup/data/users/grader2.yml
  .setup/data/users/instructor.yml
  .setup/data/users/joness.yml
  .setup/data/users/manne.yml
  .setup/data/users/pearsr.yml
  .setup/data/users/smithj.yml
  .setup/data/users/student.yml
  .setup/data/users/submitty-admin.yml
  .setup/data/users/superuser.yml
  .setup/data/users/ta.yml
  .setup/data/users/ta2.yml
  .setup/data/users/ta3.yml
Due: none

refactor to use js-cookie
  site/app/templates/course/CourseMaterials.twig
  site/app/templates/grading/electronic/Details.twig
  site/app/templates/grading/electronic/ta_status/StatusBase.twig
  site/public/js/details.js
  site/public/js/extensions.js
  site/public/js/forum.js
  site/public/js/polls.js
  site/public/js/server.js
  site/public/js/simple-grading.js
  site/public/js/ta-grading-rubric.js
  site/public/js/ta-grading.js
Due: php

add js-cookie
  .setup/install_submitty/install_site.sh
  site/app/libraries/Output.php
  site/package-lock.json
  site/package.json
Due: php

add changes from other branch
  autograder/autograder/packer_unpacker.py
  site/app/controllers/admin/AdminGradeableController.php
  site/app/controllers/student/SubmissionController.php
  site/app/templates/admin/admin_gradeable/AdminGradeableCreate.twig
  site/app/templates/submission/homework/SubmitBox.twig
Due: php, autograder

adjusting
  site/app/templates/admin/admin_gradeable/AdminGradeableCreate.twig
  site/app/views/submission/HomeworkView.php
Due: php

[Dependency] Update Tutorial v23.05.00 (#9310)
  .setup/bin/versions.sh
Due: none

pin version
  site/package-lock.json
  site/package.json
Due: none

remove redundant loops
  site/cypress/e2e/profile.spec.js
Due: none

simplify should have
  site/cypress/e2e/profile.spec.js
Due: none

use const and rename variables
  site/cypress/e2e/profile.spec.js
Due: none

Random works now, still need to discuss if this is going to be used as it is janky
  .setup/bin/randomgen.py
  .setup/bin/setup_sample_courses.py
Due: none

Linting
  .setup/bin/randomgen.py
Due: none

clean up comments
  site/cypress/e2e/profile.spec.js
Due: none

simplify alpha gen func
  site/cypress/e2e/profile.spec.js
Due: none

Remove whitespace
  .setup/bin/randomgen.py
Due: none

Revert "Remove whitespace"
  .setup/bin/randomgen.py
Due: none

Revert "Linting"
  .setup/bin/randomgen.py
Due: none

Revert "Random works now, still need to discuss if this is going to be used as it is janky"
  .setup/bin/randomgen.py
  .setup/bin/setup_sample_courses.py
Due: none

Testing, changed discussion forum sample data
  .setup/bin/setup_sample_courses.py
  .setup/data/forum/posts.txt
  .setup/data/forum/threads.txt
Due: none

change email domain
  site/cypress/e2e/profile.spec.js
Due: none

move login to before each
  site/cypress/e2e/profile.spec.js
Due: none

organize user data and rename alpha gen fn
  site/cypress/e2e/profile.spec.js
Due: none

Finished!
  .setup/bin/setup_sample_courses.py
  .setup/data/queue/queue_data.json
  .setup/data/random/graders.txt
  .setup/data/random/students.txt
Due: none

Documentation for posterity
  .setup/bin/setup_sample_courses.py
Due: none

bringing changes from previous branch
  autograder/autograder/packer_unpacker.py
  autograder/submitty_autograding_shipper.py
  autograder/tests/data/config_files/homework_form_subdirectory.json
  autograder/tests/data/homework_01/README.MD
  autograder/tests/data/homework_01/subdirectory/homework_02/homework_02.cpp
  autograder/tests/test_submitty_autograding_shipper.py
  site/app/controllers/admin/AdminGradeableController.php
  site/app/controllers/student/SubmissionController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/models/gradeable/Gradeable.php
  site/app/templates/admin/admin_gradeable/AdminGradeableCreate.twig
  site/app/templates/submission/homework/SubmitBox.twig
  site/app/views/submission/HomeworkView.php
Due: php, autograder

changes:
  autograder/autograder/packer_unpacker.py
  autograder/submitty_autograding_shipper.py
  site/app/controllers/admin/AdminGradeableController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/models/gradeable/Gradeable.php
  site/app/templates/admin/admin_gradeable/AdminGradeableCreate.twig
  site/app/templates/submission/homework/SubmitBox.twig
  site/app/views/submission/HomeworkView.php
Due: php, autograder

trying to fix errors
  site/app/controllers/admin/AdminGradeableController.php
  site/app/templates/admin/admin_gradeable/AdminGradeableCreate.twig
Due: php

more changes
  site/app/controllers/admin/AdminGradeableController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/models/gradeable/Gradeable.php
Due: php

path to partial_path
  site/app/controllers/admin/AdminGradeableController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/models/gradeable/Gradeable.php
Due: php

shipper changes and try re-add index
  autograder/submitty_autograding_shipper.py
  site/app/controllers/admin/AdminGradeableController.php
  site/app/models/gradeable/Gradeable.php
Due: php

linting
  autograder/autograder/packer_unpacker.py
  autograder/submitty_autograding_shipper.py
  site/app/controllers/admin/AdminGradeableController.php
  site/app/views/submission/HomeworkView.php
Due: php, autograder

rewrite test
  site/cypress/e2e/profile.spec.js
Due: none

remove reliance on row for modif test
  site/cypress/e2e/profile.spec.js
Due: none

remove subdirectory (for now)
  site/app/templates/submission/homework/SubmitBox.twig
Due: php

Path conditions:
  php: any of: site/app, but not: tests/integrationTests
  autograder: any of: autograder/autograder, but not: tests/integrationTests
  python_submitty_utils: any of: python_submitty_utils/submitty_utils, but not: tests/integrationTests
  migrator: any of: migration/migrator, but not: tests/integrationTests
