Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: true

ignore:
  - "tests/integrationTests"

coverage:
  status:
    project: false
    patch: false
    changes: false
    migrator:
      flags: migrator
      target: 100%

flags:
  php:
    paths:
      - site/app
  autograder:
    paths:
      - autograder/autograder
  python_submitty_utils:
    paths:
      - python_submitty_utils/submitty_utils
  migrator:
    paths:
      - migration/migrator

comment:
  layout: "reach, diff, flags"
  behavior: default

Update Client Side logic for feature support [1 Grades Many]
  site/public/js/admin-gradeable-updates.js
Due: none

Minor Fix on input change listener
  site/public/js/admin-gradeable-updates.js
Due: none

Update Input change listener to only listen for file upload change
  site/public/js/admin-gradeable-updates.js
Due: none

[Bugfix:InstructorUI] Fix undefined index warning when sending seating emails
  site/app/models/Email.php
Due: php

add tests for Email model
  site/app/models/Email.php
  site/tests/app/models/EmailTester.php
Due: php

[Testing:PHP] Add tests for FeatureFlag class
  site/app/libraries/routers/FeatureFlag.php
  site/tests/app/libraries/routers/FeatureFlagTester.php
Due: php

[Bugfix:InstructorUI] Excused absence submit (#5470)
  site/public/js/extensions.js
Due: none

[Bugfix:InstructorUI] grade inquiry per component (#5477)
  site/app/controllers/admin/AdminGradeableController.php
  site/app/libraries/database/DatabaseQueries.php
Due: php

[Feature:InstructorUI] delete user from course (#5179)
  migration/migrator/data/submitty_db.sql
  migration/migrator/migrations/master/20200311164114_delete_user.py
  site/app/controllers/admin/UsersController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/templates/admin/users/DeleteUserForm.twig
  site/app/templates/admin/users/GraderList.twig
  site/app/templates/admin/users/StudentList.twig
  site/app/views/admin/UsersView.php
  site/public/js/userform.js
Due: php, migrator

Short-circuiting utils
  sbin/submitty_autograding_shipper.py
Due: none

Move common autosave functions into separate file
  site/app/views/submission/HomeworkView.php
  site/public/js/autosave-utils.js
  site/public/js/gradeable-notebook.js
Due: php

short array syntax
  site/app/libraries/database/DatabaseQueries.php
Due: php

[Bugfix:PHP] short array syntax (#5486)
  site/app/libraries/database/DatabaseQueries.php
Due: php

Added return type hint.
  site/app/libraries/DateUtils.php
Due: php

Squared away migrator and database stuff.
  migration/migrator/data/course_tables.sql
  migration/migrator/migrations/course/20200607213227_add_users_display_image_source_column.py
  site/app/libraries/database/DatabaseQueries.php
  site/app/models/DisplayImage.php
Due: php, migrator

Squared away migrator and database stuff.
  migration/migrator/migrations/course/20200607213227_add_users_display_image_source_column.py
  migration/migrator/migrations/master/20200519095040_add_users_display_image_source_column.py
Due: migrator

peer_feedback
  site/app/controllers/pdf/PDFController.php
  site/app/templates/autograding/PeerResults.twig
  site/app/views/AutoGradingView.php
Due: php

fixes
  site/app/templates/autograding/PeerResults.twig
Due: php

initial work
  site/app/controllers/student/SubmissionController.php
  site/app/models/notebook/Notebook.php
  site/app/templates/notebook/Notebook.twig
  site/app/templates/submission/homework/SubmitBox.twig
  site/app/views/submission/HomeworkView.php
Due: php

fixes
  migration/migrator/migrations/course/20200514034200_annotations_file_directory.py
  site/app/controllers/pdf/PDFController.php
Due: php, migrator

Squared away migrator and database stuff.
  migration/migrator/migrations/master/20200519095040_add_users_display_image_source_column.py
  migration/migrator/migrations/master/20200607213227_add_users_display_image_source_column.py
Due: migrator

lint
  site/app/libraries/database/DatabaseQueries.php
Due: php

initial commit
  .setup/data/courses/development.yml
  more_autograding_examples/notebook_filesubmission/config/config.json
  more_autograding_examples/notebook_filesubmission/config/test_input/zebra.png
  more_autograding_examples/notebook_filesubmission/config/test_output/animal_answer.txt
  more_autograding_examples/notebook_filesubmission/config/test_output/math_answer.txt
Due: none

main_configure edited
  grading/main_configure.cpp
  more_autograding_examples/notebook_filesubmission/config/config.json
Due: none

newlines
  more_autograding_examples/notebook_filesubmission/config/config.json
Due: none

pylint fix
  site/app/controllers/pdf/PDFController.php
Due: php

new_pylint
  site/app/controllers/pdf/PDFController.php
  site/app/views/PDFView.php
Due: php

Configured Student Images to be resized on the server before being returned to the browser.
  migration/migrator/migrations/system/20200518135745_create_user_data_dir.py
  site/app/controllers/grading/ImagesController.php
  site/app/libraries/Output.php
  site/app/models/DisplayImage.php
  site/app/models/User.php
  site/app/views/grading/ImagesView.php
Due: php, migrator

pylint fixes
  site/app/controllers/pdf/PDFController.php
Due: php

pylint fix
  site/app/views/grading/ElectronicGraderView.php
Due: php

pylint
  site/app/controllers/pdf/PDFController.php
Due: php

Forum autosave support
  site/app/templates/forum/ThreadPostForm.twig
  site/app/views/forum/ForumThreadView.php
  site/public/js/autosave-utils.js
  site/public/js/forum.js
  site/public/js/gradeable-notebook.js
Due: php

Don't save empty reply boxes
  site/public/js/forum.js
Due: none

RG WebUI bugfix.
  site/public/js/rainbow-customization.js
Due: none

Added dependency imagemagick.
  .setup/distro_setup/ubuntu/bionic/setup_distro.sh
  .travis.yml
  migration/migrator/migrations/system/20200518135745_create_user_data_dir.py
Due: migrator

Twig base64_image function now takes $cols and $rows as params.
  site/app/libraries/Output.php
  site/app/templates/grading/Images.twig
  site/app/views/grading/ImagesView.php
Due: php

[Refactor:PHP] Fix static analysis issues in app/libraries/database (#5482)
  site/app/libraries/database/AbstractDatabase.php
  site/app/libraries/database/DatabaseQueries.php
  site/phpstan-baseline.neon
Due: php

Update Email.php
  site/app/models/Email.php
Due: php
