Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

[Bugfix:Forum] Fixed status page in ungraded gradeables
  site/app/libraries/database/DatabaseQueries.php
Due: php

Modified HTML structure to ensure lines separating gradeables didn't accumulate
  site/app/templates/admin/RainbowCustomization.twig
  site/public/css/rainbow-customization.css
Due: php

Revert "Modified HTML structure to ensure lines separating gradeables didn't accumulate"
  site/app/templates/admin/RainbowCustomization.twig
  site/public/css/rainbow-customization.css
Due: php

add logging
  .setup/INSTALL_SUBMITTY_HELPER.sh
  site/app/controllers/OfficeHoursQueueController.php
  site/app/libraries/Logger.php
Due: php

fix documentation
  site/app/libraries/Logger.php
Due: php

address pr comments
  site/app/controllers/student/TeamController.php
Due: php

remove type=button tag
  site/app/templates/submission/homework/LoadMessagePage.twig
Due: php

One line fix :D
  site/app/controllers/admin/ReportController.php
Due: php

[Feature:Submission] Message page before gradeable (#5890)
  bin/json_schemas/complete_config_schema.json
  grading/main_configure.cpp
  more_autograding_examples/notebook_time_limit/config/config.json
  site/app/controllers/student/SubmissionController.php
  site/app/models/gradeable/AutogradingConfig.php
  site/app/templates/submission/homework/LoadMessagePage.twig
  site/app/views/NavigationView.php
  site/socket/index.php
Due: php

initial work
  .setup/distro_setup/setup_distro.sh
  .setup/install_system.sh
  .setup/vagrant/pg_hba.conf
Due: none

Add 2nd due date formatted for server time
  site/app/templates/submission/homework/SubmitBox.twig
  site/app/views/submission/HomeworkView.php
  site/public/css/submitbox.css
Due: php

[Bugfix:InstructorUI] generate grade summaries w polls & teams (#5905)
  site/app/controllers/admin/ReportController.php
Due: php

remove h1 from load message
  site/app/templates/submission/homework/LoadMessagePage.twig
Due: php

fixed button spacing and button links
  site/app/views/forum/ForumThreadView.php
  site/public/css/forum.css
  site/public/js/forum.js
Due: php

Update ForumThreadView.php
  site/app/views/forum/ForumThreadView.php
Due: php

Whitespace
  site/app/views/forum/ForumThreadView.php
Due: php

initial work
  grading/main_validator.cpp
  more_autograding_examples/notebook_time_limit/config/config.json
  site/app/controllers/grading/ElectronicGraderController.php
  site/app/views/grading/ElectronicGraderView.php
Due: php

database version
  autograder/autograder/insert_database_version_data.py
Due: autograder

rest of tests
  tests/integrationTests/tests/python_multipart_static_analysis/validation/results.json_buggy
  tests/integrationTests/tests/python_multipart_static_analysis/validation/results.json_buggy2
  tests/integrationTests/tests/python_multipart_static_analysis/validation/results.json_buggy3
  tests/integrationTests/tests/python_multipart_static_analysis/validation/results.json_correct
  tests/integrationTests/tests/python_simple_homework/validation/results.json_buggy
  tests/integrationTests/tests/python_simple_homework/validation/results.json_buggy2
  tests/integrationTests/tests/python_simple_homework/validation/results.json_correct
  tests/integrationTests/tests/python_simple_homework/validation/results.json_infinite_loop_time_cutoff
  tests/integrationTests/tests/python_simple_homework/validation/results.json_infinite_loop_too_much_output
  tests/integrationTests/tests/python_simple_homework/validation/results.json_syntax_error
  tests/integrationTests/tests/tutorial_01_simple_python/validation/results.json_buggy
  tests/integrationTests/tests/tutorial_01_simple_python/validation/results.json_solution
  tests/integrationTests/tests/tutorial_02_simple_cpp/validation/results.json_buggy
  tests/integrationTests/tests/tutorial_02_simple_cpp/validation/results.json_solution
  tests/integrationTests/tests/tutorial_03_multipart/validation/results.json_buggy
  tests/integrationTests/tests/tutorial_03_multipart/validation/results.json_buggy2
  tests/integrationTests/tests/tutorial_03_multipart/validation/results.json_solution
  tests/integrationTests/tests/tutorial_03_multipart/validation/results.json_wrong
  tests/integrationTests/tests/tutorial_04_python_static_analysis/validation/results.json_buggy
  tests/integrationTests/tests/tutorial_04_python_static_analysis/validation/results.json_buggy2
  tests/integrationTests/tests/tutorial_04_python_static_analysis/validation/results.json_buggy3
  tests/integrationTests/tests/tutorial_04_python_static_analysis/validation/results.json_correct
  tests/integrationTests/tests/tutorial_06_loop_types/validation/results.json_buggy
  tests/integrationTests/tests/tutorial_06_loop_types/validation/results.json_solution
  tests/integrationTests/tests/tutorial_07_loop_depth/validation/results.json_buggy
  tests/integrationTests/tests/tutorial_07_loop_depth/validation/results.json_solution
  tests/integrationTests/tests/tutorial_09_java_testing/validation/buggy_results.json
  tests/integrationTests/tests/tutorial_09_java_testing/validation/correct_results.json
  tests/integrationTests/tests/tutorial_09_java_testing/validation/does_not_compile_results.json
  tests/integrationTests/tests/tutorial_09_java_testing/validation/still_buggy_results.json
  tests/integrationTests/tests/tutorial_10_java_coverage/validation/buggy_coverage_results.json
  tests/integrationTests/tests/tutorial_10_java_coverage/validation/buggy_no_coverage_results.json
  tests/integrationTests/tests/tutorial_10_java_coverage/validation/correct_no_coverage_results.json
  tests/integrationTests/tests/tutorial_10_java_coverage/validation/correct_results.json
  tests/integrationTests/tests/tutorial_11_resources/validation/buggy_results.json
  tests/integrationTests/tests/tutorial_11_resources/validation/solution_results.json
  tests/integrationTests/tests/tutorial_12_system_calls/validation/no_fork_results.json
  tests/integrationTests/tests/tutorial_12_system_calls/validation/parallel_fork_results.json
  tests/integrationTests/tests/tutorial_12_system_calls/validation/serial_fork_results.json
  tests/integrationTests/tests/tutorial_12_system_calls/validation/tree_fork_results.json
Due: none

update
  tests/integrationTests/tests/tutorial_03_multipart/validation/results.json_buggy
  tests/integrationTests/tests/tutorial_03_multipart/validation/results.json_buggy2
Due: none

flake
  autograder/autograder/insert_database_version_data.py
  grading/main_validator.cpp
Due: autograder

edit
  autograder/autograder/insert_database_version_data.py
Due: autograder

i hate python
  autograder/autograder/insert_database_version_data.py
Due: autograder

edits
  more_autograding_examples/cpp_hidden_tests/config/config.json
Due: none

[Feature:InstructorUI] Add statistics to office hours queue (#5796)
  site/app/controllers/OfficeHoursQueueController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/models/OfficeHoursQueueModel.php
  site/app/templates/officeHoursQueue/QueueButtonBar.twig
  site/app/templates/officeHoursQueue/QueueHistory.twig
  site/app/templates/officeHoursQueue/QueueStats.twig
  site/app/templates/officeHoursQueue/QueueStatsStudents.twig
  site/app/templates/officeHoursQueue/QueueStatus.twig
  site/app/views/OfficeHoursQueueView.php
Due: php

[Feature:InstrutorUI] autograding schema warnings webUI (#5847)
  site/app/controllers/admin/AdminGradeableController.php
  site/public/js/admin-gradeable-updates.js
Due: php

[Feature:Submission] Show both local & server time on submission page (#5909)
  site/app/templates/submission/homework/SubmitBox.twig
  site/app/views/submission/HomeworkView.php
  site/public/css/submitbox.css
Due: php

[Bugfix:Submission] page update on grade inquiry post(#5857)
  site/app/controllers/student/GradeInquiryController.php
  site/app/libraries/database/DatabaseQueries.php
  site/public/js/grade-inquiry.js
Due: php

[Bugfix:Submission] student view pdf annotations (#5832)
  site/app/controllers/pdf/PDFController.php
  site/app/templates/autograding/PeerResults.twig
  site/app/templates/autograding/TAResults.twig
  site/app/views/AutoGradingView.php
Due: php

[Bugfix:TAGrading] download zip for team assignment (#5850)
  site/app/controllers/MiscController.php
Due: php

Version 1: new column
  site/app/templates/grading/electronic/Details.twig
  site/app/views/grading/ElectronicGraderView.php
  site/public/css/server.css
  site/public/js/server.js
Due: php

version 2: lock icon added to current column
  site/app/templates/grading/electronic/Details.twig
  site/app/views/grading/ElectronicGraderView.php
Due: php

clean up
  site/app/views/grading/ElectronicGraderView.php
  site/public/js/server.js
Due: php

Fixed issue #5316
  site/app/models/RainbowCustomization.php
Due: php

Cleaned up code to remove debugging artifacts and describe code better
  site/app/models/RainbowCustomization.php
Due: php

+1 history display option + inline block for lock icon
  site/app/templates/grading/electronic/Details.twig
  site/public/js/server.js
Due: php

first draft
  site/app/controllers/grading/ElectronicGraderController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/views/grading/ElectronicGraderView.php
Due: php

fix
  site/app/controllers/grading/ElectronicGraderController.php
  site/app/libraries/database/DatabaseQueries.php
Due: php

Path conditions:
  php: any of: site/app, but not: tests/integrationTests
  autograder: any of: autograder/autograder, but not: tests/integrationTests
  python_submitty_utils: any of: python_submitty_utils/submitty_utils, but not: tests/integrationTests
  migrator: any of: migration/migrator, but not: tests/integrationTests
