Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

Trouble testing if this works
  .setup/bin/recreate_submissions.py
Due: none

Update manifest.json
  site/public/manifest.json
Due: none

192 size icon image added
  site/public/img/pwa_192.png
Due: none

Added a Installation Success message
  .setup/install_system.sh
Due: none

remove conditionals
  site/app/templates/polls/ViewPoll.twig
  site/tests/app/entities/poll/PollTester.php
Due: php

Fixing the css lint error
  site/public/css/forum.css
Due: none

Attempt-2-At-Fixing-Format
  site/app/views/forum/ForumThreadView.php
  site/public/css/forum.css
Due: php

Attempt-2-At-Fixing-Formatting
  site/app/views/forum/ForumThreadView.php
Due: php

update frontend changes to database
  site/app/controllers/UserProfileController.php
  site/app/controllers/admin/UsersController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/models/User.php
  site/app/templates/EditPronounsForm.twig
  site/app/templates/UserProfile.twig
  site/public/js/user-profile.js
Due: php

split up workflow triggers and log group
  .github/workflows/submitty_ci.yml
Due: none

fix log job
  .github/workflows/submitty_ci.yml
Due: none

regex changed - allow letters and slashes with 20 char limit
  site/app/controllers/UserProfileController.php
  site/app/models/User.php
Due: php

Final changes (tested on fork)
  .github/workflows/submitty_ci.yml
Due: none

php-lint and js-lint error resolved
  site/app/controllers/admin/UsersController.php
  site/public/js/user-profile.js
  site/tests/app/libraries/UtilsTester.php
  site/tests/app/models/EmailTester.php
Due: php

column added to migrations
  migration/migrator/data/course_tables.sql
  migration/migrator/data/submitty_db.sql
Due: migrator

Made Changes
  site/app/templates/grading/electronic/AutogradingPanel.twig
  site/app/views/grading/ElectronicGraderView.php
  site/ts/twig/grading/electronic/AutogradingPanel.ts
Due: php

Indentation Fix
  site/app/templates/grading/electronic/AutogradingPanel.twig
Due: php

update comment
  .github/workflows/submitty_ci.yml
Due: none

Indentation Fix
  site/ts/twig/grading/electronic/AutogradingPanel.ts
Due: none

Fix
  site/app/views/grading/ElectronicGraderView.php
Due: php

Disabled submit button being grey
  site/public/js/drag-and-drop.js
Due: none

Requested changes
  site/app/controllers/admin/UsersController.php
Due: php

add migration and trivial style edits
  migration/migrator/migrations/course/20230218155723_show_correct_answer.py
  site/app/entities/poll/Poll.php
  site/app/libraries/PollUtils.php
  site/app/templates/polls/PollForm.twig
  site/app/templates/polls/ViewPoll.twig
Due: php, migrator

add data.execute to migration file
  migration/migrator/migrations/course/20230218155723_show_correct_answer.py
Due: migrator

fix migration and dump
  migration/migrator/data/course_tables.sql
  migration/migrator/data/submitty_db.sql
Due: migrator

Fix spacing
  site/app/controllers/admin/UsersController.php
Due: php

Word-wrap addition
  site/public/css/server.css
Due: none

fix phpunit tests
  site/app/libraries/PollUtils.php
  site/tests/app/entities/poll/PollTester.php
  site/tests/app/libraries/PollUtilsTester.php
Due: php

remove migration
  migration/migrator/data/course_tables.sql
  migration/migrator/migrations/course/20230218155723_show_correct_answer.py
  site/tests/app/entities/poll/PollTester.php
Due: migrator

Fixed DB Migration and Superuser access
  migration/migrator/data/submitty_db.sql
  migration/migrator/migrations/master/20230219141515_docker_image.py
  site/app/controllers/DockerInterfaceController.php
  site/public/js/docker_interface.js
Due: php, migrator

js-lint fix
  site/public/js/docker_interface.js
Due: none

js-lint fix
  site/app/controllers/DockerInterfaceController.php
  site/public/js/docker_interface.js
Due: php

[Documentation:System] Added a Installation Success message (#8923)
  .setup/install_system.sh
Due: none

attempt to fix migration dump
  migration/migrator/data/course_tables.sql
  migration/migrator/migrations/course/20230219143956_polls_release_answer.py
Due: migrator

Added exception
  package-lock.json
Due: none

.
  sbin/shipper_utils/update_and_install_workers.py
Due: none

another dump edits coursetable.sql
  migration/migrator/data/course_tables.sql
Due: migrator

E2e fix
  site/app/views/grading/ElectronicGraderView.php
Due: php

.
  site/app/views/grading/ElectronicGraderView.php
Due: php

Added Documentation
  .setup/bin/populate_office_hours_queue.py
Due: none

Path conditions:
  php: any of: site/app, but not: tests/integrationTests
  autograder: any of: autograder/autograder, but not: tests/integrationTests
  python_submitty_utils: any of: python_submitty_utils/submitty_utils, but not: tests/integrationTests
  migrator: any of: migration/migrator, but not: tests/integrationTests
