Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: true

ignore:
  - "tests/integrationTests"

coverage:
  status:
    project: false
    patch: false
    changes: false
    migrator:
      flags: migrator
      target: 100%

flags:
  php:
    paths:
      - site/app
  autograder:
    paths:
      - autograder/autograder
  python_submitty_utils:
    paths:
      - python_submitty_utils/submitty_utils
  migrator:
    paths:
      - migration/migrator

comment:
  layout: "reach, diff, flags"
  behavior: default

Update vagrant_up.yaml
  .github/workflows/vagrant_up.yaml
Due: none

[Testing:Developer] Skip vbguest install in CI (#6530)
  .github/workflows/vagrant_up.yaml
  Vagrantfile
Due: none

Revert "[Bugfix:InstructorUI] Add late days instead of overwriting (#6426)"
  site/app/controllers/admin/LateController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/templates/admin/LateDays.twig
Due: php

[Refactor:Developer] Use doctrine for entity loading
  site/app/controllers/admin/SqlToolboxController.php
  site/app/entities/db/Column.php
  site/app/entities/db/Table.php
  site/app/libraries/Core.php
  site/app/libraries/database/AbstractDatabase.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/templates/admin/SqlToolbox.twig
  site/composer.json
  site/composer.lock
Due: php

Revert "[Bugfix:InstructorUI] Add late days instead of overwriting (#6426)" (#6531)
  site/app/controllers/admin/LateController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/templates/admin/LateDays.twig
Due: php

Fix typo
  site/app/templates/admin/users/RotatingSectionsForm.twig
Due: php

Add padding
  site/app/templates/Navigation.twig
  site/public/css/navigation.css
Due: php

[Bugfix:InstructorUI] Fix typo in Manage Sections Page (#6536)
  site/app/templates/admin/users/RotatingSectionsForm.twig
Due: php

Update PlagiarismController.php
  site/app/controllers/admin/PlagiarismController.php
Due: php

Remove unnecessary classes
  site/app/templates/polls/AllPollsPageInstructor.twig
  site/public/js/polls-dropdown.js
Due: php

Remove other unnecessary code
  sbin/run_lichen_plagiarism.py
Due: none

Hopefully pass tests
  site/app/templates/Navigation.twig
  site/public/css/navigation.css
Due: php

Fix some more functions
  site/app/controllers/PollController.php
  site/app/libraries/database/DatabaseQueries.php
Due: php

Finish up tooltips, fix switch when custom item assigned
  site/app/models/GradingOrder.php
  site/public/js/ta-grading.js
Due: php

Comments, linting (:
  site/app/models/GradingOrder.php
Due: php

Rename migration to more recent name
  migration/migrator/migrations/course/20210601085751_null_dates.py
Due: migrator

fix auto open button
  site/public/js/ta-grading.js
Due: none

Changed behavior of the drop-down-options so it hides when the user clicks outside the element. clicking the textbox now only shows the options, and scrollbar added to the options
  site/app/templates/admin/admin_gradeable/AdminGradeableAuto.twig
  site/public/css/admin-gradeable.css
Due: php

messed around with css and twig styling
  site/app/templates/admin/admin_gradeable/AdminGradeableAuto.twig
  site/public/css/admin-gradeable.css
Due: php

update viewed content color
  site/public/css/colors.css
  site/public/css/forum.css
  site/public/css/notebook-builder.css
  site/public/css/rainbow-customization.css
  site/public/css/server.css
Due: none

move viewed-content color
  site/public/css/colors.css
Due: none

messed around with more css
  site/app/templates/admin/admin_gradeable/AdminGradeableAuto.twig
  site/public/css/admin-gradeable.css
Due: php

made the arrow only show and not hide the options
  site/app/templates/admin/admin_gradeable/AdminGradeableAuto.twig
Due: php

fixed indentation styling
  site/app/templates/admin/admin_gradeable/AdminGradeableAuto.twig
Due: php

[UI/UX:InstructorUI] Contrast Fixes (#6516)
  site/public/css/bootstrap.css
  site/public/css/colors.css
  site/public/css/officeHoursQueue.css
  site/public/css/server.css
Due: none

[UI/UX:InstructorUI] Off-Center Error Banner (#6411)
  site/public/css/electronic.css
Due: none

[Bugfix:TAGrading] Fix auto open button not working (#6542)
  site/public/js/ta-grading.js
Due: none

Add visualize whitespace button only to "text"
  site/app/templates/autograding/AutoChecks.twig
Due: php

[UI/UX:TAGrading] checkpoint/numeric gradeable legend (#6524)
  site/app/templates/grading/simple/Display.twig
  site/public/css/colors.css
  site/public/css/simple-grading.css
  site/public/js/simple-grading.js
Due: php

[Refactor:InstructorUI] Improve Accessibility on Team Edit Form (#6523)
  site/app/templates/grading/AdminTeamForm.twig
  site/app/views/grading/ElectronicGraderView.php
  site/public/css/admin-team-form.css
  site/public/css/server.css
  site/public/js/admin-team-form.js
  site/public/js/server.js
Due: php

[Bugfix:TAGrading] Submission file half line bug (#6519)
  site/app/templates/grading/electronic/SubmissionPanel.twig
  site/public/js/ta-grading.js
Due: php

finish updating and moving styling
  site/public/css/electronic.css
  site/public/css/server.css
Due: none

[Bugfix:Plagiarism] Display Plagiarism Config Invalid Inputs (#6514)
  site/app/templates/plagiarism/PlagiarismConfigurationForm.twig
  site/public/css/plagiarism.css
Due: php

attempted to refactored params to be fit into an array
  site/public/js/gradeable.js
  site/public/js/ta-grading-rubric.js
Due: none

[Bugfix:HelpQueue] individual queue usage stats page (#6513)
  site/app/libraries/database/DatabaseQueries.php
Due: php

[UI/UX:TAGrading] Zip Button Contrast in Dark Mode (#6505)
  site/public/css/admin-gradeable.css
Due: none

[UI/UX:System] Improve Breadcrumb UI (#6400)
  site/app/templates/GlobalHeader.twig
  site/public/css/global.css
Due: php

[Bugfix:TAGrading] Notebook image width scaling (#6386)
  site/public/js/server.js
Due: none

[Bugfix:TAGrading] Correct Stats for Peer Grading (#6046)
  site/app/controllers/grading/ElectronicGraderController.php
Due: php

[Bugfix:Forum] Standardize styling for markdown posts (#6491)
  site/app/templates/forum/CreatePost.twig
  site/app/templates/forum/RenderPost.twig
  site/public/css/forum.css
Due: php
