Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: true

ignore:
  - "tests/integrationTests"

coverage:
  status:
    project: false
    patch: false
    changes: false
    migrator:
      flags: migrator
      target: 100%

flags:
  php:
    paths:
      - site/app
  autograder:
    paths:
      - autograder/autograder
  python_submitty_utils:
    paths:
      - python_submitty_utils/submitty_utils
  migrator:
    paths:
      - migration/migrator

comment:
  layout: "reach, diff, flags"
  behavior: default

[Refactor:System] Use exclude file for site rsync
  .setup/install_submitty/install_site.sh
  site/.rsyncignore
Due: none

revert version updates
  .github/workflows/submitty_ci.yml
Due: none

[Refactor:System] Use exclude file for site rsync (#7298)
  .setup/install_submitty/install_site.sh
  site/.rsyncignore
Due: none

Add hash count to UI
  site/app/controllers/admin/PlagiarismController.php
  site/public/js/plagiarism.js
Due: php

new query
  site/app/libraries/database/DatabaseQueries.php
  site/app/models/OfficeHoursQueueModel.php
  site/app/templates/officeHoursQueue/QueueStatus.twig
Due: php

style table
  site/app/templates/officeHoursQueue/QueueStatus.twig
Due: php

only grab open queues
  site/app/models/OfficeHoursQueueModel.php
  site/app/templates/officeHoursQueue/QueueStatus.twig
Due: php

comments
  site/app/models/OfficeHoursQueueModel.php
Due: php

lint
  site/app/models/OfficeHoursQueueModel.php
Due: php

Remove down migration
  migration/migrator/migrations/course/20211006221014_leaderboard.py
Due: migrator

cleanup
  site/app/controllers/GlobalController.php
  site/app/controllers/MiscController.php
  site/app/libraries/database/AbstractDatabase.php
  site/app/libraries/database/QueryIdentifier.php
  site/app/models/AbstractModel.php
  site/tests/BaseUnitTest.php
  site/tests/phpstan/ModelClassExtension.php
Due: php

[Testing:System] Move Python versions to env variable (#7291)
  .github/workflows/submitty_ci.yml
Due: none

[Refactor:System] Remove env vars from INSTALL_SUBMITTY.sh (#7213)
  .setup/CONFIGURE_SUBMITTY.py
  .setup/INSTALL_SUBMITTY_HELPER.sh
Due: none

[Refactor:System] Migrate install helper bin script (#7212)
  .setup/INSTALL_SUBMITTY_HELPER.sh
  .setup/INSTALL_SUBMITTY_HELPER_BIN.sh
  .setup/INSTALL_SUBMITTY_HELPER_SITE.sh
  .setup/install_submitty/install_bin.sh
Due: none

Update .setup/CONFIGURE_SUBMITTY.py
  .setup/CONFIGURE_SUBMITTY.py
Due: none

[Testing:System] Move phpunit/phpcs files
  site/.rsyncignore
  site/composer.json
  site/phpunit.xml
  site/ruleset.xml
  site/tests/coveralls.yml
Due: none

update CI
  .github/workflows/submitty_ci.yml
Due: none

rename ruleset/phpcs
  site/.rsyncignore
  site/phpcs.xml
Due: none

update file paths
  site/phpcs.xml
  site/phpunit.xml
Due: none

bootstrap path
  site/phpunit.xml
Due: none

[Bugfix:Developer] Record queries run by doctrine (#7295)
  site/app/libraries/Core.php
  site/app/libraries/database/AbstractDatabase.php
  site/app/libraries/database/DatabaseUtils.php
  site/app/views/GlobalView.php
  site/tests/app/libraries/database/AbstractDatabaseTester.php
  site/tests/app/libraries/database/DatabaseUtilsTester.php
Due: php

Update ConfigTester.php
  site/tests/app/models/ConfigTester.php
Due: none

edit text
  site/app/templates/officeHoursQueue/QueueStatus.twig
Due: php

[Feature:HelpQueue] Allow switching queues (#7236)
  site/app/controllers/OfficeHoursQueueController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/templates/officeHoursQueue/QueueStatus.twig
Due: php

[Bugfix:Submission] Fix switch to most recent button error (#7265)
  site/app/views/submission/HomeworkView.php
Due: php

[Bugfix:TAGrading] Fix peer component creation (#7274)
  site/app/controllers/admin/AdminGradeableController.php
  site/app/models/gradeable/Gradeable.php
Due: php

Update rollback to work on missing
  migration/migrator/migrations/system/20210918211432_authentication_method.py
Due: migrator

[Testing:Developer] Move phpunit/phpcs files (#7303)
  .github/workflows/submitty_ci.yml
  site/.rsyncignore
  site/composer.json
  site/phpcs.xml
  site/phpunit.xml
  site/tests/coveralls.yml
Due: none

Fix UI based on code review
  site/app/controllers/student/LeaderboardController.php
  site/app/templates/submission/homework/leaderboard/Leaderboard.twig
  site/app/templates/submission/homework/leaderboard/LeaderboardTable.twig
  site/public/css/leaderboard.css
Due: php

Fix linter
  site/app/controllers/student/LeaderboardController.php
  site/app/models/gradeable/LeaderboardConfig.php
  site/public/css/leaderboard.css
Due: php

Fix phpstan
  site/app/libraries/database/DatabaseQueries.php
Due: php

Apply suggestions from code review
  migration/migrator/migrations/system/20210918211432_authentication_method.py
Due: migrator

[Bugfix:Notifications] Fix graders not receiving inquiry emails (#7297)
  site/app/controllers/student/GradeInquiryController.php
Due: php

[Testing:Developer] Increase phpstan analyze level
  site/phpstan-baseline.neon
  site/phpstan.neon
Due: none

Fix spacing issues
  site/app/templates/submission/homework/leaderboard/Leaderboard.twig
  site/public/css/leaderboard.css
Due: php

[Testing:Developer] Increase phpstan analyze level (#7304)
  site/phpstan-baseline.neon
  site/phpstan.neon
Due: none

Fix e2e test
  site/app/templates/admin/admin_gradeable/AdminGradeableAuto.twig
Due: php

add newline when necessary for markdown code insertion
  site/public/js/server.js
Due: none
