Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: true

ignore:
  - "tests/integrationTests"

coverage:
  status:
    project: false
    patch: false
    changes: false
    migrator:
      flags: migrator
      target: 100%

flags:
  php:
    paths:
      - site/app
  autograder:
    paths:
      - autograder/autograder
  python_submitty_utils:
    paths:
      - python_submitty_utils/submitty_utils
  migrator:
    paths:
      - migration/migrator

comment:
  layout: "reach, diff, flags"
  behavior: default

added form. need to do something with it now
  site/app/templates/OfficeHoursQueue.twig
  site/app/views/OfficeHoursQueueView.php
Due: php

fixed some bugs. now can add yourself and remove yourself from the queue at will
  migration/migrator/migrations/course/20191010120300_add_office_hours_queue.py
  site/app/controllers/OfficeHoursQueueController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/models/OfficeHoursQueue.php
  site/app/templates/OfficeHoursQueue.twig
  site/app/views/OfficeHoursQueueView.php
Due: php, migrator

in-progress work
  site/app/controllers/admin/ConfigurationController.php
  site/app/templates/admin/Configuration.twig
  site/app/views/admin/ConfigurationView.php
  site/public/js/configuration.js
  site/tests/app/controllers/admin/ConfigurationControllerTester.php
  site/tests/app/models/ConfigTester.php
Due: php

move selected queries into controller
  site/app/controllers/NavigationController.php
  site/app/views/NavigationView.php
Due: php

Update PL/pgsql code
  migration/migrator/data/submitty_db.sql
  migration/migrator/migrations/master/20190918171152_preferred_name_logging.py
Due: migrator

initial work
  site/tests/app/controllers/course/CourseMaterialsControllerTester.php
Due: none

remove extra whitespace
  site/tests/app/controllers/course/CourseMaterialsControllerTester.php
Due: none

finished up student and started on instructor interface. Doubling adding currnetly posible
  site/app/controllers/OfficeHoursQueueController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/models/OfficeHoursQueueInstructor.php
  site/app/models/OfficeHoursQueueStudent.php
  site/app/templates/OfficeHoursQueueInstructor.twig
  site/app/templates/OfficeHoursQueueStudent.twig
  site/app/views/OfficeHoursQueueView.php
Due: php

you can now help people. and they can be happy with the help they get
  site/app/controllers/OfficeHoursQueueController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/models/OfficeHoursQueueInstructor.php
  site/app/templates/OfficeHoursQueueInstructor.twig
  site/app/templates/OfficeHoursQueueStudent.twig
  site/app/views/OfficeHoursQueueView.php
Due: php

final Course Materials Fixes
  site/app/controllers/MiscController.php
  site/app/controllers/course/CourseMaterialsController.php
  site/app/models/CourseMaterial.php
  site/app/templates/course/CourseMaterials.twig
  site/app/templates/course/UploadCourseMaterialsForm.twig
  site/app/views/course/CourseMaterialsView.php
  site/public/js/drag-and-drop.js
Due: php

added new line for readability under title
  site/app/templates/submission/homework/SubmitBox.twig
Due: php

Revert "added new line for readability under title"
  site/app/templates/submission/homework/SubmitBox.twig
Due: php

add a new line under title for readability
  site/app/libraries/database/DatabaseQueries.php
Due: php

replacement of the progressbar with Mozilla <progress>, removed styles, updates of javascript action which incresing values in progressbar
  site/app/templates/submission/homework/SubmitBox.twig
  site/public/css/global.css
  site/public/js/drag-and-drop.js
Due: php

show progressbar when uploading larger files
  site/public/css/global.css
  site/public/js/drag-and-drop.js
Due: none

added test for normal grade inquiry
  tests/e2e/test_grade_inquiry.py
Due: none

added course settings option to enable office hour queue
  migration/migrator/migrations/course/20191012181507_add_office_hour_queue_to_config.py
  site/app/controllers/GlobalController.php
  site/app/controllers/admin/AdminGradeableController.php
  site/app/controllers/admin/ConfigurationController.php
  site/app/models/Config.php
  site/app/templates/admin/Configuration.twig
  site/config/course_template.json
  site/tests/app/models/ConfigTester.php
Due: php, migrator

added two more tests
  tests/e2e/test_grade_inquiry.py
Due: none

Fixed up some front end stuff to look nicer
  site/app/controllers/OfficeHoursQueueController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/models/OfficeHoursQueueInstructor.php
  site/app/models/OfficeHoursQueueStudent.php
  site/app/templates/OfficeHoursQueueInstructor.twig
  site/app/templates/OfficeHoursQueueStudent.twig
  site/app/views/OfficeHoursQueueView.php
Due: php

[Refactor:PHP] Fix PSR2.Files.EndFileNewline style errors
  site/app/controllers/admin/GradeOverrideController.php
  site/app/controllers/admin/ReportController.php
  site/app/controllers/admin/WrapperController.php
  site/app/controllers/student/LateDaysTableController.php
  site/app/libraries/DateUtils.php
  site/app/libraries/ErrorMessages.php
  site/app/libraries/database/ForumQueries.php
  site/app/libraries/response/AbstractResponse.php
  site/app/libraries/response/JsonResponse.php
  site/app/libraries/response/RedirectResponse.php
  site/app/libraries/response/Response.php
  site/app/libraries/response/WebResponse.php
  site/app/libraries/routers/AnnotatedRouteLoader.php
  site/app/models/CourseMaterial.php
  site/app/models/GradingSection.php
  site/app/models/PDFGenerator.php
  site/app/models/forum/Post.php
  site/app/models/forum/Thread.php
  site/app/models/gradeable/AutoGradedGradeable.php
  site/app/models/gradeable/AutoGradedVersionHistory.php
  site/app/models/gradeable/AutogradingTestcase.php
  site/app/models/gradeable/GradedComponentContainer.php
  site/app/models/gradeable/LateDays.php
  site/app/models/gradeable/Submitter.php
  site/app/views/AuthenticationView.php
  site/app/views/LateDaysTableView.php
  site/app/views/admin/GradeOverrideView.php
  site/app/views/admin/LateDayView.php
  site/app/views/admin/WrapperView.php
  site/app/views/submission/RainbowGradesView.php
  site/tests/app/libraries/OutputTester.php
  site/tests/app/libraries/TokenManagerTester.php
  site/tests/app/libraries/response/WebResponseTester.php
  site/tests/app/libraries/routers/WebRouterTester.php
  site/tests/ruleset.xml
Due: php

made xpaths more abstract
  tests/e2e/test_grade_inquiry.py
Due: none

Create test for making sure queries were called in the controller as well as add a framework component to make this testing easy for all other cases
  site/app/controllers/admin/LateController.php
  site/tests/BaseUnitTest.php
  site/tests/app/controllers/admin/LateControllerTester.php
Due: php

iteratively adding extra credit component message
  site/app/controllers/admin/AdminGradeableController.php
Due: php

iteratively adding extra credit component message, trying to fix it
  site/app/controllers/admin/AdminGradeableController.php
Due: php

initial work
  site/app/controllers/MiscController.php
  site/app/views/AutoGradingView.php
Due: php

add check to download function
  site/app/controllers/MiscController.php
Due: php

added remove button, fixed new user bug, and made info include removed by
  migration/migrator/migrations/course/20191010120300_add_office_hours_queue.py
  site/app/controllers/OfficeHoursQueueController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/models/OfficeHoursQueueStudent.php
  site/app/templates/OfficeHoursQueueInstructor.twig
  site/app/templates/OfficeHoursQueueStudent.twig
Due: php, migrator

Added breadcrumbs
  site/app/views/OfficeHoursQueueView.php
Due: php

fixed security bug
  site/app/controllers/OfficeHoursQueueController.php
Due: php

added ID to instructor queue
  site/app/templates/OfficeHoursQueueInstructor.twig
Due: php

added space
  site/app/controllers/OfficeHoursQueueController.php
Due: php

added ourselves to author list
  AUTHORS.md
Due: none

Moved visitThread call in ForumController to DatabaseQueries createThread function.
  site/app/controllers/forum/ForumController.php
  site/app/libraries/database/DatabaseQueries.php
Due: php

added code
  migration/migrator/migrations/course/20191010120300_add_office_hours_queue.py
  migration/migrator/migrations/course/20191012181507_add_office_hour_queue_to_config.py
  site/app/controllers/GlobalController.php
  site/app/controllers/OfficeHoursQueueController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/templates/OfficeHoursQueueStudent.twig
Due: php, migrator

made queue made redirect home if queue is disabled
  site/app/controllers/OfficeHoursQueueController.php
Due: php

open close queue checkbox
  site/app/controllers/GlobalController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/models/OfficeHoursQueueInstructor.php
  site/app/templates/OfficeHoursQueueInstructor.twig
  site/app/views/OfficeHoursQueueView.php
Due: php

added some functions to close and open
  site/app/controllers/OfficeHoursQueueController.php
  site/app/libraries/database/DatabaseQueries.php
Due: php

sidebar check for if queue is open
  site/app/controllers/GlobalController.php
  site/app/libraries/database/DatabaseQueries.php
Due: php

added closing and opening changes
  site/app/controllers/OfficeHoursQueueController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/templates/OfficeHoursQueueInstructor.twig
  site/app/views/OfficeHoursQueueView.php
Due: php

added closing brace
  site/app/libraries/database/DatabaseQueries.php
Due: php
