Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

Oopsie
  .setup/bin/setup_sample_courses.py
Due: none

logs
  site/public/js/gradeable-notebook.js
Due: none

Adjust hover animation for plagiarism drag bars
  site/public/css/plagiarism.css
Due: none

Add check to make sure cursor is in the correct direction
  site/public/js/resizable-panels.js
Due: none

changed to use webresponse instead of jsonresponse, deleted useless phpdoc functions
  site/app/controllers/EmailStatusController.php
  site/app/entities/email/EmailEntity.php
  site/public/js/email-status.js
Due: php

comments
  site/public/js/gradeable-notebook.js
Due: none

lint
  site/public/js/gradeable-notebook.js
Due: none

twig error
  site/app/templates/grading/electronic/NotebookPanel.twig
Due: php

removed the usage of emailstatusmodel
  site/app/controllers/EmailStatusController.php
  site/app/entities/email/EmailEntity.php
  site/app/models/EmailStatusModel.php
  site/app/views/email/EmailStatusView.php
Due: php

ui fixes
  site/app/templates/officeHoursQueue/QueueFilter.twig
Due: php

Update DBQueries to exclude "root" group
  site/app/libraries/database/DatabaseQueries.php
Due: php

fix e2e
  tests/e2e/test_office_hours_queue.py
Due: none

refactor
  site/app/controllers/MiscController.php
Due: php

change to the repository
  migration/migrator/migrations/master/20210726142358_change_email_id_type.py
  site/app/repositories/email/EmailRepository.php
Due: php, migrator

Add link to docs on the plagiarism main page
  site/app/templates/plagiarism/Plagiarism.twig
  site/app/templates/plagiarism/PlagiarismConfigurationForm.twig
Due: php

migration and dump
  migration/migrator/data/submitty_db.sql
  migration/migrator/migrations/master/20210727140529_change_email_id_type.py
Due: migrator

add test
  tests/e2e/test_office_hours_queue.py
Due: none

Adjust configuration form text
  site/app/controllers/admin/PlagiarismController.php
  site/app/templates/plagiarism/PlagiarismConfigurationForm.twig
Due: php

Update site/public/js/gradeable-notebook.js
  site/public/js/gradeable-notebook.js
Due: none

Update config.json
  more_autograding_examples/notebook_basic/config/config.json
Due: none

enforce minimum height
  site/app/templates/forum/ForumBar.twig
  site/app/templates/forum/showFullThreadsPage.twig
Due: php

min height
  site/public/css/forum.css
Due: none

set reset buttons
  site/public/js/gradeable-notebook.js
Due: none

dice icon
  site/app/templates/officeHoursQueue/NewQueue.twig
  site/app/templates/officeHoursQueue/QueueFilter.twig
Due: php

more progress
  .setup/bin/setup_sample_emails.py
  .setup/data/random/CourseSubject.txt
  .setup/data/random/SuperuserEmailBody.txt
  .setup/data/random/SuperuserSubject.txt
Due: none

switched columns of worker machine table
  site/app/templates/admin/Docker.twig
Due: php

replace json.hpp with shared repo checkout version
  .setup/INSTALL_SUBMITTY_HELPER.sh
  grading/CMakeLists.txt
  grading/TestCase.h
  grading/change.cpp
  grading/change.h
  grading/clean.cpp
  grading/clean.h
  grading/default_config.h
  grading/difference.cpp
  grading/difference.h
  grading/dispatch.cpp
  grading/dispatch.h
  grading/empty_custom_function.cpp
  grading/execute.h
  grading/execute_limits.cpp
  grading/json.hpp
  grading/main_validator.cpp
  grading/myersDiff.h
  grading/seccomp_functions.cpp
  grading/tokenSearch.h
  grading/window_utils.h
Due: none

more changes
  .setup/INSTALL_SUBMITTY_HELPER.sh
  bin/build_homework_function.sh
  grading/CMakeLists.txt
  grading/Sample_CMakeLists.txt
  more_autograding_examples/cpp_buggy_custom/config/custom_validation_code/grader.cpp
  more_autograding_examples/cpp_custom/config/custom_validation_code/grader.cpp
Due: none

fix compilation of autograding test suite
  tests/integrationTests/compile_configure_bin.sh
Due: none

remove blank line
  grading/Sample_CMakeLists.txt
Due: none

[Bugfix:HelpQueue] Encode queue codes within URLs
  site/app/templates/officeHoursQueue/CurrentQueue.twig
  site/app/templates/officeHoursQueue/QueueFilter.twig
  site/app/templates/officeHoursQueue/QueueFooter.twig
  site/app/templates/officeHoursQueue/QueueHistory.twig
  site/app/templates/officeHoursQueue/QueueStatus.twig
Due: php

[Refactor:CourseMaterials] Use ZipStream for bulk downloading (#6811)
  site/app/controllers/course/CourseMaterialsController.php
Due: php

[Refactor:Autograding] update version of nlohmann json library (#6833)
  .setup/INSTALL_SUBMITTY_HELPER.sh
  bin/build_homework_function.sh
  grading/CMakeLists.txt
  grading/Sample_CMakeLists.txt
  grading/TestCase.h
  grading/change.cpp
  grading/change.h
  grading/clean.cpp
  grading/clean.h
  grading/default_config.h
  grading/difference.cpp
  grading/difference.h
  grading/dispatch.cpp
  grading/dispatch.h
  grading/empty_custom_function.cpp
  grading/execute.h
  grading/execute_limits.cpp
  grading/json.hpp
  grading/main_validator.cpp
  grading/myersDiff.h
  grading/seccomp_functions.cpp
  grading/tokenSearch.h
  grading/window_utils.h
  more_autograding_examples/cpp_buggy_custom/config/custom_validation_code/grader.cpp
  more_autograding_examples/cpp_custom/config/custom_validation_code/grader.cpp
  tests/integrationTests/compile_configure_bin.sh
Due: none

update
  .setup/INSTALL_SUBMITTY_HELPER.sh
  README_utm_arm.txt
  sbin/shipper_utils/update_and_install_workers.py
Due: none

tweak
  .setup/CONFIGURE_SUBMITTY.py
  README_utm_arm.txt
  bin/build_homework_function.sh
  grading/Sample_CMakeLists.txt
Due: none

tweak
  bin/build_homework_function.sh
Due: none

revert changes
  grading/load_config_json.cpp
Due: none

Revert "revert changes"
  grading/load_config_json.cpp
Due: none

Add suggested changes
  site/app/controllers/grading/ElectronicGraderController.php
Due: php

[Bugfix:Developer] Adjust Markdown on Autograding Examples (#6827)
  more_autograding_examples/notebook_basic/config/config.json
  more_autograding_examples/notebook_filesubmission/config/config.json
  more_autograding_examples/notebook_itempool/config/config.json
  more_autograding_examples/notebook_itempool_random/config/config.json
  more_autograding_examples/notebook_time_limit/config/config.json
Due: none

Path conditions:
  php: any of: site/app, but not: tests/integrationTests
  autograder: any of: autograder/autograder, but not: tests/integrationTests
  python_submitty_utils: any of: python_submitty_utils/submitty_utils, but not: tests/integrationTests
  migrator: any of: migration/migrator, but not: tests/integrationTests
