Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: true

ignore:
  - "tests/integrationTests"

coverage:
  status:
    project: false
    patch: false
    changes: false
    migrator:
      flags: migrator
      target: 100%

flags:
  php:
    paths:
      - site/app
  autograder:
    paths:
      - autograder/autograder
  python_submitty_utils:
    paths:
      - python_submitty_utils/submitty_utils
  migrator:
    paths:
      - migration/migrator

comment:
  layout: "reach, diff, flags"
  behavior: default

begin refactor systeme updater
  site/app/controllers/GlobalController.php
  site/app/templates/admin/SystemUpdate.twig
  site/public/js/system-update.js
Due: php

Deal with review comments
  site/app/libraries/socket/Server.php
Due: php

Update submitty.conf
  .setup/apache/submitty.conf
Due: none

Update Server.php
  site/app/libraries/socket/Server.php
Due: php

adds skip to post button when tabbing
  site/app/templates/GlobalHeader.twig
  site/app/templates/forum/ShowForumThreads.twig
  site/public/css/server.css
Due: php

missing enable-mobile-viewport
  site/app/views/admin/GradeOverrideView.php
Due: php

Moved to popout window
  site/app/templates/autograding/ActionView.twig
  site/app/templates/autograding/ActionViewForm.twig
  site/app/templates/autograding/AutoChecks.twig
  site/app/views/AutoGradingView.php
  site/public/css/diff-viewer.css
  site/public/js/submission-page.js
Due: php

update alert message
  site/public/js/drag-and-drop.js
Due: none

[Testing:InstructorUI] Improved office hour queue tests (#5414)
  tests/e2e/test_office_hours_queue.py
  tests/e2e/test_sidebar.py
Due: none

[Testing] Split accessibility test into subtests (#5406)
  site/app/templates/admin/RainbowCustomization.twig
  tests/e2e/accessibility_baseline.json
  tests/e2e/test_accessibility.py
Due: php

[UI/UX:InstructorUI] Mobile view for grade-override (#5417)
  site/app/templates/GlobalHeader.twig
  site/app/templates/admin/Extensions.twig
  site/app/templates/admin/GradeOverride.twig
  site/app/views/admin/GradeOverrideView.php
  site/public/css/exceptionforms.css
  site/public/css/gradeOverride.css
  site/public/css/table.css
  site/public/js/server.js
Due: php

[UI/UX:TAGrading] Mobile view for TA index page (#5418)
  site/app/templates/grading/electronic/Details.twig
  site/app/views/grading/ElectronicGraderView.php
  site/public/css/details-2.css
  site/public/css/details.css
  site/public/js/details.js
Due: php

[UI/UX:Submission] mobile collapse panels on gradeables page (#5396)
  site/app/templates/Navigation.twig
  site/app/views/NavigationView.php
  site/public/css/global.css
  site/public/css/navigation.css
  site/public/js/navigation.js
Due: php

[Refactor:Submission] Refactor Notebooks to use models (#5380)
  site/app/controllers/student/SubmissionController.php
  site/app/models/gradeable/AutogradingConfig.php
  site/app/models/gradeable/GradedGradeable.php
  site/app/models/notebook/AbstractNotebookInput.php
  site/app/models/notebook/AbstractTextBox.php
  site/app/models/notebook/Notebook.php
  site/app/models/notebook/SubmissionCodeBox.php
  site/app/models/notebook/SubmissionMultipleChoice.php
  site/app/models/notebook/SubmissionTextBox.php
  site/app/models/notebook/UserSpecificNotebook.php
  site/app/templates/notebook/Notebook.twig
  site/app/templates/submission/homework/SubmitBox.twig
  site/app/views/submission/HomeworkView.php
  site/phpstan-baseline.neon
Due: php

[Feature:Submission] Warn on max allowed files upload (#5172)
  site/app/templates/submission/homework/SubmitBox.twig
  site/app/views/submission/HomeworkView.php
  site/public/js/drag-and-drop.js
Due: php

[Security] prevent iframe and external domain redirects (#5375)
  site/app/controllers/AuthenticationController.php
  site/public/index.php
Due: php

Update site/public/js/server.js
  site/public/js/server.js
Due: none

switched var to const, and added missing parenthesis
  site/public/js/server.js
Due: none

[VPAT] Stop tabbing from escaping modals
  site/app/templates/forum/ThreadPostForm.twig
  site/public/js/directory.js
  site/public/js/forum.js
  site/public/js/server.js
  site/public/js/userform.js
Due: php

added 2 more on lab page
  site/public/js/simple-grading.js
  site/public/js/ta-grading-keymap.js
Due: none

Fixed bug where graders cannot view a students files
  site/public/index.php
Due: none

[VPAT] developer footer to debug html validation (#5395)
  site/app/templates/GlobalFooter.twig
  site/public/js/server.js
Due: php

[Bugfix:TAGrading] allow iframes (same origin) for file viewing (#5422)
  site/public/index.php
Due: none

update Tutorial version
  .setup/bin/versions.sh
Due: none

modified styling for firefox
  site/app/controllers/HomePageController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/templates/AddTerm.twig
  site/app/templates/CreateCourseForm.twig
  site/public/css/server.css
Due: php

limited adding new term to super_users
  site/app/templates/CreateCourseForm.twig
Due: php

Checkpoint
  site/app/controllers/admin/UsersController.php
  site/app/libraries/DateUtils.php
  site/app/models/User.php
  site/app/views/forum/ForumThreadView.php
Due: php

Updated form date/times to display in user's time zone.
  site/app/libraries/DateUtils.php
  site/app/views/NavigationView.php
  site/app/views/forum/ForumThreadView.php
  site/app/views/submission/HomeworkView.php
Due: php

Addressed comments
  site/app/models/gradeable/AutogradingTestcase.php
  site/app/templates/autograding/ActionView.twig
  site/app/templates/autograding/AutoChecks.twig
  site/app/templates/functions/AutogradingActions.twig
  site/app/views/AutoGradingView.php
  site/public/css/diff-viewer.css
  site/public/js/submission-page.js
Due: php

Fix popup on ta grading page
  site/app/views/grading/ElectronicGraderView.php
Due: php

double blind saving
  site/app/controllers/grading/ElectronicGraderController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/models/gradeable/Gradeable.php
  site/app/templates/admin/admin_gradeable/AdminGradeableGraders.twig
  site/app/templates/grading/electronic/NavigationBar.twig
  site/app/templates/grading/electronic/Status.twig
  site/app/views/AutoGradingView.php
  site/app/views/grading/ElectronicGraderView.php
Due: php

install_site
  .setup/install_submitty/install_site_dev.sh
  .setup/install_submitty/install_site_prod.sh
Due: none

fixes awaiting singular setup file
  .setup/install_submitty/install_site_dev.sh
  .setup/install_submitty/install_site_prod.sh
  site/app/controllers/MiscController.php
  site/app/views/PDFView.php
Due: php

Updated migrators to handle master/course dependency issue.
  migration/migrator/migrations/course/20200527081506_add_columns_to_users.py
  migration/migrator/migrations/master/20200527082251_add_columns_to_users.py
Due: migrator

Updated getDateFormat to accept the core (will need this to get configuration data later)
  site/app/libraries/DateUtils.php
  site/app/views/NavigationView.php
  site/app/views/forum/ForumThreadView.php
  site/app/views/submission/HomeworkView.php
Due: php

checkpoint
  site/app/libraries/DateUtils.php
  site/app/models/Notification.php
  site/app/views/forum/ForumThreadView.php
Due: php

captureTabInModal now runs on all modals automatically
  site/app/templates/forum/SplitPostForm.twig
  site/app/templates/forum/ThreadPostForm.twig
  site/app/templates/generic/Popup.twig
  site/public/js/directory.js
  site/public/js/forum.js
  site/public/js/server.js
  site/public/js/simple-grading.js
  site/public/js/ta-grading-keymap.js
  site/public/js/userform.js
Due: php

undid a small mistake + added a comment
  site/app/templates/generic/Popup.twig
  site/public/js/userform.js
Due: php

fixed PR
  .setup/install_submitty/install_site.sh
  site/package.json
Due: none
