Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: true

ignore:
  - "tests/integrationTests"

coverage:
  status:
    project: false
    patch: false
    changes: false
    migrator:
      flags: migrator
      target: 100%

flags:
  php:
    paths:
      - site/app
  autograder:
    paths:
      - autograder/autograder
  python_submitty_utils:
    paths:
      - python_submitty_utils/submitty_utils
  migrator:
    paths:
      - migration/migrator

comment:
  layout: "reach, diff, flags"
  behavior: default

Remove comment when empty
  site/app/libraries/database/DatabaseQueries.php
Due: php

GradingOrder, Component improvements
  site/app/models/GradingOrder.php
  site/app/models/gradeable/Component.php
Due: php

[Bugfix:InstructorUI] Use preferred names in grader assignments tab (#7085)
  site/app/libraries/database/DatabaseQueries.php
Due: php

[Bugfix:InstructorUI] Fixed Typo on Toast Message (#7122)
  site/public/js/solution-ta-notes.js
Due: none

remove comment
  site/app/models/GradingOrder.php
Due: php

[Bugfix:Forum] Missing expiration datepicker fix (#7123)
  site/public/js/forum.js
Due: none

Apply suggestions from code review
  site/app/controllers/OfficeHoursQueueController.php
Due: php

new ui for joining queue
  site/app/controllers/OfficeHoursQueueController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/templates/officeHoursQueue/QueueStatus.twig
Due: php

allow students to join without info
  site/app/controllers/OfficeHoursQueueController.php
  site/app/libraries/database/DatabaseQueries.php
Due: php

remove contact information from queue settings
  site/app/controllers/OfficeHoursQueueController.php
  site/app/controllers/admin/ConfigurationController.php
  site/app/models/Config.php
  site/app/models/OfficeHoursQueueModel.php
  site/app/templates/admin/Configuration.twig
  site/app/templates/officeHoursQueue/CurrentQueue.twig
  site/app/templates/officeHoursQueue/QueueFilter.twig
Due: php

allow editing of contact info field
  site/app/controllers/OfficeHoursQueueController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/templates/officeHoursQueue/QueueFilter.twig
Due: php

enhance edit queue UI
  site/app/templates/officeHoursQueue/QueueFilter.twig
Due: php

linter
  site/app/controllers/OfficeHoursQueueController.php
  site/app/libraries/database/DatabaseQueries.php
Due: php

fix unit tests
  site/tests/app/controllers/admin/ConfigurationControllerTester.php
Due: none

[Refactor:Plagiarism] Move plagiarism to database (#6966)
  migration/migrator/data/course_tables.sql
  migration/migrator/data/submitty_db.sql
  migration/migrator/migrations/course/20210818140040_add_plagiarism_to_database.py
  sbin/submitty_daemon_jobs/submitty_jobs/jobs.py
  site/app/controllers/admin/PlagiarismController.php
  site/app/entities/plagiarism/PlagiarismConfig.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/libraries/plagiarism/PlagiarismUtils.php
  site/app/templates/plagiarism/PlagiarismConfigurationForm.twig
  site/app/views/admin/PlagiarismView.php
Due: php, migrator

[Feature:HelpQueue] Make queue access code optional (#7084)
  site/app/controllers/OfficeHoursQueueController.php
  site/app/templates/officeHoursQueue/NewQueue.twig
  site/app/templates/officeHoursQueue/QueueStatus.twig
  tests/e2e/test_office_hours_queue.py
Due: php

remove tests for course config
  .setup/bin/setup_sample_courses.py
  migration/migrator/migrations/course/20200311135223_oh_queue_contact_info.py
  site/app/models/Config.php
  site/config/course_template.json
  site/tests/app/models/ConfigTester.php
Due: php, migrator

fix e2e
  tests/e2e/test_office_hours_queue.py
Due: none

fix accesibilty test
  site/app/templates/officeHoursQueue/QueueFilter.twig
  tests/e2e/test_office_hours_queue.py
Due: php

requested changes
  migration/migrator/data/course_tables.sql
  migration/migrator/data/submitty_db.sql
  site/app/controllers/OfficeHoursQueueController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/models/Button.php
  site/app/models/gradeable/Gradeable.php
  site/app/templates/Navigation.twig
  site/app/templates/officeHoursQueue/QueueFilter.twig
  site/app/views/NavigationView.php
Due: php, migrator

linter again
  site/app/controllers/OfficeHoursQueueController.php
  site/app/libraries/database/DatabaseQueries.php
Due: php

e2e again
  site/app/templates/officeHoursQueue/CurrentQueue.twig
  site/app/templates/officeHoursQueue/NewQueue.twig
Due: php

hopefully fix accesibilty check
  site/app/templates/officeHoursQueue/CurrentQueue.twig
Due: php

Fix messy merge conflicts
  site/app/controllers/admin/PlagiarismController.php
Due: php

Adjust text to be more clear
  site/app/templates/plagiarism/PlagiarismConfigurationForm.twig
Due: php

Prevent newlines from breaking the display of poll answer histograms
  site/app/templates/polls/ViewPollResults.twig
Due: php

Fix doubly-escaped HTML
  site/app/templates/polls/ViewPollResults.twig
Due: php

fix col length
  site/app/templates/officeHoursQueue/CurrentQueue.twig
Due: php

Fix runaway markdown table borders
  site/public/css/markdown.css
Due: none

Fix TA grading toggle date not saving issue
  site/app/controllers/admin/AdminGradeableController.php
  site/app/models/gradeable/Gradeable.php
Due: php

Update tests
  site/app/models/gradeable/GradeableList.php
  site/tests/app/models/gradeable/GradeableListTester.php
Due: php

Remove green background when graded but not ready
  site/app/views/NavigationView.php
Due: php

[Bugfix:SubminiPolls] Fix newlines in poll histograms (#7135)
  site/app/templates/polls/ViewPollResults.twig
Due: php

[Bugfix:Submission] Disable drag drop if not on last version (#7102)
  site/app/templates/grading/electronic/NotebookPanel.twig
  site/app/templates/notebook/Notebook.twig
  site/app/templates/submission/homework/SubmitBox.twig
  site/app/views/grading/ElectronicGraderView.php
  site/app/views/submission/HomeworkView.php
  site/public/js/drag-and-drop.js
Due: php

[Bugfix:TAGrading] Add Markdown to Solution Notes (#7079)
  site/app/templates/grading/electronic/SolutionTaNotesPanel.twig
  site/app/templates/misc/MarkdownArea.twig
  site/app/views/grading/ElectronicGraderView.php
  site/public/css/electronic.css
  site/public/js/solution-ta-notes.js
  site/public/js/ta-grading.js
  site/public/templates/misc/MarkdownArea.twig
Due: php

[UI/UX:System] BugFix runaway markdown table borders (#7137)
  site/public/css/markdown.css
Due: none

resolve file/branch ambiguity
  autograder/submitty_autograding_shipper.py
Due: none

lint
  autograder/submitty_autograding_shipper.py
Due: none

[Bugfix:Submission] git submission file/branch ambiguity (#7140)
  autograder/submitty_autograding_shipper.py
Due: none

Lint a few files
  site/.stylelintrc.json
  site/app/templates/CreateCourseForm.twig
  site/app/templates/admin/admin_gradeable/rubric/CheckpointsRubric.twig
  site/app/templates/autograding/PeerResults.twig
  site/app/templates/forum/CreatePost.twig
  site/app/templates/forum/HistoryForm.twig
  site/app/templates/forum/ShowForumThreads.twig
  site/app/templates/forum/searchResults.twig
  site/app/templates/grading/electronic/Details.twig
  site/app/templates/plagiarism/PlagiarismResult.twig
  site/app/templates/plagiarism/ShowPlagiarismMatches.twig
  site/app/templates/submission/homework/SubmitBox.twig
  site/public/css/global.css
  site/public/css/markdown.css
  site/public/css/plagiarism.css
  site/public/css/server.css
  site/public/css/sidebar.css
  site/public/css/table.css
  site/public/css/user-profile.css
  site/public/js/plagiarism.js
  site/public/js/stat-page.js
Due: php
