Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: true

ignore:
  - "tests/integrationTests"

coverage:
  status:
    project: false
    patch: false
    changes: false
    migrator:
      flags: migrator
      target: 100%

flags:
  php:
    paths:
      - site/app
  autograder:
    paths:
      - autograder/autograder
  python_submitty_utils:
    paths:
      - python_submitty_utils/submitty_utils
  migrator:
    paths:
      - migration/migrator

comment:
  layout: "reach, diff, flags"
  behavior: default

Changes Based on Review
  site/app/controllers/calendar/CalendarController.php
  site/app/entities/calendar/CalendarItem.php
  site/app/models/CalendarInfo.php
Due: php

Fixing bug in previous commit
  site/app/controllers/calendar/CalendarController.php
Due: php

In the grading interface the cancel button is retitled to Discard
  site/app/templates/grading/electronic/GradeableMessage.twig
Due: php

increase fa icon size
  site/app/templates/polls/ViewPoll.twig
Due: php

enlarge icon and add indent
  site/app/templates/polls/ViewPoll.twig
  site/public/css/polls.css
Due: php

Update polls.spec.js
  site/cypress/e2e/polls.spec.js
Due: none

Update site/app/controllers/student/SubmissionController.php
  site/app/controllers/student/SubmissionController.php
Due: php

Update bootstrap.css
  site/public/css/bootstrap.css
Due: none

Update CourseMaterials.twig
  site/app/templates/course/CourseMaterials.twig
Due: php

fix no response checkbox indent
  site/app/templates/polls/ViewPoll.twig
  site/public/css/polls.css
Due: php

revert irrelevant changes
  site/app/templates/polls/ViewPoll.twig
Due: php

Added auto pulling
  autograder/autograder/execution_environments/container_network.py
Due: autograder

Fixed Cypress
  site/cypress/e2e/docker_ui.spec.js
Due: none

Update container_network.py
  autograder/autograder/execution_environments/container_network.py
Due: autograder

feat: locale data configuration
  site/app/libraries/Core.php
  site/app/models/Config.php
  site/app/models/Locale.php
  site/lang/en_US.json
Due: php

Update site/app/templates/polls/AllPollsPageInstructor.twig
  site/app/templates/polls/AllPollsPageInstructor.twig
Due: php

Fix sorting issue on gradeable grading page
  site/app/controllers/grading/ElectronicGraderController.php
Due: php

With William, put buttons and text into table
  site/app/templates/polls/ViewPoll.twig
  site/public/css/polls.css
Due: php

more changes in css and lint
  site/public/css/polls.css
Due: none

length-zero-no-unit
  site/public/css/polls.css
Due: none

Update site/app/controllers/admin/AdminGradeableController.php
  site/app/controllers/admin/AdminGradeableController.php
Due: php

organize current tables in to tr of a larger table
  site/app/templates/polls/ViewPoll.twig
  site/cypress/e2e/polls.spec.js
  site/public/css/polls.css
Due: php

[Feature:InstructorUI] Created button to toggle columns
  site/app/templates/admin/users/StudentList.twig
  site/app/views/admin/UsersView.php
  site/public/js/manage-students.js
Due: php

Update site/cypress/e2e/polls.spec.js
  site/cypress/e2e/polls.spec.js
Due: none

[Feature:InstructorUI] created popup form for toggling columns
  site/app/templates/admin/users/StudentList.twig
  site/app/templates/admin/users/ToggleManageStudentsColumns.twig
  site/public/js/manage-students.js
Due: php

[Bugfix:Submission] Fixes gradeable relocking (#9043)
  site/app/controllers/admin/AdminGradeableController.php
  site/public/js/admin-gradeable-updates.js
Due: php

Add files via upload
  site/app/templates/course/CourseMaterials.twig
Due: php

Update Vagrantfile
  Vagrantfile
Due: none

Turn on HTTP only for cookies
  site/app/libraries/Utils.php
Due: php

Continued some more review changes
  site/app/templates/calendar/Calendar.twig
  site/public/js/calendar-function.js
Due: php
