Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

replace deprecated include for calculate_extensions
  bin/calculate_extensions.cpp
Due: none

edits
  .setup/INSTALL_SUBMITTY_HELPER.sh
  grading/load_config_json.cpp
Due: none

Fixed migrations
  migration/migrator/migrations/course/20210610100802_course_materials_json_to_db.py
  migration/migrator/migrations/course/20210723135404_course_materials_link_to_db.py
  site/app/controllers/course/CourseMaterialsController.php
  site/app/views/course/CourseMaterialsView.php
  site/cypress/integration/courseMaterials.spec.js
  site/public/js/drag-and-drop.js
Due: php, migrator

Add message to top of diff viewer
  site/app/libraries/DiffViewer.php
  site/tests/app/libraries/DiffViewerTester.php
Due: php

Fix typo
  site/app/templates/officeHoursQueue/QueueHistory.twig
Due: php

let grader download annotated pdf
  site/app/controllers/pdf/PDFController.php
  site/app/templates/grading/electronic/PDFAnnotationEmbedded.twig
  site/app/views/PDFView.php
Due: php

php lint
  site/app/controllers/pdf/PDFController.php
  site/app/views/PDFView.php
Due: php

twig fixes
  site/app/templates/autograding/PeerResults.twig
Due: php

Revert "twig fixes"
  site/app/templates/autograding/PeerResults.twig
Due: php

Remove submitty-admin from being required and remove duplicate course titles
  site/app/templates/CreateCourseForm.twig
  site/app/views/HomePageView.php
  site/cgi-bin/group_check.cgi
Due: php

Fix spacing
  site/app/libraries/database/DatabaseQueries.php
Due: php

Add max chars
  site/app/libraries/DiffViewer.php
Due: php

peer twig errors
  site/app/templates/autograding/PeerResults.twig
Due: php

remove blank line
  site/app/libraries/database/DatabaseQueries.php
Due: php

team name fix
  site/app/templates/submission/homework/NoSubmissionBox.twig
  site/app/views/submission/HomeworkView.php
Due: php

work in progress again...
  .setup/bin/setup_sample_emails.py
  site/app/repositories/email/EmailRepository.php
  site/app/views/email/EmailStatusView.php
Due: php

added the migration back
  migration/migrator/migrations/system/20210722131039_change_autograding_workers_json_permission.py
Due: migrator

linting
  migration/migrator/migrations/system/20210722131039_change_autograding_workers_json_permission.py
Due: migrator

Support zip download access
  site/app/controllers/course/CourseMaterialsController.php
Due: php

remove some of the waits
  site/cypress/integration/polls.spec.js
Due: none

sample setup script still buggy
  site/app/repositories/email/EmailRepository.php
  site/app/templates/EmailStatus.twig
  site/app/views/email/EmailStatusView.php
  site/public/css/email-status.css
Due: php

[Bugfix:TAGrading] instructor & student team & peer twig (#6847)
  site/app/templates/autograding/PeerResults.twig
  site/app/templates/submission/homework/NoSubmissionBox.twig
  site/app/views/submission/HomeworkView.php
Due: php

[Feature:Autograding] Store gradeable time limits in DB (#6631)
  bin/build_homework_function.sh
  bin/set_allowed_mins.py
  migration/migrator/data/course_tables.sql
  migration/migrator/migrations/course/20210723154924_foreign_key_timer_override.py
  site/app/controllers/student/SubmissionController.php
Due: php, migrator

[Bugfix:Submission] Notebook Display, deadlines, & late days(#6748)
  site/app/models/gradeable/Gradeable.php
  site/app/templates/grading/electronic/NotebookPanel.twig
  site/app/templates/submission/homework/SubmissionsClosedBox.twig
  site/app/templates/submission/homework/SubmitBox.twig
  site/app/views/grading/ElectronicGraderView.php
  site/app/views/submission/HomeworkView.php
Due: php

Fix peer feedback not working as expected
  site/app/controllers/grading/ElectronicGraderController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/models/gradeable/Gradeable.php
  site/app/templates/autograding/PeerResults.twig
  site/app/views/AutoGradingView.php
  site/public/js/server.js
Due: php

linting, undo accidental change
  site/app/libraries/database/DatabaseQueries.php
  site/app/models/gradeable/Gradeable.php
Due: php

SQL dump
  migration/migrator/data/course_tables.sql
Due: migrator

[Feature:HelpQueue] regex for Office hours contact info (#6749)
  migration/migrator/data/course_tables.sql
  migration/migrator/migrations/course/20210714155738_office_hours_regex.py
  site/app/controllers/OfficeHoursQueueController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/templates/officeHoursQueue/NewQueue.twig
  site/app/templates/officeHoursQueue/QueueButtonBar.twig
  site/app/templates/officeHoursQueue/QueueFilter.twig
  site/app/templates/officeHoursQueue/QueueHeader.twig
  tests/e2e/test_office_hours_queue.py
Due: php, migrator

Fix SQL dump
  migration/migrator/data/course_tables.sql
Due: migrator

[Refactor:Plagiarism] Improve other gradeables UI (#6836)
  site/app/controllers/admin/PlagiarismController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/templates/plagiarism/Plagiarism.twig
  site/app/templates/plagiarism/PlagiarismConfigurationForm.twig
Due: php

fix histogram
  site/app/controllers/grading/ElectronicGraderController.php
Due: php

Fix grade button
  site/app/templates/grading/electronic/Details.twig
Due: php

[Refactor:Submission] unnecessary zip download code (#6838)
  site/app/controllers/MiscController.php
Due: php

[Refactor:Notifications] Change email id type (#6830)
  migration/migrator/data/submitty_db.sql
  migration/migrator/migrations/master/20210727140529_change_email_id_type.py
Due: migrator

Fix peer feedback using all users for fill, don't send feedback on page load
  site/app/libraries/database/DatabaseQueries.php
  site/app/templates/autograding/PeerResults.twig
  site/app/views/AutoGradingView.php
Due: php

Update bin installer for permissions
  .setup/INSTALL_SUBMITTY_HELPER_BIN.sh
Due: none

Install script quick clean option
  .setup/INSTALL_SUBMITTY_HELPER.sh
Due: none

Update Postgres Timezone in CI
  .github/workflows/submitty_ci.yml
Due: none

Revert lines that caused weird bug
  site/cypress/integration/polls.spec.js
Due: none

Set Timezone on CI
  .github/workflows/submitty_ci.yml
Due: none

Path conditions:
  php: any of: site/app, but not: tests/integrationTests
  autograder: any of: autograder/autograder, but not: tests/integrationTests
  python_submitty_utils: any of: python_submitty_utils/submitty_utils, but not: tests/integrationTests
  migrator: any of: migration/migrator, but not: tests/integrationTests
