Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: true

ignore:
  - "tests/integrationTests"

coverage:
  status:
    project: false
    patch: false
    changes: false
    migrator:
      flags: migrator
      target: 100%

flags:
  php:
    paths:
      - site/app
  autograder:
    paths:
      - autograder/autograder
  python_submitty_utils:
    paths:
      - python_submitty_utils/submitty_utils
  migrator:
    paths:
      - migration/migrator

comment:
  layout: "reach, diff, flags"
  behavior: default

[SECURITY][Bugfix:Autograding] Prevent autograder from copying links (#8997)
  autograder/autograder/autograding_utils.py
Due: autograder

Link to submitty.org
  README.md
Due: none

add link to submitty.org features
  README.md
Due: none

Update README.md
  README.md
Due: none

Updated README.md (#8954)
  README.md
Due: none

Update ForumThreadView.php
  site/app/views/forum/ForumThreadView.php
Due: php

update contributing readme & support
  CONTRIBUTING.md
  README.md
  SUPPORT.md
Due: none

[Bugfix:Forum] "New" Color on Old Forum Threads (#9014)
  site/app/views/forum/ForumThreadView.php
Due: php

[Documentation:Developer] update contributing readme & support (#9016)
  CONTRIBUTING.md
  README.md
  SUPPORT.md
Due: none

Update SUPPORT.md
  SUPPORT.md
Due: none

update graphics schema for mouse motion
  bin/json_schemas/complete_config_schema.json
  grading/load_config_json.cpp
Due: none

Update site/public/css/reset.css
  site/public/css/reset.css
Due: none

[Bugfix:Autograding] graphics schema for mouse motion (#9017)
  bin/json_schemas/complete_config_schema.json
  grading/load_config_json.cpp
Due: none

changed "Cancel" to "Discard"
  Vagrantfile
  site/public/templates/grading/SavingTools.twig
Due: none

Revert "changed "Cancel" to "Discard""
  Vagrantfile
  site/public/templates/grading/SavingTools.twig
Due: none

[Feature:UI/UX] change Cancel to Discard
  site/public/templates/grading/SavingTools.twig
Due: none

Attempt 1
  grading/load_config_json.cpp
Due: none

Just a quick change from observations of surrounding syntax
  grading/load_config_json.cpp
Due: none

change should show in console
  grading/load_config_json.cpp
Due: none

oops forgot <<
  grading/load_config_json.cpp
Due: none

Changed to recommended conditions
  site/app/views/NavigationView.php
Due: php

Update load_config_json.cpp
  grading/load_config_json.cpp
Due: none

I think this is starting to look good
  grading/load_config_json.cpp
Due: none

Update grading/load_config_json.cpp
  grading/load_config_json.cpp
Due: none

Changes to Stuff
  grading/load_config_json.cpp
Due: none

fix db check issue
  migration/migrator/data/submitty_db.sql
  migration/migrator/migrations/master/20230310174221_sync_course_user_pronouns_fetch.py
Due: migrator

delete 'type here'
  site/app/templates/EditPronounsForm.twig
Due: php

delete console log check
  site/public/js/user-profile.js
Due: none

fix typo
  site/app/controllers/admin/UsersController.php
  site/app/models/User.php
Due: php

fix typo
  site/app/controllers/UserProfileController.php
Due: php

This is what the actual code should be here.
  site/public/css/server.css
Due: none

Read token from generate_grade_summaries.py instead of passing by argument
  sbin/auto_rainbow_grades.py
  sbin/generate_grade_summaries.py
Due: none

Python lint fix
  sbin/generate_grade_summaries.py
Due: none
