Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

trying whatever
  .setup/CONFIGURE_SUBMITTY.py
  .setup/CONFIGURE_SUBMITTY_INTEGRATION.py
Due: none

Update setup.sh
  .setup/testing/setup.sh
Due: none

putting in config submitty
  .setup/CONFIGURE_SUBMITTY.py
  .setup/testing/setup.sh
Due: none

JUST REMOVE EVERYTHINK I BELIEVE IS UNNECESSARY
  .setup/CONFIGURE_SUBMITTY.py
  .setup/CONFIGURE_SUBMITTY_INTEGRATION.py
  .setup/testing/setup.sh
Due: none

seeing if we can just make the folder and file
  .setup/testing/setup.sh
  tests/integrationTests/lib.py
Due: none

Update submitty_ci.yml
  .github/workflows/submitty_ci.yml
Due: none

message
  tests/integrationTests/lib.py
Due: none

putting in try and excepts
  tests/integrationTests/lib.py
Due: none

Update bootstrap.css
  site/app/templates/forum/ForumBar.twig
Due: php

Revert "[Bugfix:TAGrading] Annotated PDF Download Resolution (#9156)"
  site/public/js/pdf/PDFAnnotateEmbedded.js
Due: none

Testing so no need for e2e to wait
  .github/workflows/submitty_ci.yml
Due: none

just checking
  site/app/models/gradeable/Gradeable.php
  site/app/models/gradeable/GradeableList.php
Due: php

Revert "Revert "[Bugfix:TAGrading] Annotated PDF Download Resolution (#9156)""
  site/public/js/pdf/PDFAnnotateEmbedded.js
Due: none

Revert "[UI/UX:InstructorUI] arrowkey navigation fixed (#8925)"
  site/public/js/simple-grading.js
Due: none

Revert "Fixed typo"
  site/app/models/gradeable/Gradeable.php
Due: php

Revert "Changed regrade to grade_inquiry for non-autograding code"
  .setup/bin/recreate_submissions.py
  migration/migrator/migrations/course/20230530175827_change_regrade_to_grade_inquiry.py
  site/app/controllers/admin/AdminGradeableController.php
  site/app/controllers/admin/ReportController.php
  site/app/controllers/student/GradeInquiryController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/models/gradeable/Gradeable.php
  site/app/models/gradeable/LateDayInfo.php
  site/app/templates/LateDaysTablePlugin.twig
  site/app/templates/admin/Configuration.twig
  site/app/templates/admin/admin_gradeable/AdminGradeableCreate.twig
  site/app/templates/admin/admin_gradeable/AdminGradeableDates.twig
  site/app/templates/grading/electronic/Details.twig
  site/app/templates/grading/electronic/ta_status/StatusData.twig
  site/app/templates/submission/homework/GradeInquiryBox.twig
  site/app/templates/submission/homework/RegradeBox.twig
  site/app/templates/submission/regrade/ComponentTabs.twig
  site/app/templates/submission/regrade/Discussion.twig
  site/app/templates/submission/regrade/Post.twig
  site/app/views/NavigationView.php
  site/app/views/grading/ElectronicGraderView.php
  site/app/views/submission/HomeworkView.php
  site/public/js/grade-inquiry.js
  site/tests/app/controllers/admin/ConfigurationControllerTester.php
  site/tests/app/controllers/student/SubmissionControllerTester.php
  site/tests/app/models/gradeable/GradeableListTester.php
  tests/e2e/test_grade_inquiry.py
Due: php, migrator

Changed regrade_discussion to grade_inquiry_discussion
  migration/migrator/migrations/course/20230601123230_change_regrade_to_grade_inquiry.py
  site/app/libraries/database/DatabaseQueries.php
Due: php, migrator

Changed RegradeDiscussion to GradeInquiryDiscussion
  site/app/controllers/student/GradeInquiryController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/templates/grading/electronic/RegradePanel.twig
  site/app/templates/submission/homework/RegradeBox.twig
  site/app/views/submission/HomeworkView.php
Due: php

Removed course inquiry setting test
  tests/e2e/test_grade_inquiry.py
Due: none

Revert "[Feature:System] Vagrant Port Overrides (#9146)"
  Vagrantfile
Due: none

[Feature:Forum] Make post order clear for dropdown (#9377)
  site/app/templates/forum/ForumBar.twig
Due: php

Revert "just increase time"
  site/cypress/e2e/late_days_allowed.spec.js
Due: none

Uncommented code
  migration/migrator/migrations/course/20230601123230_change_regrade_to_grade_inquiry.py
Due: migrator

[Bugfix:Developer] Remove regrade enabled from e2e (#9379)
  tests/e2e/test_grade_inquiry.py
Due: none

Update AbstractDatabase.php
  site/public/js/server.js
Due: none

Changed table regrade_requests to grade_inquiries
  migration/migrator/migrations/course/20230601123230_change_regrade_to_grade_inquiry.py
  site/app/libraries/database/DatabaseQueries.php
Due: php, migrator

Update server.js
  site/public/js/server.js
Due: none

Changed column eg_regrade_allowed name
  migration/migrator/migrations/course/20230601123230_change_regrade_to_grade_inquiry.py
  site/app/libraries/database/DatabaseQueries.php
Due: php, migrator

Migrated from regrade terminology to inquiry
  migration/migrator/migrations/course/20230601123230_change_regrade_to_grade_inquiry.py
  site/app/libraries/database/DatabaseQueries.php
Due: php, migrator

Barb's UI suggestion
  site/app/templates/submission/homework/SubmitBox.twig
Due: php

add change to UI
  site/app/templates/submission/homework/SubmitBox.twig
Due: php

Changed model RegradeRequest to GradeInquiry
  site/app/controllers/student/GradeInquiryController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/models/gradeable/GradeInquiry.php
  site/app/models/gradeable/GradedGradeable.php
Due: php

Renamed insertNewGradeInquiry function
  site/app/controllers/student/GradeInquiryController.php
  site/app/libraries/database/DatabaseQueries.php
Due: php

Renamed getGradeInquiriesUsers function
  site/app/libraries/database/DatabaseQueries.php
  site/app/models/GradingOrder.php
Due: php

Renamed insertNewGradeInquiryPost function
  site/app/controllers/student/GradeInquiryController.php
  site/app/libraries/database/DatabaseQueries.php
Due: php

Renamed getGradeInquiryPost function
  site/app/controllers/student/GradeInquiryController.php
  site/app/libraries/database/DatabaseQueries.php
Due: php

Renamed grade inquiry functions
  site/app/controllers/student/GradeInquiryController.php
  site/app/libraries/database/DatabaseQueries.php
Due: php

Rewrite Selenium test_stats.py as Cypress grading_stats.spec.js
  site/cypress/e2e/grading_stats.spec.js
  tests/e2e/test_stats.py
Due: none

Adding changes from fork
  autograder/autograder/packer_unpacker.py
  site/app/controllers/admin/AdminGradeableController.php
  site/app/controllers/student/SubmissionController.php
  site/app/templates/admin/admin_gradeable/AdminGradeableCreate.twig
  site/app/templates/submission/homework/SubmitBox.twig
  site/app/views/submission/HomeworkView.php
Due: php, autograder

Changed regrade_allowed to grade_inquiry_allowed
  site/app/controllers/admin/AdminGradeableController.php
  site/app/controllers/admin/ReportController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/models/gradeable/Gradeable.php
  site/app/models/gradeable/LateDayInfo.php
  site/app/templates/LateDaysTablePlugin.twig
  site/app/templates/admin/admin_gradeable/AdminGradeableCreate.twig
  site/app/templates/admin/admin_gradeable/AdminGradeableDates.twig
  site/app/templates/grading/electronic/ta_status/StatusData.twig
  site/app/views/grading/ElectronicGraderView.php
  site/tests/app/controllers/student/SubmissionControllerTester.php
  site/tests/app/models/gradeable/GradeableListTester.php
  tests/e2e/test_grade_inquiry.py
Due: php

Path conditions:
  php: any of: site/app, but not: tests/integrationTests
  autograder: any of: autograder/autograder, but not: tests/integrationTests
  python_submitty_utils: any of: python_submitty_utils/submitty_utils, but not: tests/integrationTests
  migrator: any of: migration/migrator, but not: tests/integrationTests
