Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: true

ignore:
  - "tests/integrationTests"

coverage:
  status:
    project: false
    patch: false
    changes: false
    migrator:
      flags: migrator
      target: 100%

flags:
  php:
    paths:
      - site/app
  autograder:
    paths:
      - autograder/autograder
  python_submitty_utils:
    paths:
      - python_submitty_utils/submitty_utils
  migrator:
    paths:
      - migration/migrator

comment:
  layout: "reach, diff, flags"
  behavior: default

default css for panel btns
  site/public/css/electronic.css
Due: none

add missing space
  site/app/templates/course/CourseMaterials.twig
Due: php

[Refactor:Twig] Replace spaceless tag with filter
  site/app/templates/functions/Badge.twig
  site/app/templates/submission/homework/LateDayMessage.twig
Due: php

Update package.json
  site/package.json
Due: none

wip
  site/package-lock.json
  site/package.json
Due: none

Draft work
  site/app/controllers/grading/ElectronicGraderController.php
  site/app/libraries/database/DatabaseQueries.php
  site/public/js/gradeable.js
  site/public/js/ta-grading-rubric.js
  site/public/templates/grading/Component.twig
  site/public/templates/grading/GradingGradeable.twig
  site/public/templates/grading/PeerGradeable.twig
  site/public/templates/grading/TotalPeerScoreBox.twig
  site/public/templates/grading/TotalScoreBox.twig
Due: php

further work on preparing
  site/.eslintignore
  site/.eslintrc.json
  site/package-lock.json
  site/package.json
  site/public/js/websocket.js
Due: none

enable eslint testing in travis
  .setup/install_submitty/install_site.sh
  .travis.yml
Due: none

fix exclude for rsync
  .setup/install_submitty/install_site.sh
Due: none

Disable Custom Peer Marks
  site/public/templates/grading/GradingComponent.twig
Due: none

Disable Edit Rubric
  site/app/controllers/grading/ElectronicGraderController.php
  site/app/libraries/Access.php
  site/app/templates/grading/electronic/RubricPanel.twig
Due: php

fix closing brace
  site/app/controllers/GlobalController.php
Due: php

Update Rubric Panel
  site/app/controllers/grading/ElectronicGraderController.php
  site/app/libraries/Access.php
  site/app/templates/grading/electronic/RubricPanel.twig
Due: php

add more sidebar tests
  tests/e2e/test_sidebar.py
Due: none

dumping the migration changes in SQL file
  migration/migrator/data/course_tables.sql
  migration/migrator/migrations/course/20200716030936_open_date_for_grade_inquiry.py
Due: migrator

[Bugfix:Migrator] ignore running migrations on archived courses
  migration/migrator/main.py
  migration/tests/test_handle_migration.py
Due: migrator

comment out test
  migration/tests/test_handle_migration.py
Due: none

fix order of insert and running migrator in create_course
  sbin/create_course.sh
Due: none

new tests
  tests/e2e/test_pdfs.py
Due: none

Draft
  site/app/controllers/grading/ElectronicGraderController.php
  site/public/templates/grading/PeerGradeable.twig
Due: php

Fixes Registrations Sections Edge Case
  site/app/controllers/grading/ElectronicGraderController.php
Due: php

fix stuck e2e test on travis
  site/app/libraries/socket/Server.php
  tests/e2e/base_testcase.py
Due: php

Initial Draft
  site/tests/app/controllers/grading/ElectronicGraderControllerTester.php
Due: none

checkpoint
  site/public/js/notebook_builder/short-answer-widget.js
Due: none

Reposition All Grade All
  site/app/templates/admin/admin_gradeable/AdminGradeablePeers.twig
  site/public/js/admin-gradeable-updates.js
Due: php

codecov
  .codecov.yml
Due: none

checkpoint
  site/app/templates/notebook/Notebook.twig
  site/app/views/submission/HomeworkView.php
  site/public/js/code-mirror-utils.js
  site/public/js/notebook_builder/short-answer-widget.js
  site/public/js/server.js
Due: php

fixes
  site/app/controllers/grading/ElectronicGraderController.php
Due: php

readding new lines
  site/app/controllers/grading/ElectronicGraderController.php
Due: php

fix failing accessibility test
  tests/e2e/test_accessibility.py
Due: none

make php-socket-client in a separate class
  site/app/controllers/OfficeHoursQueueController.php
  site/app/libraries/socket/Client.php
  site/app/libraries/socket/Server.php
Due: php

fix phpstan error
  site/app/controllers/grading/ElectronicGraderController.php
  site/phpstan-baseline.neon
Due: php

fix validation error in codecov.yml
  .codecov.yml
Due: none

update merge thread socket msg to new configuration
  site/app/templates/forum/MergeThreadsForm.twig
Due: php

check for secret session for php clients only
  site/app/libraries/socket/Server.php
Due: php

[Bugfix:System] migrator crash on missing course db (#5755)
  .codecov.yml
  migration/migrator/main.py
  migration/tests/test_handle_migration.py
Due: migrator

[TAGrading:Bugfix] prev/next buttons (#5757)
  site/app/controllers/grading/ElectronicGraderController.php
  site/phpstan-baseline.neon
Due: php

working tests
  site/app/templates/grading/electronic/SubmissionPanel.twig
  tests/e2e/test_pdfs.py
Due: php

infinite decimal fix and space rework
  site/app/libraries/NumberUtils.php
  site/public/css/electronic.css
  site/public/css/ta-grading.css
Due: php
