Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

[Refactor:Testing] Fix spacing in cypress.json (#6268)
  site/cypress.json
Due: none

Better docker container cleanup
  autograder/autograder/autograding_utils.py
Due: autograder

[Bugfix:Autograding] better docker container cleanup (#6270)
  autograder/autograder/autograding_utils.py
Due: autograder

Fix broken docker network removal
  autograder/autograder/autograding_utils.py
Due: autograder

[Bugfix:Autograding] typo in docker logging (#6273)
  autograder/autograder/autograding_utils.py
Due: autograder

remove comment
  migration/migrator/main.py
Due: migrator

fix failing test
  migration/migrator/main.py
Due: migrator

[Feature:System] Improve migrator DB error output
  migration/migrator/main.py
Due: migrator

initial work
  site/cypress/integration/api/auth.spec.js
Due: none

update tests
  migration/migrator/main.py
  migration/tests/test_handle_migration.py
  migration/tests/test_status.py
Due: migrator

initial work
  site/cypress/integration/login.spec.js
  site/cypress/support/commands.js
Due: none

Update 20210204140110_modify_subsection.py
  migration/migrator/migrations/course/20210204140110_modify_subsection.py
Due: migrator

apply new migration course data
  migration/migrator/data/course_tables.sql
Due: migrator

suggested changes
  site/cypress/integration/login.spec.js
Due: none

fix tests
  site/cypress/support/commands.js
Due: none

[Refactor:TAGrading] Subsection Default Value Change (#6184)
  migration/migrator/data/course_tables.sql
  migration/migrator/migrations/course/20210204140110_modify_subsection.py
  site/app/controllers/admin/UsersController.php
  site/app/models/User.php
Due: php, migrator

Remove unused capabilities
  .setup/CONFIGURE_SUBMITTY.py
  more_autograding_examples/matlab/config/config.json
Due: none

Update config.json
  more_autograding_examples/matlab/config/config.json
Due: none

[Testing:System] Add Vagrant & sample capabilities (#6264)
  .setup/CONFIGURE_SUBMITTY.py
  .setup/install_system.sh
  .setup/testing/setup.sh
  more_autograding_examples/c_failure_messages/config/config.json
  more_autograding_examples/choice_of_language/config/config.json
  more_autograding_examples/cpp_buggy_custom/config/config.json
  more_autograding_examples/cpp_cats/config/config.json
  more_autograding_examples/cpp_custom/config/config.json
  more_autograding_examples/cpp_hidden_tests/config/config.json
  more_autograding_examples/cpp_provided_code/config/config.json
  more_autograding_examples/cpp_random_input_output/config/config.json
  more_autograding_examples/cpp_simple_lab/config/config.json
  more_autograding_examples/early_submission_incentive/config/config.json
  more_autograding_examples/iclicker_upload/config/config.json
  more_autograding_examples/image_diff_mirror/config/config.json
  more_autograding_examples/input_output_subdirectories/config/config.json
  more_autograding_examples/matlab/config/config.json
  more_autograding_examples/minimal_code_editing/config/config.json
  more_autograding_examples/notebook_basic/config/config.json
  more_autograding_examples/notebook_filesubmission/config/config.json
  more_autograding_examples/notebook_itempool/config/config.json
  more_autograding_examples/notebook_itempool_random/config/config.json
  more_autograding_examples/notebook_time_limit/config/config.json
  more_autograding_examples/pre_commands/config/config.json
  more_autograding_examples/python_custom_docker_rlimits/config/config.json
  more_autograding_examples/python_custom_validation/config/config.json
  more_autograding_examples/python_linehighlight/config/config.json
  more_autograding_examples/python_multipart_static_analysis/config/config.json
  more_autograding_examples/python_random_input_output/config/config.json
  more_autograding_examples/python_simple_homework/config/config.json
Due: none

[Feature:System] Move python-pip to be managed by apt-get
  .setup/distro_setup/setup_distro.sh
  .setup/distro_setup/ubuntu/18.04/setup_distro.sh
  .setup/install_system.sh
Due: none

[Refactor:System] Remove deprecated emma code
  .setup/testing/autograder.sh
  bin/json_schemas/complete_config_schema.json
  grading/TestCase.cpp
  grading/dispatch.cpp
  grading/dispatch.h
  grading/execute.cpp
  grading/load_config_json.cpp
  tests/integrationTests/lib.py
  tests/integrationTests/tests/tutorial_10_java_coverage/__init__.py
  tests/integrationTests/tests/tutorial_10_java_coverage/validation/emma/buggy_coverage_emma_report.txt
  tests/integrationTests/tests/tutorial_10_java_coverage/validation/emma/buggy_no_coverage_emma_report.txt
  tests/integrationTests/tests/tutorial_10_java_coverage/validation/emma/correct_emma_report.txt
  tests/integrationTests/tests/tutorial_10_java_coverage/validation/emma/correct_no_coverage_emma_report.txt
Due: none

initial work for ubuntu 20.04
  .setup/INSTALL_SUBMITTY_HELPER.sh
  .setup/distro_setup/ubuntu/20.04/setup_distro.sh
  .setup/install_system.sh
  Vagrantfile
Due: none

make error checking more fault tolerant
  site/public/index.php
Due: none

[Bugfix:Developer] Remove hardcoded port for apache conf
  .setup/install_system.sh
Due: none

Update install_system.sh
  .setup/install_system.sh
Due: none

actual suggested changes
  site/cypress/integration/login.spec.js
Due: none

initial work
  site/.eslintignore
  site/cypress/.eslintrc.json
  site/cypress/integration/login.spec.js
  site/cypress/plugins/index.js
  site/cypress/support/commands.js
  site/cypress/support/utils.js
  site/package-lock.json
  site/package.json
Due: none

[Testing:Developer] Make cypress login tests less flaky (#6274)
  site/cypress/integration/login.spec.js
  site/cypress/support/commands.js
Due: none

[Bugfix:Developer] Remove hardcoded port for vagrant apache conf (#6288)
  .setup/install_system.sh
Due: none

Change behavior to wrap component
  site/public/js/ta-grading.js
Due: none

undo remove newline
  site/.eslintignore
Due: none

Update index.js
  site/cypress/plugins/index.js
Due: none

Update login.spec.js
  site/cypress/integration/login.spec.js
Due: none

[Bugfix:System] Set upper-bound on allowed sqlalchemy version
  .github/workflows/submitty_ci.yml
  .setup/install_system.sh
Due: none

[Bugfix:System] Pin sqlalchemy version (#6296)
  .github/workflows/submitty_ci.yml
  .setup/install_system.sh
Due: none

Refactor
  site/app/controllers/GlobalController.php
  site/app/controllers/calendar/CalendarController.php
  site/app/libraries/socket/Client.php
  site/app/models/gradeable/GradeableList.php
  site/app/templates/calendar/Calendar.twig
  site/app/templates/calendar/CalendarComponent.twig
  site/app/templates/grading/electronic/PanelSelectorModal.twig
  site/app/views/calendar/CalendarView.php
  site/composer.json
  site/composer.lock
  site/package-lock.json
  site/package.json
  site/public/css/calendar.css
  site/public/img/moorthy_duck/02-february.svg
  site/public/js/calendar.js
  site/public/js/panel-selector-modal.js
  site/public/js/ta-grading.js
Due: php

Refactor
  site/app/controllers/calendar/CalendarController.php
Due: php

Refactor to fix phplint errors
  site/app/models/gradeable/GradeableList.php
  site/app/views/calendar/CalendarView.php
Due: php

[Testing:Developer] eslint cypress files (#6293)
  site/cypress/.eslintrc.json
  site/cypress/integration/login.spec.js
  site/cypress/plugins/index.js
  site/cypress/support/commands.js
  site/cypress/support/utils.js
  site/package-lock.json
  site/package.json
Due: none

Path conditions:
  php: any of: site/app, but not: tests/integrationTests
  autograder: any of: autograder/autograder, but not: tests/integrationTests
  python_submitty_utils: any of: python_submitty_utils/submitty_utils, but not: tests/integrationTests
  migrator: any of: migration/migrator, but not: tests/integrationTests
