Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: true

ignore:
  - "tests/integrationTests"

coverage:
  status:
    project: false
    patch: false
    changes: false
    migrator:
      flags: migrator
      target: 100%

flags:
  php:
    paths:
      - site/app
  autograder:
    paths:
      - autograder/autograder
  python_submitty_utils:
    paths:
      - python_submitty_utils/submitty_utils
  migrator:
    paths:
      - migration/migrator

comment:
  layout: "reach, diff, flags"
  behavior: default

Allow for checking for both errors
  site/app/templates/forum/GeneratePostList.twig
  site/public/js/forum.js
Due: php

fixed linting errors
  site/app/controllers/HomePageController.php
  site/app/libraries/database/DatabaseQueries.php
Due: php

fixed static analysis errors
  site/app/controllers/HomePageController.php
Due: php

Update nav bar button and student photos visibility by grader sections.
  site/app/controllers/GlobalController.php
  site/app/controllers/grading/ImagesController.php
  site/app/templates/grading/Images.twig
  site/app/views/grading/ImagesView.php
Due: php

change array declaration to short term
  site/app/libraries/database/DatabaseQueries.php
Due: php

checkpoint
  .setup/bin/setup_sample_user_data.py
Due: none

skip date warning message
  tests/e2e/test_accessibility.py
Due: none

Update migration code to remove hard coded paths.
  .setup/INSTALL_SUBMITTY_HELPER.sh
  .setup/bin/setup_sample_user_data.py
  migration/migrator/migrations/system/20200518135745_create_user_data_dir.py
Due: migrator

Give notebook builder its own route.
  site/app/controllers/admin/AdminGradeableController.php
  site/app/controllers/admin/AutogradingConfigController.php
  site/app/templates/admin/NotebookBuilder.twig
  site/app/templates/admin/admin_gradeable/AdminGradeableAuto.twig
Due: php

change routing
  site/app/controllers/PollController.php
Due: php

[Bugfix:Forum] Invalid Attachment (#5535)
  site/app/templates/forum/GeneratePostList.twig
  site/public/js/forum.js
Due: php

added python websocket client library
  .travis.yml
Due: none

try socket direct port connection
  tests/e2e/test_forum.py
Due: none

currentVersionResults tweak
  site/app/templates/submission/homework/CurrentVersionResults.twig
Due: php

removing confetti from TAResults
  site/app/templates/autograding/TAResults.twig
Due: php

checkpoint
  site/app/controllers/admin/AutogradingConfigController.php
  site/public/css/notebook-builder.css
  site/public/js/notebook_builder/multiple-choice-widget.js
  site/public/js/notebook_builder/notebook-builder.js
  site/public/js/notebook_builder/selector-widget.js
  site/public/js/notebook_builder/widget.js
Due: php

fixes
  migration/migrator/migrations/course/20200608034200_peer_feedback.py
  site/app/controllers/grading/ElectronicGraderController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/models/gradeable/Gradeable.php
  site/app/templates/autograding/PeerResults.twig
  site/app/views/AutoGradingView.php
Due: php, migrator

various_fixes
  migration/migrator/data/course_tables.sql
  migration/migrator/migrations/course/20200608034200_peer_feedback.py
  site/app/controllers/grading/ElectronicGraderController.php
  site/app/libraries/database/DatabaseQueries.php
Due: php, migrator

quick fix
  site/app/controllers/grading/ElectronicGraderController.php
Due: php

add testcases for Notification model
  site/tests/app/models/NotificationTester.php
Due: none

quick fix
  site/app/controllers/grading/ElectronicGraderController.php
  site/app/templates/autograding/PeerResults.twig
Due: php

[Feature:Autograding] Shipper rejects stale jobs (#5189)
  python_submitty_utils/submitty_utils/string_utils.py
  python_submitty_utils/tests/test_string_utils.py
  sbin/submitty_autograding_shipper.py
Due: python_submitty_utils

pylint fixes
  site/app/libraries/database/DatabaseQueries.php
  site/app/models/gradeable/Gradeable.php
  site/app/views/AutoGradingView.php
Due: php

And there was much rejoicing
  .flake8
Due: none

ajaxCheck
  site/app/controllers/grading/ElectronicGraderController.php
Due: php

testing
  migration/migrator/migrations/course/20200514034200_annotations_file_directory.py
  site/app/controllers/pdf/PDFController.php
Due: php, migrator

fixing migration
  migration/migrator/migrations/course/20200514034200_annotations_file_directory.py
  site/app/controllers/pdf/PDFController.php
Due: php, migrator

[Testing:Python] linter 100 char width (#5549)
  .flake8
Due: none

[Testing:PHP] add testcases for Notification model (#5547)
  site/tests/app/models/NotificationTester.php
Due: none

add complete configs for notebook gradeables
  python_submitty_utils/tests/data/complete_configs/minimal_code_editing.json
  python_submitty_utils/tests/data/complete_configs/notebook_basic.json
  python_submitty_utils/tests/data/complete_configs/notebook_itempool_random.json
  python_submitty_utils/tests/test_submitty_schema_validator.py
Due: none

[Bugfix:TAGrading] Fix download submission zip throwing exception
  site/app/controllers/MiscController.php
  site/app/templates/grading/electronic/SubmissionPanel.twig
  site/public/js/server.js
Due: php

fixes
  site/app/controllers/pdf/PDFController.php
Due: php

fix security issue
  site/app/libraries/socket/Server.php
Due: php

[Bugfix:Autograding] Run make_generated_output after validating make exit code
  bin/build_homework_function.sh
Due: none

Update Status.twig
  site/app/templates/grading/electronic/Status.twig
Due: php

Stat Correction on Grading Index
  site/app/views/grading/ElectronicGraderView.php
Due: php

[Testing:SubmittyUtils] Add testcases for schema validation (#5532)
  python_submitty_utils/tests/data/complete_configs/choice_of_language.json
  python_submitty_utils/tests/data/complete_configs/cpp_hidden_tests.json
  python_submitty_utils/tests/data/complete_configs/minimal_code_editing.json
  python_submitty_utils/tests/data/complete_configs/notebook_basic.json
  python_submitty_utils/tests/data/complete_configs/notebook_itempool_random.json
  python_submitty_utils/tests/data/complete_configs/python_multipart_static_analysis.json
  python_submitty_utils/tests/data/complete_configs/tutorial_10_java_coverage.json
  python_submitty_utils/tests/data/complete_configs/tutorial_12_system_calls.json
  python_submitty_utils/tests/data/complete_configs/tutorial_16_docker_network_python.json
  python_submitty_utils/tests/test_submitty_schema_validator.py
Due: none

[Refactor:PHP] Fix static analysis errors in pdf controller/view
  site/app/controllers/pdf/PDFController.php
  site/app/views/PDFView.php
  site/phpstan-baseline.neon
Due: php

Draft v1.0
  site/app/controllers/admin/AutogradingConfigController.php
  site/app/templates/admin/NotebookBuilder.twig
  site/public/css/notebook-builder.css
  site/public/js/notebook_builder/markdown-widget.js
  site/public/js/notebook_builder/multiple-choice-widget.js
  site/public/js/notebook_builder/notebook-builder.js
  site/public/js/notebook_builder/selector-widget.js
  site/public/js/notebook_builder/short-answer-widget.js
  site/public/js/notebook_builder/widget.js
Due: php

Draft v1.0
  site/app/controllers/admin/AdminGradeableController.php
  site/app/templates/admin/admin_gradeable/AdminGradeableAuto.twig
  site/public/css/notebook-builder.css
  site/public/js/admin-gradeable-updates.js
  site/public/js/notebook_builder/multiple-choice-widget.js
  site/public/js/notebook_builder/selector-widget.js
  site/public/js/notebook_builder/short-answer-widget.js
  site/public/js/notebook_builder/widget.js
Due: php
