Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

more tests
  site/tests/app/controllers/course/CourseMaterialsControllerTester.php
Due: none

[Testing:Bugfix] Fix error in regex in testGetServerTime
  site/tests/app/libraries/DateUtilsTester.php
Due: none

[Testing:Bugfix] Fix error in regex in testGetServerTime (#4445)
  site/tests/app/libraries/DateUtilsTester.php
Due: none

[Bugfix:CourseUploads] Fix spelling of ammend to amend
  site/app/templates/course/UploadCourseMaterialsForm.twig
Due: php

[Bugfix:Forum] Remove undefined event variable from submit handler
  site/app/templates/forum/ShowForumThreads.twig
Due: php

Update createThread.twig
  site/app/templates/forum/createThread.twig
Due: php

[Bugfix] Fix using assignment operator instead of equality operator for Lichen refresh check
  site/public/js/server.js
Due: none

one too many equal signs
  site/public/js/server.js
Due: none

[Bugfix:Forum] Remove undefined event variable from jQuery submit function call (#4447)
  site/app/templates/forum/ShowForumThreads.twig
  site/app/templates/forum/createThread.twig
Due: php

changes to json design and formatting
  site/app/controllers/course/CourseMaterialsController.php
  site/tests/app/controllers/course/CourseMaterialsControllerTester.php
Due: php

inital work
  site/app/controllers/course/CourseMaterialsController.php
Due: php

[Bugfix:InstructorUI] Fix being able to set visible only to instructors for seating chart
  site/app/templates/admin/Configuration.twig
Due: php

initial work
  .setup/install_system.sh
  migration/migrator/migrations/system/20190910121549_increase_max_file_uploads.py
  site/app/controllers/course/CourseMaterialsController.php
Due: php, migrator

Update install_system.sh
  .setup/install_system.sh
Due: none

[Bugfix:CourseUploads] Fix spelling of ammend to amend (#4446)
  site/app/templates/course/UploadCourseMaterialsForm.twig
Due: php

[Bugfix:Lichen] Fix using assignment operator instead of equality operator (#4448)
  site/public/js/server.js
Due: none

[Feature:Installation] Always reload PHP-FPM on site installation (#4426)
  .setup/INSTALL_SUBMITTY_HELPER_SITE.sh
Due: none

[Refactor:Installation] Remove unused PDFAnnotator version and repo checkout (#4425)
  .setup/bin/update_repos.sh
  .setup/bin/versions.sh
Due: none

fixes
  .setup/install_system.sh
  migration/migrator/migrations/system/20190910121549_increase_max_file_uploads.py
  site/app/controllers/course/CourseMaterialsController.php
Due: php, migrator

remove extra declaration in loop
  site/app/controllers/course/CourseMaterialsController.php
Due: php

fixed updating correct files
  site/app/controllers/course/CourseMaterialsController.php
  site/public/js/drag-and-drop.js
Due: php

[Bugfix:InstructorUI] only instructor can view seating chart (#4452)
  site/app/templates/admin/Configuration.twig
Due: php

fixed warnings
  site/app/templates/course/CourseMaterials.twig
  site/app/templates/course/SetFolderReleaseForm.twig
  site/app/templates/course/UploadCourseMaterialsForm.twig
Due: php

[Feature:BulkUpload] Add numeric ID sample data for users on setup(#4415)
  .setup/bin/setup_sample_courses.py
  .setup/data/numeric_ids.txt
  .setup/data/users.yml
  .setup/data/users/aphacker.yml
  .setup/data/users/bitdiddle.yml
  .setup/data/users/browna.yml
  .setup/data/users/grader.yml
  .setup/data/users/grader2.yml
  .setup/data/users/instructor.yml
  .setup/data/users/joness.yml
  .setup/data/users/manne.yml
  .setup/data/users/pearsr.yml
  .setup/data/users/smithj.yml
  .setup/data/users/student.yml
  .setup/data/users/submitty-admin.yml
  .setup/data/users/superuser.yml
  .setup/data/users/ta.yml
  .setup/data/users/ta2.yml
  .setup/data/users/ta3.yml
Due: none

removed increasing file uploads
  .setup/install_system.sh
  migration/migrator/migrations/system/20190910121549_increase_max_file_uploads.py
Due: migrator

added resource limits for CPU clock time
  autograder/autograder/execution_environments/container_network.py
  autograder/autograder/execution_environments/rlimit_utils.py
Due: autograder

move stuff over
  .setup/data/numeric_ids.txt
  .setup/data/users.yml
  more_autograding_examples/bulk_upload_pdfs/submissions/numeric_ids.txt
  more_autograding_examples/bulk_upload_pdfs/submissions/readme.md
Due: none

fixes flake complaints for travis tests
  autograder/autograder/execution_environments/rlimit_utils.py
Due: autograder

[Feature:Grading] Whitelist oz (mozart) executable
  grading/execute.cpp
Due: none

new router
  autograder/autograder/execution_environments/container_network.py
  grading/python/submitty_router.py
Due: autograder

[Bugfix:CourseMaterials] JS warnings on CourseMaterials Page (#4455)
  site/app/templates/course/CourseMaterials.twig
  site/app/templates/course/SetFolderReleaseForm.twig
  site/app/templates/course/UploadCourseMaterialsForm.twig
Due: php

[Refactor:CourseMaterials] Cleanup Course Materials (#4453)
  site/app/controllers/course/CourseMaterialsController.php
Due: php

[Testing:CodeCov] Make codecov post less spammy
  .codecov.yml
Due: none

update list
  grading/execute.cpp
Due: none

Finished adding updated router
  autograder/autograder/execution_environments/container_network.py
  grading/python/submitty_router.py
Due: autograder

update left right notebook gradeable
  bin/calculate_extensions.cpp
  more_autograding_examples/left_right_exam_seating/config/config.json
Due: none

[Feature:Autograding] Assign IP Addresses when Grading Networked Applications (#4403)
  autograder/autograder/execution_environments/container_network.py
  bin/json_schemas/complete_config_schema.json
  grading/load_config_json.cpp
  grading/python/submitty_router.py
Due: autograder

[Testing:CodeCov] Reduce codecov notifications (#4463)
  .codecov.yml
Due: none

update
  bin/calculate_extensions.cpp
  more_autograding_examples/left_right_exam_seating/config/config.json
Due: none

[Feature:Autograding] update left-right seating gradeable (#4466)
  bin/calculate_extensions.cpp
  more_autograding_examples/left_right_exam_seating/config/config.json
Due: none

Path conditions:
  php: any of: site/app, but not: tests/integrationTests
  autograder: any of: autograder/autograder, but not: tests/integrationTests
  python_submitty_utils: any of: python_submitty_utils/submitty_utils, but not: tests/integrationTests
  migrator: any of: migration/migrator, but not: tests/integrationTests
