Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

Fix invalid function call to has_table
  migration/migrator/db.py
  migration/migrator/main.py
Due: migrator

remove unused import
  migration/migrator/db.py
Due: migrator

ignore except clause for code coverage
  migration/migrator/db.py
Due: migrator

[Documentation:InstructorUI] Added Docker Name Example (#7064)
  site/app/templates/admin/Docker.twig
  site/public/css/docker_interface.css
Due: php

Add multi leaderboard support
  bin/json_schemas/complete_config_schema.json
  migration/migrator/data/course_tables.sql
  migration/migrator/migrations/course/20211006221014_leaderboard.py
  site/app/controllers/student/LeaderboardController.php
  site/app/controllers/student/SubmissionController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/models/gradeable/AutogradingConfig.php
  site/app/templates/submission/homework/leaderboard/Leaderboard.twig
  site/app/templates/submission/homework/leaderboard/LeaderboardTable.twig
  site/app/views/AutoGradingView.php
Due: php, migrator

[Feature:System] Add amend flag to create_term.sh (#7198)
  sbin/create_term.sh
Due: none

[Refactor:System] Fix majority of phpstan errors
  site/app/controllers/NotificationController.php
  site/app/controllers/admin/AdminGradeableController.php
  site/app/controllers/admin/AutogradingConfigController.php
  site/app/controllers/admin/LateController.php
  site/app/controllers/admin/ReportController.php
  site/app/controllers/admin/UsersController.php
  site/app/controllers/forum/ForumController.php
  site/app/controllers/grading/ElectronicGraderController.php
  site/app/controllers/grading/SimpleGraderController.php
  site/app/controllers/student/GradeInquiryController.php
  site/app/controllers/student/SubmissionController.php
  site/app/libraries/DateUtils.php
  site/app/libraries/ExceptionHandler.php
  site/app/libraries/FileUtils.php
  site/app/libraries/GradeableType.php
  site/app/libraries/socket/Server.php
  site/app/models/AbstractModel.php
  site/app/models/GradeableAutocheck.php
  site/app/models/GradingOrder.php
  site/app/models/Notification.php
  site/app/models/RainbowCustomizationJSON.php
  site/app/models/gradeable/AutoGradedVersion.php
  site/app/models/gradeable/Component.php
  site/app/models/gradeable/GradedGradeable.php
  site/app/models/gradeable/LateDayInfo.php
  site/app/models/gradeable/LateDays.php
  site/app/models/gradeable/Mark.php
  site/app/views/AutoGradingView.php
  site/app/views/grading/ElectronicGraderView.php
  site/phpstan-baseline.neon
Due: php

fix lint error
  site/app/models/gradeable/AutoGradedVersion.php
Due: php

Fix annon button and add current rank in leaderboard
  site/app/controllers/student/LeaderboardController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/templates/submission/homework/leaderboard/Leaderboard.twig
  site/app/templates/submission/homework/leaderboard/LeaderboardTable.twig
Due: php

Cleanup formatting
  site/app/libraries/database/DatabaseQueries.php
  site/app/templates/submission/homework/leaderboard/LeaderboardTable.twig
Due: php

Clean up UI a bit
  site/app/controllers/student/LeaderboardController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/templates/submission/homework/leaderboard/Leaderboard.twig
  site/app/templates/submission/homework/leaderboard/LeaderboardTable.twig
  site/public/css/leaderboard.css
Due: php

[Feature:System] Add enabled annotation to check if disabled
  site/app/controllers/OfficeHoursQueueController.php
  site/app/controllers/PollController.php
  site/app/controllers/forum/ForumController.php
  site/app/libraries/routers/Enabled.php
  site/app/libraries/routers/WebRouter.php
  site/app/templates/error/CourseErrorPage.twig
  site/app/views/ErrorView.php
  site/app/views/forum/ForumThreadView.php
  site/tests/app/libraries/routers/EnabledTester.php
Due: php

Remove debugging code
  autograder/autograder/insert_database_version_data.py
Due: autograder

Add navigation button for leaderboard
  site/app/models/gradeable/Gradeable.php
  site/app/views/NavigationView.php
Due: php

Clarify wording on leaderboard table
  site/app/templates/submission/homework/leaderboard/LeaderboardTable.twig
Due: php

Lint files
  autograder/autograder/insert_database_version_data.py
  site/app/controllers/student/SubmissionController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/templates/submission/homework/leaderboard/LeaderboardTable.twig
  site/public/css/leaderboard.css
Due: php, autograder

Fix unit tests
  site/app/controllers/student/LeaderboardController.php
  site/app/controllers/student/SubmissionController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/models/gradeable/AutogradingConfig.php
Due: php

Fix bug when loading leaderboard buttons
  site/app/models/gradeable/Gradeable.php
Due: php

fix unit tests
  site/tests/app/libraries/response/MultiResponseTester.php
  site/tests/app/libraries/response/WebResponseTester.php
Due: none

[Refactor:Forum] Remove unused ForumQueries file
  site/app/libraries/database/ForumQueries.php
Due: php

clean-up phpstan.neon
  site/app/libraries/socket/Server.php
  site/phpstan.neon
Due: php

[Refactor:Forum] Remove unused ForumQueries file (#7218)
  site/app/libraries/database/ForumQueries.php
Due: php

[Refactor:System] Fix majority of phpstan errors (#7215)
  site/app/controllers/NotificationController.php
  site/app/controllers/admin/AdminGradeableController.php
  site/app/controllers/admin/AutogradingConfigController.php
  site/app/controllers/admin/LateController.php
  site/app/controllers/admin/ReportController.php
  site/app/controllers/admin/UsersController.php
  site/app/controllers/forum/ForumController.php
  site/app/controllers/grading/ElectronicGraderController.php
  site/app/controllers/grading/SimpleGraderController.php
  site/app/controllers/student/GradeInquiryController.php
  site/app/controllers/student/SubmissionController.php
  site/app/libraries/DateUtils.php
  site/app/libraries/ExceptionHandler.php
  site/app/libraries/FileUtils.php
  site/app/libraries/GradeableType.php
  site/app/libraries/socket/Server.php
  site/app/models/AbstractModel.php
  site/app/models/GradeableAutocheck.php
  site/app/models/GradingOrder.php
  site/app/models/Notification.php
  site/app/models/RainbowCustomizationJSON.php
  site/app/models/gradeable/AutoGradedVersion.php
  site/app/models/gradeable/Component.php
  site/app/models/gradeable/GradedGradeable.php
  site/app/models/gradeable/LateDayInfo.php
  site/app/models/gradeable/LateDays.php
  site/app/models/gradeable/Mark.php
  site/app/views/AutoGradingView.php
  site/app/views/grading/ElectronicGraderView.php
  site/phpstan-baseline.neon
  site/phpstan.neon
Due: php

Fix e2e tests
  site/cypress/integration/navigation_page.spec.js
Due: none

[Bugfix:Forum] Fix creating categories on Firefox (#7036)
  site/app/controllers/admin/ConfigurationController.php
  site/app/controllers/forum/ForumController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/templates/forum/ShowCategories.twig
  site/public/css/forum.css
  site/public/js/forum.js
Due: php

fix migration
  migration/migrator/migrations/course/20200311135223_oh_queue_contact_info.py
  migration/migrator/migrations/course/20210921195244_add_queue_contact_info_column.py
Due: migrator

fix migration
  migration/migrator/migrations/course/20210921195244_add_queue_contact_info_column.py
Due: migrator

requested changes
  migration/migrator/data/course_tables.sql
  site/app/controllers/OfficeHoursQueueController.php
  site/app/libraries/database/DatabaseQueries.php
Due: php, migrator

Finish implementing unviewed indicator
  migration/migrator/migrations/course/20210902151201_plagiarism_database_extras.py
  site/app/controllers/admin/PlagiarismController.php
  site/app/entities/plagiarism/PlagiarismConfig.php
  site/app/entities/plagiarism/PlagiarismRunAccess.php
  site/app/templates/plagiarism/Plagiarism.twig
  site/public/css/plagiarism.css
Due: php, migrator

fix sql file
  migration/migrator/data/course_tables.sql
Due: migrator

DB dump
  migration/migrator/data/course_tables.sql
Due: migrator

fix row count function
  site/app/libraries/database/DatabaseQueries.php
Due: php

lint
  site/app/entities/plagiarism/PlagiarismConfig.php
  site/app/entities/plagiarism/PlagiarismRunAccess.php
  site/public/css/plagiarism.css
Due: php

Include exceptions
  site/app/controllers/admin/PlagiarismController.php
Due: php

rename to hash size and other gradeables
  migration/migrator/data/course_tables.sql
  migration/migrator/migrations/course/20211011122951_plagiarism_rebrand.py
  site/app/controllers/admin/PlagiarismController.php
  site/app/entities/plagiarism/PlagiarismConfig.php
  site/app/libraries/plagiarism/PlagiarismUtils.php
  site/app/templates/plagiarism/PlagiarismConfigurationForm.twig
  site/public/css/plagiarism.css
Due: php, migrator

Remove unnecessary includes
  site/app/entities/plagiarism/PlagiarismConfig.php
Due: php

working on the overhead bar
  site/app/templates/grading/simple/Display.twig
  site/app/templates/grading/simple/StudentSearch.twig
  site/public/css/simple-grading.css
  site/public/js/simple-grading.js
Due: php

[Bugfix:TAGrading] Allow for empty solution notes (#7176)
  site/app/controllers/grading/ElectronicGraderController.php
Due: php

Remove extra fork in autograder
  grading/execute.cpp
  grading/execute.h
  site/app/templates/submission/homework/leaderboard/LeaderboardTable.twig
Due: php

Path conditions:
  php: any of: site/app, but not: tests/integrationTests
  autograder: any of: autograder/autograder, but not: tests/integrationTests
  python_submitty_utils: any of: python_submitty_utils/submitty_utils, but not: tests/integrationTests
  migrator: any of: migration/migrator, but not: tests/integrationTests
