Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: true

ignore:
  - "tests/integrationTests"

coverage:
  status:
    project: false
    patch: false
    changes: false
    migrator:
      flags: migrator
      target: 100%

flags:
  php:
    paths:
      - site/app
  autograder:
    paths:
      - autograder/autograder
  python_submitty_utils:
    paths:
      - python_submitty_utils/submitty_utils
  migrator:
    paths:
      - migration/migrator

comment:
  layout: "reach, diff, flags"
  behavior: default

Mostly working
  site/app/libraries/database/DatabaseQueries.php
  site/app/models/User.php
  site/app/templates/grading/electronic/Details.twig
  site/app/views/grading/ElectronicGraderView.php
  site/public/js/server.js
Due: php

fix non-TA gradeable button
  site/app/views/NavigationView.php
Due: php

update dr memory output parser
  .setup/bin/versions.sh
  grading/dispatch.cpp
  grading/system_call_check.cpp
Due: none

added test case
  more_autograding_examples/cpp_hidden_tests/config/config.json
  more_autograding_examples/cpp_hidden_tests/config/test_output/frame_15.txt
Due: none

add in tests for cpp_hidden_tests
  tests/integrationTests/tests/cpp_hidden_tests/validation/buggy_grade.txt
  tests/integrationTests/tests/cpp_hidden_tests/validation/buggy_penalty5_grade.txt
  tests/integrationTests/tests/cpp_hidden_tests/validation/buggy_penalty5_results.json
  tests/integrationTests/tests/cpp_hidden_tests/validation/buggy_results.json
  tests/integrationTests/tests/cpp_hidden_tests/validation/correct_grade.txt
  tests/integrationTests/tests/cpp_hidden_tests/validation/correct_penalty1_grade.txt
  tests/integrationTests/tests/cpp_hidden_tests/validation/correct_penalty1_results.json
  tests/integrationTests/tests/cpp_hidden_tests/validation/correct_penalty2_grade.txt
  tests/integrationTests/tests/cpp_hidden_tests/validation/correct_penalty2_results.json
  tests/integrationTests/tests/cpp_hidden_tests/validation/correct_penalty5_grade.txt
  tests/integrationTests/tests/cpp_hidden_tests/validation/correct_penalty5_results.json
  tests/integrationTests/tests/cpp_hidden_tests/validation/correct_results.json
  tests/integrationTests/tests/cpp_hidden_tests/validation/hardcoded_grade.txt
  tests/integrationTests/tests/cpp_hidden_tests/validation/hardcoded_results.json
  tests/integrationTests/tests/cpp_hidden_tests/validation/noerrorchecking_grade.txt
  tests/integrationTests/tests/cpp_hidden_tests/validation/noerrorchecking_results.json
Due: none

Revert "added test case"
  more_autograding_examples/cpp_hidden_tests/config/config.json
  more_autograding_examples/cpp_hidden_tests/config/test_output/frame_15.txt
Due: none

added in parens and removed redundant equals
  site/app/models/gradeable/AutogradingTestcase.php
  site/app/templates/autograding/AutoResults.twig
Due: php

Write intermediate test files out of GIT_CHECKOUT
  autograder/tests/test_submitty_autograding_shipper.py
Due: none

fix linting error (:
  site/app/views/NavigationView.php
Due: php

[Bugfix:InstructorUI] date shortcut button - no ta grading (#5933)
  site/app/views/NavigationView.php
Due: php

unit test
  site/tests/app/controllers/course/CourseMaterialsControllerTester.php
Due: none

release date option
  site/app/controllers/admin/AdminGradeableController.php
  site/app/models/gradeable/Gradeable.php
  site/app/templates/admin/admin_gradeable/AdminGradeableDates.twig
Due: php

[Feature:Autograding] release_hidden_details (#5932)
  bin/json_schemas/complete_config_schema.json
  grading/TestCase.h
  grading/main_configure.cpp
  more_autograding_examples/cpp_hidden_tests/config/config.json
  more_autograding_examples/cpp_hidden_tests/config/test_output/frame_15.txt
  site/app/controllers/student/SubmissionController.php
  site/app/models/gradeable/AutogradingTestcase.php
  site/app/templates/autograding/AutoResults.twig
  site/app/views/AutoGradingView.php
  tests/integrationTests/tests/cpp_hidden_tests/validation/buggy_grade.txt
  tests/integrationTests/tests/cpp_hidden_tests/validation/buggy_penalty5_grade.txt
  tests/integrationTests/tests/cpp_hidden_tests/validation/buggy_penalty5_results.json
  tests/integrationTests/tests/cpp_hidden_tests/validation/buggy_results.json
  tests/integrationTests/tests/cpp_hidden_tests/validation/correct_grade.txt
  tests/integrationTests/tests/cpp_hidden_tests/validation/correct_penalty1_grade.txt
  tests/integrationTests/tests/cpp_hidden_tests/validation/correct_penalty1_results.json
  tests/integrationTests/tests/cpp_hidden_tests/validation/correct_penalty2_grade.txt
  tests/integrationTests/tests/cpp_hidden_tests/validation/correct_penalty2_results.json
  tests/integrationTests/tests/cpp_hidden_tests/validation/correct_penalty5_grade.txt
  tests/integrationTests/tests/cpp_hidden_tests/validation/correct_penalty5_results.json
  tests/integrationTests/tests/cpp_hidden_tests/validation/correct_results.json
  tests/integrationTests/tests/cpp_hidden_tests/validation/hardcoded_grade.txt
  tests/integrationTests/tests/cpp_hidden_tests/validation/hardcoded_results.json
  tests/integrationTests/tests/cpp_hidden_tests/validation/noerrorchecking_grade.txt
  tests/integrationTests/tests/cpp_hidden_tests/validation/noerrorchecking_results.json
Due: php

[Feature:Autograding] DrMemory v2.3.0 and additional system call (#5926)
  .setup/CONFIGURE_SUBMITTY.py
  .setup/bin/versions.sh
  .setup/install_system.sh
  grading/dispatch.cpp
  grading/execute.cpp
  grading/seccomp_functions.cpp
  grading/system_call_categories.cpp
  grading/system_call_check.cpp
Due: none

priority documentation
  site/app/templates/course/EditCourseMaterialsForm.twig
  site/app/templates/course/UploadCourseMaterialsForm.twig
Due: php

dont count cancelled submissions
  site/app/libraries/database/DatabaseQueries.php
Due: php

pylint
  site/app/libraries/database/DatabaseQueries.php
Due: php

Stop install system from clobbering submitty conf files
  .setup/install_system.sh
Due: none

[Bugfix:Forum] Fixed error caused by previous commit
  site/app/libraries/database/DatabaseQueries.php
  site/app/templates/grading/electronic/Status.twig
Due: php

Checkpoint
  site/app/controllers/admin/NotebookBuilderController.php
  site/app/libraries/FileUtils.php
  site/public/js/notebook_builder/widgets/form-options-widget.js
Due: php

Checkpoint
  site/app/controllers/admin/NotebookBuilderController.php
  site/app/models/Config.php
  site/public/js/notebook_builder/notebook-builder-utils.js
Due: php

Checkpoint
  site/app/controllers/admin/NotebookBuilderController.php
Due: php

better documentation
  site/app/templates/course/EditCourseMaterialsForm.twig
  site/app/templates/course/UploadCourseMaterialsForm.twig
Due: php

Checkpoint
  site/tests/app/models/ConfigTester.php
Due: none

revert file
  site/app/libraries/database/DatabaseQueries.php
Due: php

first draft
  migration/migrator/data/course_tables.sql
  site/app/controllers/admin/AdminGradeableController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/templates/admin/admin_gradeable/AdminGradeablePeers.twig
Due: php, migrator

Update RainbowCustomisation.twig
  site/app/templates/admin/RainbowCustomization.twig
Due: php

Fix typo
  site/app/libraries/FileUtils.php
Due: php

finding changes
  site/app/controllers/admin/AdminGradeableController.php
  site/public/js/admin-gradeable-updates.js
Due: php

Remove unnecessary line endings
  autograder/tests/test_submitty_autograding_shipper.py
Due: none

Flake
  autograder/tests/test_submitty_autograding_shipper.py
  autograder/tests/test_write_grade_history.py
Due: none

saving changes
  site/app/controllers/admin/AdminGradeableController.php
Due: php

handle empty access log
  autograder/submitty_autograding_shipper.py
  more_autograding_examples/notebook_time_limit/config/custom_validation_code/timelimit.py
Due: none

[Bugfix:Autograding] empty gradeable access log (#5948)
  autograder/submitty_autograding_shipper.py
  more_autograding_examples/notebook_time_limit/config/custom_validation_code/timelimit.py
Due: none

[Bugfix:System] re-run of install_system & apache/phpfpm/nginx configs (#5936)
  .setup/install_system.sh
Due: none

[Bugfix:TAGrading] status page for ungraded gradeables (#5901)
  site/app/templates/grading/electronic/Status.twig
Due: php

ui changes
  site/app/controllers/OfficeHoursQueueController.php
  site/app/models/OfficeHoursQueueModel.php
  site/app/templates/officeHoursQueue/QueueButtonBar.twig
  site/app/templates/officeHoursQueue/QueueFilter.twig
  site/app/templates/officeHoursQueue/QueueFooter.twig
  site/app/templates/officeHoursQueue/QueueHeader.twig
  site/app/templates/officeHoursQueue/QueueStatus.twig
  site/public/css/officeHoursQueue.css
Due: php

ui changes_
  site/app/models/OfficeHoursQueueModel.php
Due: php

ui changes
  site/app/controllers/OfficeHoursQueueController.php
Due: php
