Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

profile test
  site/cypress/e2e/profile.spec.js
Due: none

message corrected on editPronouns page
  site/app/templates/EditPronounsForm.twig
Due: php

indentation typo
  site/cypress/e2e/profile.spec.js
Due: none

lint typo
  site/cypress/e2e/profile.spec.js
Due: none

typo
  site/cypress/e2e/profile.spec.js
Due: none

Added more tests and fixed some of the tests
  site/cypress/e2e/gradeables/edit_gradeable.spec.js
Due: none

Updates
  site/app/libraries/database/DatabaseQueries.php
  site/app/models/User.php
Due: php

New Item Working
  site/app/controllers/calendar/CalendarController.php
  site/app/templates/calendar/EditCalendarItem.twig
Due: php

Update course_template.json
  site/config/course_template.json
Due: none

Update LateController.php
  site/app/controllers/admin/LateController.php
Due: php

verilog autograding example
  grading/execute.cpp
  more_autograding_examples/verilog_hello_world/config/config.json
  more_autograding_examples/verilog_hello_world/submissions/correct.v
  more_autograding_examples/verilog_hello_world/submissions/incorrect.v
Due: none

[Bugfix:UpdateUser] progress :(
  site/app/templates/admin/users/StudentList.twig
  site/app/templates/admin/users/ToggleManageStudentsColumns.twig
  site/public/js/manage-students.js
Due: php

individual scores
  site/app/templates/grading/electronic/Details.twig
Due: php

Update LateDaysTableView.php
  site/app/views/LateDaysTableView.php
Due: php

[Bugfix:TAGrading] Hide overall score in peer gradables (#9208)
  site/app/templates/grading/electronic/Details.twig
Due: php

[Feature:Submission] Button text change (#9191)
  site/ts/grader-submission.ts
Due: none

[Feature:TAGrading] Added Grade Inquiry Title (#9186)
  site/app/templates/submission/regrade/Discussion.twig
Due: php

[Feature:TAGrading] Add pronoun student photos page (#9184)
  site/app/templates/EditPronounsForm.twig
  site/app/templates/grading/Images.twig
Due: php

[Bugfix:Autograding] stop confetti automatically (#9116)
  site/public/js/confetti.js
Due: none

[Bugfix:TAGrading] PDF Download Correct File (#9035)
  site/app/templates/grading/electronic/PDFAnnotationEmbedded.twig
  site/public/js/pdf/PDFAnnotateEmbedded.js
Due: php

Finished basic gradeable editing tests
  site/cypress/e2e/gradeables/edit_gradeable.spec.js
Due: none

js lint
  site/cypress/e2e/gradeables/edit_gradeable.spec.js
Due: none

Update late_days_allowed.spec.js
  site/cypress/e2e/late_days_allowed.spec.js
Due: none

Update SubmitBox.twig
  site/app/templates/submission/homework/SubmitBox.twig
  site/public/css/gradeable-notebook.css
Due: php

Maybe just apache
  .github/actions/e2e-Setup-Composite/action.yml
  .github/workflows/submitty_ci.yml
Due: none

Update submitty_ci.yml
  .github/workflows/submitty_ci.yml
Due: none

[UI/UX:CourseMaterials] Fix buttons overlap visually (#9046)
  site/app/templates/course/CourseMaterials.twig
  site/public/css/course-materials.css
Due: php

[Feature:Cookies] Incomplete, trying to route data from js to twig
  site/app/controllers/admin/UsersController.php
  site/app/templates/admin/users/ToggleManageStudentsColumns.twig
  site/app/views/admin/UsersView.php
  site/public/js/manage-students.js
Due: php

fixed bug
  site/public/js/server.js
Due: none

clear and reset button
  site/public/css/gradeable-notebook.css
Due: none

Added more tests and fixed up the other test cases
  site/cypress/e2e/gradeables/edit_gradeable.spec.js
Due: none

feat: codemirror search in grader view
  site/app/views/MiscView.php
Due: php

user model last initial format
  site/app/models/User.php
Due: php

test user model last initial format
  site/tests/app/models/UserTester.php
Due: none

migration for last initial format
  migration/migrator/data/course_tables.sql
  migration/migrator/data/submitty_db.sql
  migration/migrator/migrations/course/20230425130619_user_last_initial_format.py
  migration/migrator/migrations/master/20230425130250_user_last_initial_format.py
Due: migrator

Path conditions:
  php: any of: site/app, but not: tests/integrationTests
  autograder: any of: autograder/autograder, but not: tests/integrationTests
  python_submitty_utils: any of: python_submitty_utils/submitty_utils, but not: tests/integrationTests
  migrator: any of: migration/migrator, but not: tests/integrationTests
