Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

start adding new buttons
  site/public/templates/grading/GradingComponent.twig
Due: none

getting testresults errors
  grading/error_message.cpp
  grading/main_validator.cpp
  more_autograding_examples/notebook_expected_string/config/config.json
Due: none

try fix tests
  site/cypress.json
  site/cypress/integration/courseMaterials.spec.js
  site/cypress/support/commands.js
Due: none

remove headless
  .github/workflows/submitty_ci.yml
  site/cypress/integration/courseMaterials.spec.js
Due: none

[Bugfix:SubminiPolls] Fix handling of deleting existing poll responses (#6687)
  site/app/controllers/PollController.php
  site/app/models/PollModel.php
  site/app/templates/polls/NewPollPage.twig
  site/app/templates/polls/PollType.twig
Due: php

Lint `autograder/autograder/autograding_utils.py`
  .flake8
  autograder/autograder/autograding_utils.py
Due: autograder

Update .flake8
  .flake8
Due: none

add underscores to unused loop vars
  autograder/autograder/autograding_utils.py
Due: autograder

test
  .github/workflows/submitty_ci.yml
  site/cypress/integration/courseMaterials.spec.js
Due: none

eslint
  site/cypress/integration/courseMaterials.spec.js
Due: none

test
  site/cypress/integration/courseMaterials.spec.js
Due: none

remove log and use hard refresh
  site/cypress/integration/courseMaterials.spec.js
Due: none

[Bugfix:RainbowGrades] Gradeable Max Score Override (#6617)
  site/app/models/RainbowCustomization.php
  site/app/templates/admin/RainbowCustomization.twig
  site/public/css/rainbow-customization.css
  site/public/js/rainbow-customization.js
Due: php

Parameterize query
  site/app/libraries/database/DatabaseQueries.php
Due: php

Update site/app/libraries/database/DatabaseQueries.php
  site/app/libraries/database/DatabaseQueries.php
Due: php

tests for sorting set up
  site/tests/mjs/activity-dashboard.spec.js
Due: none

moved fclose to controller
  site/app/controllers/admin/StudentActivityDashboardController.php
  site/app/views/admin/StudentActivityDashboardView.php
Due: php

[Testing:SubminiPolls] Add unit test for poll model (#6701)
  site/tests/app/models/PollModelTester.php
Due: none

Remove merging code
  site/app/libraries/plagiarism/PlagiarismUtils.php
Due: php

Make plagiarism course work (no submissions yet)
  .setup/bin/setup_sample_courses.py
  .setup/data/courses/plagiarism.yml
Due: none

fixed button not appearing... moved check for announced
  site/app/controllers/forum/ForumController.php
  site/app/views/forum/ForumThreadView.php
  site/public/js/forum.js
Due: php

subject line seems to be incorrect
  site/app/controllers/superuser/SuperuserEmailController.php
  site/app/libraries/NotificationFactory.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/models/SuperuserEmail.php
  site/public/js/superuser-email.js
Due: php

[Refactor:SubminiPolls] Migrate polls to doctrine
  migration/migrator/data/course_tables.sql
  migration/migrator/migrations/course/20210622212901_poll_response_pkey.py
  site/app/controllers/PollController.php
  site/app/controllers/admin/ReportController.php
  site/app/entities/poll/Option.php
  site/app/entities/poll/Poll.php
  site/app/entities/poll/Response.php
  site/app/libraries/PollUtils.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/repositories/poll/PollRepository.php
  site/app/repositories/poll/ResponseRepository.php
  site/app/templates/polls/AllPollsPageInstructor.twig
  site/app/templates/polls/AllPollsPageStudent.twig
  site/app/templates/polls/PollForm.twig
  site/app/templates/polls/PollPageStudent.twig
  site/app/templates/polls/PollType.twig
  site/app/templates/polls/ViewPollResults.twig
  site/app/templates/submission/homework/LoadMessagePage.twig
  site/app/views/PollView.php
Due: php, migrator

[Bugfix:Developer] Fix setting debug mode for doctrine
  site/app/libraries/Core.php
Due: php

update message
  autograder/autograder/packer_unpacker.py
Due: autograder

[Bugfix:Autograding] don't follow/copy vcs symbolic links (#6710)
  autograder/autograder/autograding_utils.py
  autograder/autograder/packer_unpacker.py
Due: autograder

[SECURITY][Bugfix:TAGrading] Parameterize insecure query (#6711)
  site/app/libraries/database/DatabaseQueries.php
Due: php

Add ability to make unique submissions from directory
  .setup/bin/setup_sample_courses.py
Due: none

css change, change to checking if a student is active in a course in DatabaseQueries.php need to remember to change getSemester back, and remove console.log
  site/app/libraries/database/DatabaseQueries.php
  site/app/models/EmailStatusModel.php
  site/app/models/SuperuserEmail.php
  site/app/templates/EmailStatus.twig
  site/app/templates/superuser/Email.twig
  site/public/css/email-status.css
  site/public/js/superuser-email-status.js
  site/public/js/superuser-email.js
Due: php

[Bugfix:Developer] Fix setting debug mode for doctrine (#6709)
  site/app/libraries/Core.php
Due: php

[Feature:Developer] Enable strict variables for twig
  site/app/libraries/Output.php
  site/app/templates/GlobalFooter.twig
  site/app/templates/GlobalHeader.twig
  site/app/templates/LateDaysTablePlugin.twig
  site/app/templates/Navigation.twig
  site/app/templates/admin/Extensions.twig
  site/app/templates/admin/admin_gradeable/AdminGradeableBase.twig
  site/app/templates/admin/admin_gradeable/AdminGradeableCreate.twig
  site/app/templates/admin/users/MoreExtensions.twig
  site/app/templates/admin/users/StudentList.twig
  site/app/templates/course/CourseMaterials.twig
  site/app/templates/course/UploadCourseMaterialsForm.twig
  site/app/templates/forum/EditPostForm.twig
  site/app/templates/forum/ForumBar.twig
  site/app/templates/forum/ShowForumThreads.twig
  site/app/templates/forum/ThreadPostForm.twig
  site/app/templates/forum/displayThreadList.twig
  site/app/templates/misc/MarkdownArea.twig
  site/app/views/admin/UsersView.php
Due: php

checkpoint
  grading/TestCase.cpp
Due: none

fix undefined error
  site/public/js/system-update.js
Due: none

[Bugfix:SubminiPolls] Fix invalid markdown template include
  site/app/templates/polls/ViewPollResults.twig
Due: php

[Bugfix:Submission] Fix markdown include on submission page
  site/app/templates/submission/homework/LoadMessagePage.twig
Due: php

fix few more undefined variables
  site/app/templates/misc/MarkdownArea.twig
  site/app/templates/officeHoursQueue/QueueAnnouncement.twig
Due: php

another one
  site/app/templates/misc/Markdown.twig
Due: php

Path conditions:
  php: any of: site/app, but not: tests/integrationTests
  autograder: any of: autograder/autograder, but not: tests/integrationTests
  python_submitty_utils: any of: python_submitty_utils/submitty_utils, but not: tests/integrationTests
  migrator: any of: migration/migrator, but not: tests/integrationTests
