Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: true

ignore:
  - "tests/integrationTests"

coverage:
  status:
    project: false
    patch: false
    changes: false
    migrator:
      flags: migrator
      target: 100%

flags:
  php:
    paths:
      - site/app
  autograder:
    paths:
      - autograder/autograder
  python_submitty_utils:
    paths:
      - python_submitty_utils/submitty_utils
  migrator:
    paths:
      - migration/migrator

comment:
  layout: "reach, diff, flags"
  behavior: default

Linting
  site/ts/grader-submission.ts
Due: none

fix tests
  site/app/libraries/TokenManager.php
  site/tests/app/controllers/student/AuthTokenControllerTester.php
  site/tests/app/libraries/TokenManagerTester.php
Due: php

Fix phpstan errors
  site/app/libraries/TokenManager.php
Due: php

Update README_utm_arm.txt
  README_utm_arm.txt
Due: none

Fix spelling error
  README_utm_arm.txt
Due: none

update error message
  site/app/libraries/TokenManager.php
  site/tests/app/libraries/TokenManagerTester.php
Due: php

Update step 3
  README_utm_arm.txt
Due: none

[Feature:CourseMaterials] Display folder common properties (#8216)
  site/app/controllers/course/CourseMaterialsController.php
  site/app/templates/course/CourseMaterials.twig
  site/app/templates/course/EditCourseMaterialsFolderForm.twig
  site/app/templates/course/EditCourseMaterialsForm.twig
  site/app/templates/course/UploadCourseMaterialsForm.twig
  site/app/views/course/CourseMaterialsView.php
  site/cypress/e2e/courseMaterials.spec.js
  site/public/css/course-materials.css
  site/public/js/drag-and-drop.js
  site/public/js/server.js
Due: php

Make registration_type change in master database
  site/app/libraries/database/DatabaseQueries.php
Due: php

[UI/UX:Submission] Consistent Styling of Submission Interface
  site/app/templates/submission/homework/SubmissionsClosedBox.twig
Due: php

Remove registration_type from course database query
  site/app/libraries/database/DatabaseQueries.php
Due: php

Match both label attributes
  site/app/templates/officeHoursQueue/QueueHeader.twig
Due: php

Submit for student
  site/app/templates/submission/homework/SubmitBox.twig
  site/ts/grader-submission.ts
Due: php

Minor changes
  site/app/templates/submission/homework/SubmitBox.twig
Due: php

open/close all folders for students
  site/app/templates/course/CourseMaterials.twig
Due: php

test change
  site/app/templates/course/CourseMaterials.twig
Due: php

adjust for course_material error
  site/app/templates/course/CourseMaterials.twig
Due: php

using else instead of elseif
  site/app/templates/course/CourseMaterials.twig
Due: php

Update tests
  tests/integrationTests/tests/python_simple_homework/validation/test01_execute_logfile.txt_infinite_loop_time_cutoff
Due: none

[UI/UX:HelpQueue] Office hour staff text color (#8394)
  site/app/templates/officeHoursQueue/QueueHeader.twig
Due: php

Update config.json
  more_autograding_examples/pdf_exam/config/config.json
Due: none

Update variable name in AutoResult.twig
  site/app/templates/autograding/AutoResults.twig
Due: php

no duplicate code
  site/app/templates/course/CourseMaterials.twig
Due: php

Also show submit/download option for "When grades are released" option
  site/app/templates/admin/admin_gradeable/AdminGradeableAuto.twig
Due: php

[Bugfix:Forum] Remove dead code causing JS syntax issue (#8380)
  site/app/templates/forum/ForumBar.twig
Due: php

Ensure users are added to saml mapping table
  site/app/controllers/admin/UsersController.php
Due: php

Update step 3
  .setup/distro_setup/ubuntu/20.04/setup_distro.sh
  README_utm_arm.txt
Due: none

Revert "Update step 3"
  .setup/distro_setup/ubuntu/20.04/setup_distro.sh
  README_utm_arm.txt
Due: none

Re-update step 3
  README_utm_arm.txt
Due: none

Revert "fix: saml http proto"
  .github/workflows/submitty_ci.yml
Due: none

chore!: revert ci and migrations -> sysadmin act.
  .github/workflows/submitty_ci.yml
  .github/workflows/vagrant_up.yaml
  .setup/INSTALL_SUBMITTY_HELPER.sh
  .setup/apache/dev-upgrade-h2.sh
  .setup/apache/submitty.conf
  migration/migrator/migrations/system/20220526160000_apache_http2.py
  site/cypress/support/utils.js
  site/tests/api/utils.ts
  tests/e2e/base_testcase.py
  tests/git_test.sh
Due: migrator

chore: fix revert err
  .setup/apache/dev-upgrade-h2.sh
Due: none

fix: cypress folder
  .github/workflows/submitty_ci.yml
Due: none

Add note about connecting as root user
  README_utm_arm.txt
Due: none

Remove else statement that clears student note
  site/public/js/gradeable.js
Due: none

[Documentation:Developer] Update UTM ARM instructions (#8414)
  README_utm_arm.txt
Due: none

Lock version
  site/composer.json
Due: none
