Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

minor changes to UserTester.php
  site/tests/app/models/UserTester.php
Due: none

use json_encode
  site/app/libraries/Utils.php
  site/app/libraries/database/DatabaseUtils.php
Due: php

[Bugfix:TAGrading] Fixed download zip button with dropdown (#8650)
  site/app/templates/grading/electronic/ta_status/StatusBase.twig
Due: php

is_array and removing brackets
  site/app/libraries/database/DatabaseUtils.php
Due: php

ci: dependencies
  .github/workflows/db_check.yml
Due: none

Categories Visible_Date
  migration/migrator/migrations/course/20221222212740_visible_date_01.py
  site/app/controllers/forum/ForumController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/templates/forum/ShowCategories.twig
  site/app/templates/forum/ThreadPostForm.twig
  site/public/js/forum.js
Due: php, migrator

remove {....} in this file
  site/app/templates/forum/ShowCategories.twig
Due: php

Add (IF NOT EXISTS) and remove down Database query
  migration/migrator/migrations/course/20221222212740_visible_date_01.py
Due: migrator

Change ( and ) to ( && )
  site/app/controllers/forum/ForumController.php
Due: php

Remove extra spacing
  site/app/templates/forum/ShowCategories.twig
Due: php

change the if condition and explain it
  site/app/templates/forum/ThreadPostForm.twig
Due: php

Add validation for visibleDate
  site/app/controllers/forum/ForumController.php
Due: php

function call handling
  site/app/libraries/database/DatabaseUtils.php
Due: php

Removed auto generated files
  grading/TestCase.cpp
  grading/main_validator.cpp
Due: none

Show date with category description
  site/app/templates/forum/ShowCategories.twig
Due: php

[Feature:Autograding] Config option to keep `.git`
  autograder/submitty_autograding_shipper.py
Due: none

e2e test fix
  grading/main_validator.cpp
Due: none

Fix config JSON schema
  autograder/submitty_autograding_shipper.py
  bin/json_schemas/complete_config_schema.json
Due: none

Fix `course_dir` variable name
  autograder/submitty_autograding_shipper.py
Due: none

Update bin/json_schemas/complete_config_schema.json
  bin/json_schemas/complete_config_schema.json
Due: none

Generate team gradeable anon id on team creation, add migration
  migration/migrator/migrations/course/20230111115942_create_missing_gradeable_team_anon_ids.py
  site/app/libraries/database/DatabaseQueries.php
Due: php, migrator

remove print statement
  migration/migrator/migrations/course/20230111115942_create_missing_gradeable_team_anon_ids.py
Due: migrator

[Bugfix:Submission] Generate team anon id on creation (#8733)
  migration/migrator/migrations/course/20230111115942_create_missing_gradeable_team_anon_ids.py
  site/app/libraries/database/DatabaseQueries.php
Due: php, migrator

create unique path variable for testing
  autograder/tests/test_submitty_autograding_shipper.py
Due: none

feat: waitAndReloadUntil function
  site/cypress/e2e/docker_ui.spec.js
  site/cypress/support/commands.js
Due: none

Logic fix
  grading/TestCase.cpp
  grading/main_validator.cpp
Due: none

fix: typo
  site/cypress/support/commands.js
Due: none

[Testing:InstructorUI] Cypress for DockerUI (#8663)
  .github/workflows/submitty_ci.yml
  .setup/bin/init_auto_rainbow.py
  .setup/testing/setup.sh
  site/cypress/e2e/docker_ui.spec.js
  site/cypress/support/commands.js
Due: none

Adding clang-format to accepted list of programs
  grading/execute.cpp
Due: none

[Testing:System] Database Check (#8198)
  .github/workflows/db_check.yml
Due: none

beta autograder shipper test
  autograder/tests/data/test_files/config.json
  autograder/tests/data/test_files/vcs_checkout_old.txt
  autograder/tests/messages/vcs_checkout.txt
  autograder/tests/test_submitty_autograding_shipper.py
Due: none

Add pytest and clang-format to accepted programs
  grading/execute.cpp
Due: none

format
  grading/execute.cpp
Due: none

Combine renaming columns into one database call
  migration/migrator/migrations/course/20221212162845_rename_family_given_name_columns.py
  migration/migrator/migrations/master/20221212162845_rename_family_given_name_columns.py
Due: migrator

Update package.json
  site/package.json
Due: none

[Feature:RainbowGrades] Add user_numeric_id to exported data (#8638)
  site/app/controllers/admin/ReportController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/models/User.php
Due: php

increase boot timeout
  Vagrantfile
Due: none

Update Vagrantfile
  Vagrantfile
Due: none

[Bugfix:Developer] increase vagrant boot timeout (#8755)
  Vagrantfile
Due: none

Fix directory bug in resolveDirPath
  site/app/controllers/MiscController.php
  site/app/controllers/course/CourseMaterialsController.php
  site/app/libraries/Access.php
  site/tests/app/libraries/AccessTester.php
Due: php

Path conditions:
  php: any of: site/app, but not: tests/integrationTests
  autograder: any of: autograder/autograder, but not: tests/integrationTests
  python_submitty_utils: any of: python_submitty_utils/submitty_utils, but not: tests/integrationTests
  migrator: any of: migration/migrator, but not: tests/integrationTests
