Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

[Bugfix:UI] Fix validation of email failing valid addresses
  site/app/models/User.php
  site/app/templates/admin/users/UserForm.twig
  site/composer.json
  site/composer.lock
  site/public/js/userform.js
  site/tests/app/models/UserTester.php
Due: php

fixes
  site/app/templates/grading/electronic/SubmissionPanel.twig
  site/public/js/pdf/PDFInitToolbar.js
  site/public/js/ta-grading.js
Due: php

use regex to validate email again
  site/app/templates/admin/users/UserForm.twig
  site/public/js/userform.js
Due: php

[Refactor:PHP] Make NumberUtils::getRandomIndices static method (#5480)
  site/app/libraries/NumberUtils.php
  site/app/templates/notebook/Notebook.twig
  site/app/views/submission/HomeworkView.php
  site/tests/app/libraries/NumbersUtilsTester.php
Due: php

[Testing:PHP] test EmailRoomSeatingController (#5507)
  site/app/controllers/admin/EmailRoomSeatingController.php
  site/app/libraries/Core.php
  site/app/models/Config.php
  site/phpstan-baseline.neon
  site/tests/app/controllers/admin/EmailRoomSeatingControllerTester.php
Due: php

[Testing:PHP] revise DateUtilsTester (#5525)
  site/app/models/Config.php
  site/tests/app/libraries/DateUtilsTester.php
Due: php

[Bugfix:SubmittyUtils] parse_datetime handling only dates (#5526)
  python_submitty_utils/submitty_utils/dateutils.py
  python_submitty_utils/tests/test_dateutils.py
Due: python_submitty_utils

Use indent=4 for JSON output
  sbin/submitty_autograding_shipper.py
Due: none

Apply suggestions from code review
  python_submitty_utils/tests/test_string_utils.py
Due: none

[Feature:Autograding] Short-circuit non-autograde submissions (#5527)
  autograder/autograder/autograding_utils.py
  grading/main_validator.cpp
  python_submitty_utils/submitty_utils/dateutils.py
  sbin/submitty_autograding_shipper.py
Due: autograder, python_submitty_utils

[Feature:PHP] top-level /courses/ URL path (#5534)
  site/app/controllers/MiscController.php
  site/app/controllers/NavigationController.php
  site/app/controllers/NotificationController.php
  site/app/controllers/OfficeHoursQueueController.php
  site/app/controllers/admin/AdminGradeableController.php
  site/app/controllers/admin/AutogradingConfigController.php
  site/app/controllers/admin/ConfigurationController.php
  site/app/controllers/admin/EmailRoomSeatingController.php
  site/app/controllers/admin/GradeOverrideController.php
  site/app/controllers/admin/LateController.php
  site/app/controllers/admin/PlagiarismController.php
  site/app/controllers/admin/ReportController.php
  site/app/controllers/admin/UsersController.php
  site/app/controllers/admin/WrapperController.php
  site/app/controllers/course/CourseMaterialsController.php
  site/app/controllers/forum/ForumController.php
  site/app/controllers/grading/ElectronicGraderController.php
  site/app/controllers/grading/ImagesController.php
  site/app/controllers/grading/SimpleGraderController.php
  site/app/controllers/pdf/PDFController.php
  site/app/controllers/student/GradeInquiryController.php
  site/app/controllers/student/LateDaysTableController.php
  site/app/controllers/student/RainbowGradesController.php
  site/app/controllers/student/SubmissionController.php
  site/app/controllers/student/TeamController.php
  site/app/libraries/Core.php
  site/app/templates/HomePage.twig
  site/tests/app/controllers/student/SubmissionControllerTester.php
  site/tests/app/libraries/routers/AccessControlTester.php
  site/tests/app/libraries/routers/WebRouterTester.php
  tests/e2e/accessibility_baseline.json
  tests/e2e/test_accessibility.py
  tests/e2e/test_login.py
  tests/e2e/test_office_hours_queue.py
  tests/e2e/test_sidebar.py
Due: php

[Feature:Submission] file submission for notebook gradeable (#5488)
  site/app/controllers/student/SubmissionController.php
  site/app/models/gradeable/AutoGradedVersion.php
  site/app/models/notebook/Notebook.php
  site/app/templates/notebook/Notebook.twig
  site/app/templates/submission/homework/SubmitBox.twig
  site/app/views/submission/HomeworkView.php
  site/public/js/drag-and-drop.js
Due: php

fixes
  site/app/templates/autograding/PeerResults.twig
Due: php

Update site/app/controllers/grading/ElectronicGraderController.php
  site/app/controllers/grading/ElectronicGraderController.php
Due: php

Update site/app/controllers/admin/AdminGradeableController.php
  site/app/controllers/admin/AdminGradeableController.php
Due: php

install websocket library for e2e tests
  .travis.yml
Due: none

saving changes
  site/app/templates/autograding/PeerResults.twig
  site/app/templates/autograding/TAResults.twig
Due: php

Update forum controller to new course url
  site/app/controllers/forum/ForumController.php
Due: php

update basic operations test to use sockets
  tests/e2e/test_forum.py
Due: none

[Refactor:SubmittyUtils] Cleanup dateutils.write_submitty_date to be more consistent
  bin/make_generated_output.py
  python_submitty_utils/submitty_utils/dateutils.py
  python_submitty_utils/tests/test_dateutils.py
  sbin/submitty_autograding_shipper.py
  sbin/submitty_autograding_worker.py
Due: python_submitty_utils

working version of submit peer changes
  site/app/controllers/admin/AdminGradeableController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/models/gradeable/Gradeable.php
  site/app/templates/admin/admin_gradeable/AdminGradeablePeers.twig
Due: php

Linting Fix
  site/app/controllers/grading/ElectronicGraderController.php
Due: php

fixes
  site/app/templates/autograding/PeerResults.twig
  site/app/templates/autograding/TAResults.twig
Due: php

Update site/app/controllers/StatsController.php
  site/app/controllers/StatsController.php
Due: php

Update tests/e2e/test_accessibility.py
  tests/e2e/test_accessibility.py
Due: none

checkpoint
  site/app/controllers/admin/AdminGradeableController.php
  site/public/css/notebook-builder.css
  site/public/js/admin-gradeable-updates.js
  site/public/js/notebook_builder/abstract-widget.js
  site/public/js/notebook_builder/markdown-widget.js
  site/public/js/notebook_builder/notebook-builder.js
  site/public/js/notebook_builder/selector-widget.js
  site/public/js/notebook_builder/widget.js
Due: php

update merge threads test to use sockets
  tests/e2e/test_forum.py
Due: none

Changed error checking order
  site/public/js/forum.js
Due: none

Lint
  site/app/controllers/admin/AdminGradeableController.php
Due: php

Removed button disabling after error
  site/app/templates/forum/GeneratePostList.twig
  site/public/js/forum.js
Due: php

[Bugfix:TAGrading] peer grading total on index page (#5442)
  site/app/templates/grading/electronic/Details.twig
  site/app/views/grading/ElectronicGraderView.php
Due: php

[Bugfix:TAGrading] PDF annotation toolbar fix (#5540)
  site/public/js/pdf/PDFInitToolbar.js
Due: none

saving changes
  migration/migrator/migrations/course/20200514034200_annotations_file_directory.py
  site/app/controllers/pdf/PDFController.php
  site/app/templates/grading/electronic/PDFAnnotationEmbedded.twig
  site/app/views/AutoGradingView.php
  site/public/js/pdf/PDFInitToolbar.js
Due: php, migrator

final changes
  migration/migrator/migrations/course/20200514034200_annotations_file_directory.py
  site/app/controllers/pdf/PDFController.php
  site/app/templates/grading/electronic/PDFAnnotationEmbedded.twig
Due: php, migrator

migration changes
  migration/migrator/migrations/course/20200514034200_annotations_file_directory.py
  site/app/controllers/pdf/PDFController.php
Due: php, migrator

Lint Fix
  site/app/controllers/admin/UsersController.php
Due: php

Lint Fix
  site/app/controllers/grading/ElectronicGraderController.php
Due: php

Path conditions:
  php: any of: site/app, but not: tests/integrationTests
  autograder: any of: autograder/autograder, but not: tests/integrationTests
  python_submitty_utils: any of: python_submitty_utils/submitty_utils, but not: tests/integrationTests
  migrator: any of: migration/migrator, but not: tests/integrationTests
