Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

Fixed date saving issue
  site/app/models/gradeable/Gradeable.php
  site/app/templates/admin/admin_gradeable/AdminGradeableDates.twig
  site/public/js/admin-gradeable-updates.js
Due: php

Add check before running updates for due and release dates
  site/app/templates/admin/admin_gradeable/AdminGradeableDates.twig
  site/public/js/admin-gradeable-updates.js
Due: php

Update AdminGradeableCreate.twig
  site/app/templates/admin/admin_gradeable/AdminGradeableCreate.twig
Due: php

Update SQL dump
  migration/migrator/data/course_tables.sql
Due: migrator

Add additional error checking when uploading config.json files
  site/app/controllers/admin/PlagiarismController.php
Due: php

lint
  site/app/controllers/admin/PlagiarismController.php
Due: php

add table support
  site/app/libraries/Output.php
  site/public/css/markdown.css
Due: php

Suggested changes
  site/app/models/gradeable/Gradeable.php
  site/app/templates/admin/admin_gradeable/AdminGradeableDates.twig
  site/public/js/admin-gradeable-updates.js
Due: php

Fix message issue
  site/app/templates/admin/admin_gradeable/AdminGradeableDates.twig
Due: php

[Bugfix:InstructorUI] Null Date with no due/release date(#6985)
  site/app/controllers/admin/AdminGradeableController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/models/gradeable/Gradeable.php
  site/app/templates/admin/admin_gradeable/AdminGradeableDates.twig
  site/public/js/admin-gradeable-updates.js
Due: php

fix table
  site/app/controllers/OfficeHoursQueueController.php
  site/app/templates/officeHoursQueue/CurrentQueue.twig
Due: php

fix display
  site/app/templates/officeHoursQueue/CurrentQueue.twig
Due: php

Fixed each suggested changes
  site/app/templates/admin/admin_gradeable/AdminGradeableCreate.twig
Due: php

Revert "Merge branch 'master' into download-upload-lichen-config-files"
  .setup/pip/system_requirements.txt
Due: none

Fix issue
  site/app/controllers/admin/AdminGradeableController.php
  site/app/models/gradeable/Gradeable.php
Due: php

revert cosmetic changes
  site/app/templates/officeHoursQueue/CurrentQueue.twig
Due: php

Remove banner from future gradeables
  site/app/views/submission/HomeworkView.php
Due: php

indentation
  site/app/templates/officeHoursQueue/CurrentQueue.twig
Due: php

indentation pt. 2
  site/app/templates/officeHoursQueue/CurrentQueue.twig
Due: php

Add warning message
  bin/set_allowed_mins.py
Due: none

Fix python long line
  bin/set_allowed_mins.py
Due: none

Suggested changes
  site/app/controllers/admin/AdminGradeableController.php
  site/app/models/gradeable/Gradeable.php
Due: php

Fix lint
  bin/set_allowed_mins.py
Due: none

[Bugfix:Submission] Remove Future Closed Submission Banner (#7010)
  site/app/views/submission/HomeworkView.php
Due: php

[Bugfix:System] Fix Grade Inquiry Date Validation (#7009)
  site/app/controllers/admin/AdminGradeableController.php
  site/app/models/gradeable/Gradeable.php
Due: php

[Bugfix:HelpQueue] Fix contact info only saving if using regex check (#7004)
  site/app/controllers/OfficeHoursQueueController.php
Due: php

Add last run timestamp column
  migration/migrator/migrations/course/20210902151201_plagiarism_database_extras.py
Due: migrator

change breadcrumb colors for dark modes
  site/public/css/officeHoursQueue.css
Due: none

make item clickable
  site/app/templates/course/CourseMaterials.twig
Due: php

fix links on student side
  site/app/templates/course/CourseMaterials.twig
Due: php

[Feature:Autograding] Show additional docker info in UI (#6965)
  sbin/shipper_utils/docker_command_wrapper.py
  sbin/shipper_utils/get_docker_info.py
  sbin/shipper_utils/update_and_install_workers.py
  site/app/templates/admin/Docker.twig
  site/app/views/admin/DockerView.php
Due: php

Add global message
  site/app/templates/GlobalHeader.twig
  site/public/js/websocket.js
Due: php

Update message
  site/app/templates/GlobalHeader.twig
  site/app/views/GlobalView.php
Due: php

Remove message automatically and fix socket issue
  site/public/js/websocket.js
Due: none

[Bugfix:Developer] Record queries run by doctrine
  site/app/libraries/Core.php
  site/app/libraries/database/AbstractDatabase.php
  site/app/libraries/database/DatabaseUtils.php
  site/app/views/GlobalView.php
  site/tests/app/libraries/database/AbstractDatabaseTester.php
  site/tests/app/libraries/database/DatabaseUtilsTester.php
Due: php

[Bugfix:System] Remove unnecessary system socket closes (#6875)
  site/app/libraries/socket/Server.php
Due: php

change table border color
  site/public/css/markdown.css
Due: none

[Bugfix:Forum] Add Table Support for Markdown (#6998)
  site/app/libraries/Output.php
  site/public/css/markdown.css
Due: php

Path conditions:
  php: any of: site/app, but not: tests/integrationTests
  autograder: any of: autograder/autograder, but not: tests/integrationTests
  python_submitty_utils: any of: python_submitty_utils/submitty_utils, but not: tests/integrationTests
  migrator: any of: migration/migrator, but not: tests/integrationTests
