Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: true

ignore:
  - "tests/integrationTests"

coverage:
  status:
    project: false
    patch: false
    changes: false
    migrator:
      flags: migrator
      target: 100%

flags:
  php:
    paths:
      - site/app
  autograder:
    paths:
      - autograder/autograder
  python_submitty_utils:
    paths:
      - python_submitty_utils/submitty_utils
  migrator:
    paths:
      - migration/migrator

comment:
  layout: "reach, diff, flags"
  behavior: default

indentation
  Vagrantfile
Due: none

move arch check and add arm mac qemu box
  Vagrantfile
Due: none

fix syntax
  Vagrantfile
Due: none

remove port 7000 override
  Vagrantfile
Due: none

return null from `getSeekMessageByUserId` when no rows
  site/app/libraries/database/DatabaseQueries.php
Due: php

initial edit pronuns form added
  site/app/controllers/admin/UsersController.php
  site/app/templates/EditPronounsForm.twig
  site/app/templates/UserProfile.twig
  site/public/js/user-profile.js
Due: php

Cancel previous runs with `concurrency`
  .github/workflows/submitty_ci.yml
Due: none

php lint fix
  site/app/libraries/database/DatabaseQueries.php
Due: php

use empty fn
  site/app/libraries/database/DatabaseQueries.php
Due: php

change to start_with on apple silicon check
  Vagrantfile
Due: none

clean up test console messages
  autograder/submitty_autograding_shipper.py
  autograder/tests/test_submitty_autograding_shipper.py
Due: none

python linting
  autograder/submitty_autograding_shipper.py
Due: none

Use single quotes for string
  .github/workflows/submitty_ci.yml
Due: none

adjust default branch specification location
  autograder/tests/test_submitty_autograding_shipper.py
Due: none

git init --initial-branch main
  autograder/tests/test_submitty_autograding_shipper.py
Due: none

test initial-branch master
  autograder/tests/test_submitty_autograding_shipper.py
Due: none

Include event name as part of group
  .github/workflows/submitty_ci.yml
Due: none

test cancelling existing runs
  .github/workflows/submitty_ci.yml
Due: none

test: existing runs should not be cancelled if this is the designated branch
  .github/workflows/submitty_ci.yml
Due: none

Apply suggested changes
  .github/workflows/submitty_ci.yml
Due: none

test: should cancel prior runs
  .github/workflows/submitty_ci.yml
Due: none

test: should not cancel prior runs on designated branch
  .github/workflows/submitty_ci.yml
Due: none

Add commit from suggestion
  site/app/libraries/database/DatabaseQueries.php
Due: php

test: should not cancel
  .github/workflows/submitty_ci.yml
Due: none

formatting
  autograder/tests/test_submitty_autograding_shipper.py
Due: none

[Testing:Developer] Remove dependabot title fix workflow (#8912)
  .github/workflows/dependabot_title_fix.yml
Due: none

Added code to auto-open images based off the page
  site/app/templates/forum/CreatePost.twig
Due: php

Adds code to auto open attachments
  site/app/templates/forum/CreatePost.twig
Due: php

Adding argument parser
  .setup/bin/populate_office_hours_queue.py
Due: none

Grab configurations from submitty_conf.json
  .setup/bin/populate_office_hours_queue.py
Due: none

fix typos, color histograms
  Vagrantfile
  _exclude_o
  site/app/controllers/PollController.php
  site/app/libraries/PollUtils.php
  site/app/templates/polls/PollForm.twig
  site/app/templates/polls/ViewPoll.twig
Due: php

now show answer when correct, dropdown no effect
  .setup/data/polls/polls_data.json
  Vagrantfile
  migration/migrator/data/course_tables.sql
  site/app/controllers/PollController.php
  site/app/entities/poll/Poll.php
  site/app/libraries/PollUtils.php
  site/app/templates/polls/PollForm.twig
  site/app/templates/polls/ViewPoll.twig
  site/tests/app/entities/poll/PollTester.php
  site/tests/app/libraries/PollUtilsTester.php
Due: php, migrator

remove push trigger
  .github/workflows/submitty_ci.yml
Due: none

revert: add back push trigger
  .github/workflows/submitty_ci.yml
Due: none

use head ref for pr
  .github/workflows/submitty_ci.yml
Due: none

fix typo in test and add conditionals for display
  site/app/templates/polls/ViewPoll.twig
  site/tests/app/entities/poll/PollTester.php
Due: php

add function to change pronouns
  site/app/controllers/UserProfileController.php
  site/app/templates/EditPronounsForm.twig
  site/app/templates/UserProfile.twig
  site/public/js/user-profile.js
Due: php

DEV_VM var
  .setup/distro_setup/ubuntu/20.04/setup_distro.sh
  .setup/install_system.sh
Due: none
