Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: true

ignore:
  - "tests/integrationTests"

coverage:
  status:
    project: false
    patch: false
    changes: false
    migrator:
      flags: migrator
      target: 100%

flags:
  php:
    paths:
      - site/app
  autograder:
    paths:
      - autograder/autograder
  python_submitty_utils:
    paths:
      - python_submitty_utils/submitty_utils
  migrator:
    paths:
      - migration/migrator

comment:
  layout: "reach, diff, flags"
  behavior: default

Created new message for incomplete TA grade
  site/app/templates/submission/homework/CurrentVersionBox.twig
  site/app/views/submission/HomeworkView.php
Due: php

[Feature:InstructorUI] Add SQL toolbox page (#6322)
  site/app/controllers/GlobalController.php
  site/app/controllers/admin/SqlToolboxController.php
  site/app/libraries/Core.php
  site/app/libraries/database/AbstractDatabase.php
  site/app/libraries/database/QueryIdentifier.php
  site/app/templates/admin/SqlToolbox.twig
  site/app/views/admin/SqlToolboxView.php
  site/public/css/server.css
  site/public/css/sql-toolbox.css
  site/public/js/sql-toolbox.js
  site/tests/BaseUnitTest.php
  site/tests/app/controllers/admin/SqlToolboxControllerTester.php
  site/tests/app/libraries/database/QueryIdentifierTester.php
  tests/e2e/test_accessibility.py
  tests/e2e/test_sidebar.py
Due: php

switch panel to also use popup
  site/app/templates/grading/electronic/PanelSelectorModal.twig
Due: php

Refactor HTML code, extracting method that generate the calendar item
  site/public/js/calendar.js
Due: none

[Bugfix:HelpQueue] Fix JS error on opening page as student
  site/app/templates/officeHoursQueue/QueueFooter.twig
Due: php

[Feature:TAGrading] Notebook filesubmission rendering (#6318)
  site/app/templates/grading/SettingsForm.twig
  site/app/templates/grading/electronic/FileView.twig
  site/app/templates/grading/electronic/NotebookPanel.twig
  site/app/templates/grading/electronic/SubmissionPanel.twig
  site/app/templates/notebook/Notebook.twig
  site/app/views/grading/ElectronicGraderView.php
  site/app/views/submission/HomeworkView.php
  site/public/css/electronic.css
  site/public/css/server.css
  site/public/js/server.js
  site/public/js/ta-grading-keymap.js
  site/public/js/ta-grading.js
  site/public/templates/grading/settings/GeneralSettingList.twig
  site/public/templates/grading/settings/HotkeyList.twig
Due: php

[Bugfix:HelpQueue] Fix JS error on opening page as student (#6350)
  site/app/templates/officeHoursQueue/QueueFooter.twig
Due: php

Simple fix for #6352
  .github/workflows/submitty_ci.yml
Due: none

Apply same fix for python-unit and python-lint
  .github/workflows/submitty_ci.yml
Due: none

Timer
  migration/migrator/data/course_tables.sql
  migration/migrator/migrations/course/20210320080101_add_pause_timer.py
  site/app/libraries/database/DatabaseQueries.php
  site/app/models/OfficeHoursQueueModel.php
  site/app/templates/officeHoursQueue/CurrentQueue.twig
  site/app/templates/officeHoursQueue/QueueFooter.twig
  site/app/templates/officeHoursQueue/QueueStatus.twig
Due: php, migrator

Fix key collision in a single workflow
  .github/workflows/submitty_ci.yml
Due: none

Update restore-keys
  .github/workflows/submitty_ci.yml
Due: none

Restructuring bit of code
  site/app/templates/officeHoursQueue/QueueStatus.twig
Due: php

if statement rewrite
  site/app/libraries/database/DatabaseQueries.php
Due: php

PHP Linting Fixes
  site/app/libraries/database/DatabaseQueries.php
  site/app/models/OfficeHoursQueueModel.php
Due: php

Refactor getCourses() and getCourseForUserId() query to have the check whether the student dropped the course performed in the query
  site/app/controllers/HomePageController.php
  site/app/libraries/database/DatabaseQueries.php
Due: php

Added check for setting queue pause state
  site/app/libraries/database/DatabaseQueries.php
Due: php

Fixed PHP linting error due to comments
  site/app/libraries/database/DatabaseQueries.php
Due: php

Restructured code
  site/app/libraries/database/DatabaseQueries.php
  site/app/models/OfficeHoursQueueModel.php
  site/app/templates/officeHoursQueue/CurrentQueue.twig
  site/app/templates/officeHoursQueue/QueueStatus.twig
Due: php

Changes addressed in PR
  site/app/controllers/HomePageController.php
  site/app/libraries/database/DatabaseQueries.php
Due: php

Change panel horizontal width, fix button
  site/public/css/electronic.css
  site/public/js/panel-selector-modal.js
Due: none

Update DatabaseQueries.php
  site/app/libraries/database/DatabaseQueries.php
Due: php

[Bugfix:Submission] Fix Dropped courses showed on calendar (#6358)
  site/app/controllers/HomePageController.php
  site/app/libraries/database/DatabaseQueries.php
Due: php

Added Filter Functionality
  site/app/templates/admin/users/StudentActivityDashboard.twig
  site/app/templates/admin/users/Submitty.code-workspace
  site/app/views/admin/StudentActivityDashboardView.php
  site/public/css/activity-dashboard.css
  site/public/js/activity-dashboard.js
Due: php

[Bugfix:InstructorUI] Show message for empty results
  site/public/js/sql-toolbox.js
Due: none

[Bugfix:InstructorUI] Show message for empty results (#6375)
  site/public/js/sql-toolbox.js
Due: none

[Dependency] Remove unused doctrine/cache dependency
  site/composer.json
  site/composer.lock
Due: none

Reserve back to use file hashing for e2e testing
  .github/workflows/submitty_ci.yml
Due: none

[Bugfix:Submission] let backend perform date formatting to fix the incorrect due time shown in the tooltip
  site/app/models/CalendarInfo.php
  site/app/templates/calendar/Calendar.twig
  site/public/js/calendar.js
Due: php

eslint
  site/cypress/integration/api/auth.spec.js
Due: none

Requested changes, bug fixes, and optimization.
  site/app/libraries/DateUtils.php
  site/app/models/OfficeHoursQueueModel.php
  site/app/templates/officeHoursQueue/CurrentQueue.twig
  site/app/templates/officeHoursQueue/QueueFooter.twig
  site/app/templates/officeHoursQueue/QueueStatus.twig
  site/tests/app/libraries/DateUtilsTester.php
Due: php

[Bugfix:Submission] Incorrect due date shown in tooltip (#6382)
  site/app/models/CalendarInfo.php
  site/app/templates/calendar/Calendar.twig
  site/public/js/calendar.js
Due: php

[Dependency] Remove unused doctrine/cache dependency (#6376)
  site/composer.json
  site/composer.lock
Due: none

requested changes
  site/cypress/integration/api/auth.spec.js
  site/cypress/support/utils.js
Due: none

add comments to util functions
  site/cypress/support/utils.js
Due: none

Resize images for openFrame (file viewer) to fit parent width
  site/public/js/server.js
Due: none

[Bugfix:Submission] Sync calendar with actual submission status
  site/app/controllers/calendar/CalendarController.php
  site/app/models/CalendarInfo.php
  site/app/models/gradeable/GradeableList.php
  site/app/models/gradeable/GradeableUtils.php
  site/app/views/NavigationView.php
  site/public/css/calendar.css
  site/public/js/calendar.js
Due: php

[Bugfix:Submission] Sync calendar with actual submission status
  site/app/models/CalendarInfo.php
  site/app/models/gradeable/GradeableUtils.php
Due: php

[Bugfix:Submission] Typo fix
  site/app/models/gradeable/GradeableList.php
Due: php
