Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: true

ignore:
  - "tests/integrationTests"

coverage:
  status:
    project: false
    patch: false
    changes: false
    migrator:
      flags: migrator
      target: 100%

flags:
  php:
    paths:
      - site/app
  autograder:
    paths:
      - autograder/autograder
  python_submitty_utils:
    paths:
      - python_submitty_utils/submitty_utils
  migrator:
    paths:
      - migration/migrator

comment:
  layout: "reach, diff, flags"
  behavior: default

[Feature:TAGrading] notebook scroll position (#6022)
  site/app/models/notebook/UserSpecificNotebook.php
  site/app/templates/notebook/Notebook.twig
  site/public/js/ta-grading-v2.js
Due: php

[Feature:InstructorUI] Restrict course materials by user (#6015)
  site/app/controllers/MiscController.php
  site/app/models/CourseMaterial.php
  site/app/templates/course/CourseMaterials.twig
  site/app/views/course/CourseMaterialsView.php
Due: php

[Feature:InstructorUI] polls use GET instead of POST (#5930)
  site/app/controllers/PollController.php
  site/app/templates/polls/AllPollsPageInstructor.twig
  site/app/templates/polls/AllPollsPageStudent.twig
Due: php

frog robot fixes
  site/app/controllers/grading/ElectronicGraderController.php
  site/app/models/gradeable/AutoGradedVersion.php
  site/app/views/submission/HomeworkView.php
Due: php

undoing comments
  site/app/models/gradeable/AutoGradedVersion.php
Due: php

update rainbow grades
  .setup/bin/versions.sh
Due: none

[Feature:RainbowGrades] support rotating sections (#6035)
  .setup/bin/versions.sh
Due: none

pylint and other fixes
  site/app/controllers/grading/ElectronicGraderController.php
  site/app/models/gradeable/AutoGradedVersion.php
  site/app/views/submission/HomeworkView.php
Due: php

Fixed issue where TA grading progress bar could be incorrect due to TAs grading a submission that was later cancelled
  site/app/libraries/database/DatabaseQueries.php
Due: php

grade override for full averages
  site/app/controllers/grading/ElectronicGraderController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/templates/grading/electronic/Status.twig
  site/app/views/grading/ElectronicGraderView.php
Due: php

[Bugfix:TAGrading] Student Ids exposed during peer grading (#6019)
  site/app/controllers/grading/ElectronicGraderController.php
  site/app/templates/autograding/PeerResults.twig
  site/app/views/AutoGradingView.php
Due: php

[Refactor:TAGrading] Helper function Randomized Peer (#5853)
  site/app/controllers/grading/ElectronicGraderController.php
Due: php

pylint fix
  site/app/controllers/grading/ElectronicGraderController.php
  site/app/views/submission/HomeworkView.php
Due: php

[Bugfix:TAGrading] Fix CodeMirror bugs (#6038)
  site/app/templates/notebook/Notebook.twig
  site/public/js/ta-grading-v2.js
Due: php

used extract() on pptx instead of extractall()
  autograder/autograder/autograding_utils.py
Due: autograder

[Bugfix:TAGrading] handle null autograding (#6034)
  site/app/controllers/grading/ElectronicGraderController.php
  site/app/models/gradeable/AutoGradedVersion.php
  site/app/views/submission/HomeworkView.php
Due: php

Keep formatting consistent
  autograder/autograder/autograding_utils.py
  autograder/autograder/config.py
  autograder/submitty_autograding_shipper.py
  autograder/submitty_autograding_worker.py
Due: autograder

Write message to log when worker dies
  autograder/submitty_autograding_worker.py
Due: none

is_alive is a method
  autograder/submitty_autograding_worker.py
Due: none

Flake
  autograder/submitty_autograding_worker.py
Due: none

Fix version changes on TA grading page
  site/app/controllers/grading/ElectronicGraderController.php
Due: php

Fixed total_who_submitted by counting user submissions instead of all submission
  site/app/controllers/grading/ElectronicGraderController.php
Due: php

[Bugfix:TAGrading] grader changes active version (#6045)
  site/app/controllers/grading/ElectronicGraderController.php
Due: php

updated function names to match new termanology
  site/app/controllers/forum/ForumController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/models/forum/Forum.php
  site/app/templates/forum/CreatePost.twig
  site/public/js/forum.js
Due: php

adding check
  site/app/controllers/MiscController.php
Due: php

removing uneeded code
  site/app/controllers/MiscController.php
Due: php

Allow the late day controller to delete late days with arbitrary precision
  site/app/controllers/admin/LateController.php
  site/public/js/latedays.js
Due: php

quick fix
  site/app/controllers/AbstractController.php
Due: php

check
  site/app/controllers/AbstractController.php
Due: php

add responses column and change column spacing
  site/app/templates/polls/AllPollsPageInstructor.twig
Due: php

indent changes
  site/app/templates/polls/AllPollsPageInstructor.twig
Due: php

[Bugfix:TAGrading] exclude files from peer download zip (#6052)
  site/app/controllers/MiscController.php
Due: php

[Bugfix:TAGrading] null vs empty string (#6055)
  site/app/controllers/AbstractController.php
Due: php

Correct baseline to not reference deleted file.
  site/phpstan-baseline.neon
Due: none

changing to trash and pencil icons
  site/app/controllers/PollController.php
  site/app/templates/polls/AllPollsPageInstructor.twig
  site/app/templates/polls/PollPageStudent.twig
  site/public/css/polls.css
Due: php

Slow down monitoring frequency to once a minute
  autograder/submitty_autograding_worker.py
Due: none

Add logger tests
  autograder/tests/test_logger.py
Due: none

*sigh*...
  autograder/autograder/autograding_utils.py
Due: autograder

Whoops 2
  autograder/tests/test_logger.py
Due: none
