Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: true

ignore:
  - "tests/integrationTests"

coverage:
  status:
    project: false
    patch: false
    changes: false
    migrator:
      flags: migrator
      target: 100%

flags:
  php:
    paths:
      - site/app
  autograder:
    paths:
      - autograder/autograder
  python_submitty_utils:
    paths:
      - python_submitty_utils/submitty_utils
  migrator:
    paths:
      - migration/migrator

comment:
  layout: "reach, diff, flags"
  behavior: default

testing change
  .github/workflows/submitty_ci.yml
Due: none

name changes and version change
  .github/workflows/submitty_ci.yml
Due: none

additional
  autograder/autograder/packer_unpacker.py
Due: autograder

Update packer_unpacker.py
  autograder/autograder/packer_unpacker.py
Due: autograder

Add back in some missing tables
  migration/migrator/migrations/master/20230605230211_add_display_name_order_column.py
Due: migrator

fixed student_info_panel test
  site/cypress/e2e/grading_interface/student_info_panel.spec.js
Due: none

Allows hidden folders to be hidden for students
  site/app/templates/course/CourseMaterials.twig
  site/app/views/course/CourseMaterialsView.php
Due: php

Fixed files_panel cypress test
  site/cypress/e2e/grading_interface/files_panel.spec.js
Due: none

Add function comments
  site/app/views/course/CourseMaterialsView.php
Due: php

I think these are the necessary changes for the query-string
  sbin/shipper_utils/get_docker_info.py
  sbin/shipper_utils/update_and_install_workers.py
Due: none

Finishing up the logs printing and adding logs to get_docerk_info
  sbin/shipper_utils/get_docker_info.py
  sbin/shipper_utils/update_and_install_workers.py
Due: none

Revert "Basic structure for alpha"
  site/public/js/forum.js
Due: none

Fix style issues
  site/app/views/course/CourseMaterialsView.php
Due: php

Made changes for One single post
  site/app/libraries/database/DatabaseQueries.php
  site/app/views/submission/HomeworkView.php
Due: php

fix style issue
  site/app/views/course/CourseMaterialsView.php
Due: php

Removed unnecessary lines and fixed bug
  site/app/views/submission/HomeworkView.php
Due: php

adjust UI
  site/app/templates/admin/admin_gradeable/AdminGradeableCreate.twig
  site/app/templates/submission/homework/SubmitBox.twig
  site/app/views/submission/HomeworkView.php
Due: php

naming fix
  .github/workflows/submitty_ci.yml
Due: none

version updates
  .github/workflows/submitty_ci.yml
Due: none

missed and incorrect version changes
  .github/workflows/submitty_ci.yml
Due: none

php lint debug
  site/app/libraries/database/DatabaseQueries.php
  site/app/views/submission/HomeworkView.php
Due: php

more debugging for php-lint
  site/app/views/submission/HomeworkView.php
Due: php

remove team for now
  site/app/views/submission/HomeworkView.php
Due: php

bugfix
  migration/migrator/migrations/master/20220811134614_user_session_management.py
Due: migrator

bug fix 2
  migration/migrator/data/submitty_db.sql
Due: migrator

Update submitty_db.sql
  migration/migrator/data/submitty_db.sql
Due: migrator

[Bugfix:Autograding] backwards compatible vcs subdirectory (#9400)
  autograder/autograder/packer_unpacker.py
Due: autograder

May have fixed gradeable test
  site/cypress/e2e/gradeables/gradeable.spec.js
Due: none

Update course_tables.sql
  migration/migrator/data/course_tables.sql
Due: migrator

Fixed gradeable cypress test
  site/cypress/e2e/gradeables/gradeable.spec.js
Due: none

Hide button only affects same folder
  site/app/controllers/course/CourseMaterialsController.php
Due: php

Fix style issues
  site/app/controllers/course/CourseMaterialsController.php
Due: php

[Testing:Developer] Split E2E Tests using Composite Action (#9105)
  .github/actions/e2e-Setup-Composite/action.yml
  .github/workflows/submitty_ci.yml
Due: none

[Bugfix:CourseMaterials] Fixes Folders don't close properly (#8991)
  site/app/templates/course/CourseMaterials.twig
  site/public/js/server.js
Due: php

Replace != with !==
  site/app/controllers/course/CourseMaterialsController.php
Due: php

Replace == with ===
  site/app/controllers/course/CourseMaterialsController.php
Due: php

Make yesterday and today dates work
  site/app/templates/forum/ThreadPostForm.twig
Due: php

lint
  site/cypress/e2e/gradeables/gradeable.spec.js
Due: none

Revert "Make yesterday and today dates work"
  site/app/templates/forum/ThreadPostForm.twig
Due: php
