Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: true

ignore:
  - "tests/integrationTests"

coverage:
  status:
    project: false
    patch: false
    changes: false
    migrator:
      flags: migrator
      target: 100%

flags:
  php:
    paths:
      - site/app
  autograder:
    paths:
      - autograder/autograder
  python_submitty_utils:
    paths:
      - python_submitty_utils/submitty_utils
  migrator:
    paths:
      - migration/migrator

comment:
  layout: "reach, diff, flags"
  behavior: default

[Testing:Developer] Syntax check php files in CI (#6724)
  .github/workflows/submitty_ci.yml
Due: none

fix ForumThreadView.php
  site/app/views/forum/ForumThreadView.php
Due: php

add debug to CI
  tests/e2e/test_forum.py
Due: none

fix crashes
  site/app/templates/forum/GeneratePostList.twig
  site/app/views/forum/ForumThreadView.php
Due: php

[Feature:Developer] Enable strict variables for twig (#6713)
  site/app/controllers/admin/PlagiarismController.php
  site/app/controllers/grading/ElectronicGraderController.php
  site/app/libraries/Output.php
  site/app/templates/GlobalFooter.twig
  site/app/templates/GlobalHeader.twig
  site/app/templates/LateDaysTablePlugin.twig
  site/app/templates/Navigation.twig
  site/app/templates/admin/Extensions.twig
  site/app/templates/admin/UploadWrapperForm.twig
  site/app/templates/admin/admin_gradeable/AdminGradeableBase.twig
  site/app/templates/admin/admin_gradeable/AdminGradeableCreate.twig
  site/app/templates/admin/users/MoreExtensions.twig
  site/app/templates/admin/users/StudentList.twig
  site/app/templates/course/CourseMaterials.twig
  site/app/templates/course/UploadCourseMaterialsForm.twig
  site/app/templates/forum/EditPostForm.twig
  site/app/templates/forum/ForumBar.twig
  site/app/templates/forum/GeneratePostList.twig
  site/app/templates/forum/ShowCategories.twig
  site/app/templates/forum/ShowForumThreads.twig
  site/app/templates/forum/StatPage.twig
  site/app/templates/forum/ThreadPostForm.twig
  site/app/templates/forum/displayThreadList.twig
  site/app/templates/grading/electronic/Details.twig
  site/app/templates/grading/electronic/ta_status/StatusData.twig
  site/app/templates/grading/simple/Display.twig
  site/app/templates/misc/Markdown.twig
  site/app/templates/misc/MarkdownArea.twig
  site/app/templates/officeHoursQueue/QueueAnnouncement.twig
  site/app/templates/plagiarism/PlagiarismConfigurationForm.twig
  site/app/templates/polls/NewPollPage.twig
  site/app/templates/submission/homework/AutogradingResultsBox.twig
  site/app/templates/submission/homework/CurrentVersionResults.twig
  site/app/views/PollView.php
  site/app/views/admin/UsersView.php
  site/app/views/forum/ForumThreadView.php
  site/app/views/grading/ElectronicGraderView.php
  site/app/views/submission/HomeworkView.php
  tests/e2e/test_forum.py
Due: php

[Bugfix:TAGrading] Fix increment/decrement for custom mark (#6717)
  site/public/css/electronic.css
  site/public/templates/grading/GradingComponent.twig
Due: none

Fix HTML validation issue and migration issue
  migration/migrator/migrations/course/20210610100802_course_materials_json_to_db.py
  site/app/templates/course/EditCourseMaterialsFolderForm.twig
Due: php, migrator

Suggested change and fix non-team gradeables
  site/app/controllers/grading/ElectronicGraderController.php
  site/app/views/submission/HomeworkView.php
Due: php

last param error
  site/app/views/submission/HomeworkView.php
Due: php

Check for null case
  site/app/models/gradeable/Gradeable.php
Due: php

Update site/package.json
  site/package.json
Due: none

cssl lint
  site/public/css/code-mirror-utils.css
Due: none

fixed casing of variables, fixed bug in email status model.
  site/app/controllers/EmailStatusController.php
  site/app/controllers/superuser/SuperuserEmailController.php
  site/app/libraries/NotificationFactory.php
  site/app/models/EmailStatusModel.php
  site/app/models/SuperuserEmail.php
  site/public/js/superuser-email.js
Due: php

twig error fixes
  site/app/templates/autograding/AutoChecks.twig
  site/app/templates/grading/electronic/GradingPanelHeader.twig
  site/app/templates/grading/electronic/PDFAnnotationEmbedded.twig
  site/app/templates/grading/electronic/RubricPanel.twig
  site/app/templates/grading/electronic/SubmissionPanel.twig
  site/app/templates/submission/regrade/Discussion.twig
  site/app/views/grading/ElectronicGraderView.php
Due: php

fix auto checks
  site/app/templates/autograding/AutoChecks.twig
Due: php

[UI/UX:TAGrading] Fix spacing on Grading Panels Team List (#6619)
  site/app/templates/grading/electronic/AutogradingPanel.twig
  site/app/templates/grading/electronic/Details.twig
  site/app/templates/grading/electronic/ErrorMessage.twig
  site/app/templates/grading/electronic/GradingPanelHeader.twig
  site/app/templates/grading/electronic/NavigationBar.twig
  site/app/views/grading/ElectronicGraderView.php
  site/public/css/bootstrap.css
  site/public/css/details.css
  site/public/css/electronic.css
Due: php

fix twig error and condense
  site/app/models/notebook/Notebook.php
  site/app/templates/notebook/Notebook.twig
  site/app/templates/submission/homework/SubmitBox.twig
Due: php

fix notebook
  site/app/templates/notebook/Notebook.twig
Due: php

remove unnecessary markdown_area_query from Markdown.twig
  site/app/templates/forum/ThreadPostForm.twig
  site/app/templates/misc/MarkdownArea.twig
  site/app/templates/officeHoursQueue/QueueAnnouncement.twig
  site/app/templates/polls/NewPollPage.twig
  site/public/templates/misc/MarkdownArea.twig
Due: php

fix upload config form
  site/app/templates/admin/UploadConfigForm.twig
Due: php

grade inquiry bug
  site/app/templates/submission/regrade/Discussion.twig
Due: php

Update AutoChecks.twig
  site/app/templates/autograding/AutoChecks.twig
Due: php

attempt to resolve ignored error
  .flake8
  sbin/submitty_daemon_jobs/submitty_jobs/jobs.py
Due: none

Update code and tests to match
  migration/migrator/data/course_tables.sql
  migration/migrator/migrations/course/20210610100802_course_materials_json_to_db.py
  site/app/controllers/course/CourseMaterialsController.php
  site/app/views/course/CourseMaterialsView.php
  site/cypress/integration/courseMaterials.spec.js
Due: php, migrator

Fix PHP unit tests
  site/app/controllers/course/CourseMaterialsController.php
  site/tests/app/controllers/course/CourseMaterialsControllerTester.php
Due: php

fix peer grading and submitty page showing on overall comment
  site/app/templates/grading/electronic/EditPeerComponentsForm.twig
  site/public/templates/misc/AccessibilityMessage.twig
  site/public/templates/misc/MarkdownArea.twig
Due: php

fixed bugs
  site/app/controllers/grading/ElectronicGraderController.php
  site/public/js/ta-grading-rubric.js
  site/public/templates/grading/TotalScoreBox.twig
Due: php

indentation
  site/app/controllers/grading/ElectronicGraderController.php
Due: php

Add team name to no submission box as well
  site/app/templates/submission/homework/NoSubmissionBox.twig
Due: php

Fix timezone issue
  site/app/controllers/course/CourseMaterialsController.php
Due: php

wip on trying to list the image by machines
  site/app/views/admin/DockerView.php
Due: php

Remove authorized by allow list from twig
  site/app/templates/course/CourseMaterials.twig
Due: php

tweak messages
  site/app/templates/superuser/Email.twig
Due: php

Some suggested changes
  bin/set_allowed_mins.py
Due: none

Add more medium test cases
  .setup/data/courses/plagiarism.yml
Due: none

fix teams
  site/app/templates/grading/electronic/Details.twig
Due: php

Timezone test
  site/app/controllers/course/CourseMaterialsController.php
Due: php

fix initial values
  site/public/js/pdf/PDFInitToolbar.js
Due: none

peer fixes
  site/app/templates/grading/electronic/ta_status/StatusBase.twig
  site/app/views/grading/ElectronicGraderView.php
Due: php

details lock date fix
  site/app/templates/grading/electronic/Details.twig
Due: php
