Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: true

ignore:
  - "tests/integrationTests"

coverage:
  status:
    project: false
    patch: false
    changes: false
    migrator:
      flags: migrator
      target: 100%

flags:
  php:
    paths:
      - site/app
  autograder:
    paths:
      - autograder/autograder
  python_submitty_utils:
    paths:
      - python_submitty_utils/submitty_utils
  migrator:
    paths:
      - migration/migrator

comment:
  layout: "reach, diff, flags"
  behavior: default

store socket clients per course
  site/app/libraries/socket/Server.php
  site/public/js/websocket.js
Due: php

ignore static analysis error messages to Ratchet
  site/phpstan-baseline.neon
  site/phpstan.neon
Due: none

fix edit first post
  site/app/libraries/database/DatabaseQueries.php
  site/app/views/forum/ForumThreadView.php
  site/public/js/forum.js
Due: php

add notification badge on course material nav-link
  migration/migrator/data/course_tables.sql
  migration/migrator/migrations/course/20200408021149_course_material_notification_info.py
  site/app/controllers/GlobalController.php
  site/app/controllers/course/CourseMaterialsController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/templates/course/CourseMaterials.twig
  site/public/js/server.js
Due: php, migrator

adding better migration scripts
  migration/migrator/data/course_tables.sql
  migration/migrator/migrations/course/20200408021149_course_material_notification_info.py
Due: migrator

revert back obselete server_time function
  site/app/templates/course/CourseMaterials.twig
  site/public/js/server.js
Due: php

fix tests
  site/tests/app/controllers/course/CourseMaterialsControllerTester.php
Due: none

fix disallowed array syntax
  site/app/libraries/database/DatabaseQueries.php
Due: php

update test forum to new server socket configuration
  tests/e2e/test_forum.py
Due: none

tweak dimensions
  site/app/controllers/GlobalController.php
  site/app/templates/GlobalHeader.twig
  site/public/css/global.css
Due: php

resize padding on halloween
  site/public/img/moorthy_halloween.png
Due: none

place ducks in subdirectory
  site/app/controllers/GlobalController.php
  site/app/templates/GlobalHeader.twig
  site/public/img/moorthy_duck/00-original.svg
  site/public/img/moorthy_duck/01-january.svg
  site/public/img/moorthy_duck/02-february.svg
  site/public/img/moorthy_duck/03-march.svg
  site/public/img/moorthy_duck/04-april.svg
  site/public/img/moorthy_duck/05-may.svg
  site/public/img/moorthy_duck/06-june.svg
  site/public/img/moorthy_duck/07-july.svg
  site/public/img/moorthy_duck/halloween.png
Due: php

changes
  site/app/libraries/database/DatabaseQueries.php
  site/app/templates/grading/electronic/PeerPanel.twig
  site/app/views/grading/ElectronicGraderView.php
  site/public/templates/grading/PeerComponentHeader.twig
Due: php

swap datetime function
  site/app/controllers/GlobalController.php
  site/app/templates/GlobalHeader.twig
Due: php

swap datetime function
  site/app/templates/GlobalHeader.twig
Due: php

update dates
  site/app/controllers/GlobalController.php
Due: php

spacing/indentation
  site/app/templates/GlobalHeader.twig
Due: php

[Testing:Autograding] JSON schema for networked assignments (#5607)
  .setup/bin/versions.sh
  bin/json_schemas/complete_config_schema.json
  python_submitty_utils/tests/data/complete_configs/tutorial_16_docker_network_python.json
  python_submitty_utils/tests/test_submitty_schema_validator.py
  tests/integrationTests/tests/tutorial_16_docker_network_python/__init__.py
Due: none

[Feature:Submission] Rework gradeable access log
  autograder/autograder/autograding_utils.py
  autograder/autograder/execution_environments/secure_execution_environment.py
  autograder/autograder/packer_unpacker.py
  migration/migrator/migrations/course/20200704004101_gradeable_access.py
  more_autograding_examples/notebook_time_limit/config/config.json
  more_autograding_examples/notebook_time_limit/config/custom_validation_code/timelimit.py
  python_submitty_utils/submitty_utils/dateutils.py
  sbin/submitty_autograding_shipper.py
  site/app/controllers/student/SubmissionController.php
  site/app/libraries/database/DatabaseQueries.php
Due: php, autograder, python_submitty_utils, migrator

mess with layout
  site/app/templates/GlobalHeader.twig
  site/public/css/global.css
Due: php

prevent overlap
  site/public/css/global.css
Due: none

[Feature:Submission] OCR for student ID for bulk pdf upload (#4265)
  .setup/data/users/aphacker.yml
  .setup/data/users/bitdiddle.yml
  .setup/data/users/browna.yml
  .setup/data/users/grader.yml
  .setup/data/users/grader2.yml
  .setup/data/users/instructor.yml
  .setup/data/users/joness.yml
  .setup/data/users/manne.yml
  .setup/data/users/pearsr.yml
  .setup/data/users/smithj.yml
  .setup/data/users/student.yml
  .setup/data/users/submitty-admin.yml
  .setup/data/users/superuser.yml
  .setup/data/users/ta.yml
  .setup/data/users/ta2.yml
  .setup/data/users/ta3.yml
  .setup/install_system.sh
  migration/migrator/migrations/system/20190802054804_OCR_dependencies.py
  sbin/submitty_daemon_jobs/submitty_jobs/bulk_qr_split.py
  sbin/submitty_daemon_jobs/submitty_jobs/jobs.py
  sbin/submitty_daemon_jobs/submitty_jobs/onnx_models/README.md
  sbin/submitty_daemon_jobs/submitty_jobs/onnx_models/mnist.onnx
  sbin/submitty_daemon_jobs/submitty_jobs/submitty_ocr.py
  site/app/controllers/student/SubmissionController.php
  site/app/libraries/Utils.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/templates/submission/homework/BulkUploadBox.twig
  site/app/templates/submission/homework/SubmitBox.twig
  site/app/views/submission/HomeworkView.php
  site/phpstan-baseline.neon
  site/public/js/drag-and-drop.js
Due: php, migrator

[Feature:InstructorUI] Classroom Polling (#5227)
  migration/migrator/data/course_tables.sql
  migration/migrator/migrations/course/20191010120300_add_office_hours_queue.py
  migration/migrator/migrations/course/20200313132041_AddPollTable.py
  site/app/controllers/GlobalController.php
  site/app/controllers/PollController.php
  site/app/controllers/admin/ConfigurationController.php
  site/app/controllers/admin/ReportController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/models/Config.php
  site/app/models/PollModel.php
  site/app/templates/admin/Configuration.twig
  site/app/templates/polls/AllPollsPageInstructor.twig
  site/app/templates/polls/AllPollsPageStudent.twig
  site/app/templates/polls/NewPollPage.twig
  site/app/templates/polls/PollPageStudent.twig
  site/app/templates/polls/ViewPollResults.twig
  site/app/views/PollView.php
  site/config/course_template.json
  site/public/css/polls.css
  site/public/css/sidebar.css
  site/public/js/configuration.js
  site/public/js/polls-dropdown.js
  site/tests/app/controllers/admin/ConfigurationControllerTester.php
  site/tests/app/models/ConfigTester.php
  tests/e2e/accessibility_baseline.json
  tests/e2e/test_accessibility.py
Due: php, migrator

[Feature:InstructorUI] URLs as course materials (#5386)
  site/app/controllers/course/CourseMaterialsController.php
  site/app/templates/course/CourseMaterials.twig
  site/app/templates/course/UploadCourseMaterialsForm.twig
  site/app/views/course/CourseMaterialsView.php
  site/public/js/drag-and-drop.js
  site/tests/app/controllers/course/CourseMaterialsControllerTester.php
Due: php

[Feature:TAGrading] Randomized peer grading matrix (#5425)
  site/app/controllers/admin/UsersController.php
  site/app/controllers/grading/ElectronicGraderController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/models/gradeable/Gradeable.php
  site/app/templates/admin/admin_gradeable/AdminGradeablePeers.twig
  site/phpstan-baseline.neon
  site/public/css/server.css
  site/public/js/admin-gradeable-updates.js
Due: php

[Feature:UI/UX] seasonal ducks svg (#5617)
  site/app/controllers/GlobalController.php
  site/app/templates/GlobalHeader.twig
  site/public/css/global.css
  site/public/img/moorthy_duck/00-original.svg
  site/public/img/moorthy_duck/01-january.svg
  site/public/img/moorthy_duck/02-february.svg
  site/public/img/moorthy_duck/03-march.svg
  site/public/img/moorthy_duck/04-april.svg
  site/public/img/moorthy_duck/05-may.svg
  site/public/img/moorthy_duck/06-june.svg
  site/public/img/moorthy_duck/07-july.svg
  site/public/img/moorthy_duck/halloween.png
  site/public/img/moorthy_halloween.png
Due: php

Conflict Resolve Mistake Fix
  site/app/templates/admin/admin_gradeable/AdminGradeablePeers.twig
Due: php

Correct implementation of Peer Grading Percentage on Pee View
  site/app/controllers/grading/ElectronicGraderController.php
  site/app/templates/grading/electronic/Status.twig
Due: php

Lint Fix
  site/app/controllers/grading/ElectronicGraderController.php
Due: php

Percentage fix : Update on Previous Work (#5624)
  site/app/controllers/grading/ElectronicGraderController.php
  site/app/templates/grading/electronic/Status.twig
Due: php

fix missing CGI directory/permission
  migration/migrator/migrations/course/20200529001923_cgi_tmp_folder.py
  site/cgi-bin/xlsx_to_csv.cgi
Due: migrator

add formatting suggestion in errored columns
  site/app/controllers/admin/UsersController.php
Due: php

add proper error message when uploading users
  site/app/controllers/admin/UsersController.php
Due: php

small changes in comments
  site/app/controllers/admin/UsersController.php
  site/app/templates/admin/users/GraderListForm.twig
Due: php

fix dissallowed array syntax
  site/app/controllers/admin/UsersController.php
Due: php

linting - 1
  site/app/controllers/admin/UsersController.php
Due: php

using subprocess instead of os.system
  migration/migrator/migrations/course/20200529001923_cgi_tmp_folder.py
  site/app/controllers/admin/UsersController.php
  site/cgi-bin/xlsx_to_csv.cgi
Due: php, migrator

fix e2e test 2
  tests/e2e/test_submission.py
Due: none

changes in span ids
  site/app/templates/submission/homework/CurrentVersionResults.twig
Due: php
