Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

Code cleanup
  site/app/controllers/MiscController.php
  site/app/controllers/course/CourseMaterialsController.php
  site/app/libraries/Access.php
  site/tests/app/libraries/AccessTester.php
Due: php

Improve clarity of late days & expceptions on TA Grading student information panel #8518
  site/public/css/electronic.css
Due: none

[SECURITY][Bugfix:System] Fix directory bug in resolveDirPath (#8756)
  site/app/controllers/MiscController.php
  site/app/controllers/course/CourseMaterialsController.php
  site/app/libraries/Access.php
  site/tests/app/libraries/AccessTester.php
Due: php

[Bugfix:System] Handle array while formatting query (#8684)
  site/app/libraries/database/DatabaseUtils.php
Due: php

Remove incorrect addition of column to master
  migration/migrator/data/submitty_db.sql
Due: migrator

partial fixes
  site/.performance_warning_ignore.json
  site/app/controllers/PollController.php
Due: php

Add column to databases for display name format
  migration/migrator/data/course_tables.sql
  migration/migrator/data/submitty_db.sql
  migration/migrator/migrations/course/20221212230211_add_display_name_order_column.py
  migration/migrator/migrations/master/20221212230211_add_display_name_order_column.py
Due: migrator

Add type hint for phpstan
  site/app/views/grading/ElectronicGraderView.php
Due: php

Update install_site.sh
  .setup/install_submitty/install_site.sh
Due: none

Update CodeMirrorUtils.php
  site/app/libraries/CodeMirrorUtils.php
Due: php

Remove .. checks
  site/app/controllers/pdf/PDFController.php
Due: php

Folder creation
  .setup/install_submitty/install_site.sh
Due: none

update_utm
  README_utm_arm.txt
Due: none

Database dump
  migration/migrator/data/course_tables.sql
  migration/migrator/data/submitty_db.sql
Due: migrator

check for failed test
  autograder/tests/data/config_files/config.json
  autograder/tests/data/config_files/expected_vcs_checkout.txt
  autograder/tests/data/config_files/homework_form.json
  autograder/tests/data/test_files/vcs_checkout_old.txt
  autograder/tests/test_submitty_autograding_shipper.py
Due: none

Remove spaces from format string
  migration/migrator/data/course_tables.sql
  migration/migrator/data/submitty_db.sql
  migration/migrator/migrations/course/20221212230211_add_display_name_order_column.py
  migration/migrator/migrations/master/20221212230211_add_display_name_order_column.py
Due: migrator

[Bugfix:Developer] ARM/UTM mount shared directory (#8761)
  README_utm_arm.txt
Due: none

possible 'sad paths'
  autograder/tests/test_submitty_autograding_shipper.py
Due: none

Began a script for the semester recreation tool
  .setup/bin/recreate_submissions.py
Due: none

Fixed
  site/app/controllers/student/SubmissionController.php
Due: php

[Bugfix:TAGrading] Fixed regrade button for Git gradeables (#8771)
  site/app/controllers/student/SubmissionController.php
Due: php

more room templates and sample files for assigned exam seating at RPI
  sample_files/seating_configs/Academy_Hall/Auditorium.json
  sample_files/seating_configs/Amos_Eaton/214.json
  sample_files/seating_configs/Amos_Eaton/215.json
  sample_files/seating_configs/Amos_Eaton/216.json
  sample_files/seating_configs/Darrin/324.json
  sample_files/seating_configs/Darrin/330.json
  sample_files/seating_configs/Darrin/337.json
  sample_files/seating_configs/Low/4050.json
  sample_files/seating_configs/Sage/3101.json
  sample_files/seating_configs/Sage/3510.json
  sample_files/seating_configs/Sage/4101.json
  sample_files/seating_configs/Sage/5101.json
  sample_files/seating_configs/Sage/5510.json
  site/room_templates/Academy_Hall/Auditorium.twig
  site/room_templates/Ricketts/203.twig
  site/room_templates/Sage/4101.twig
Due: none

Column added
  migration/migrator/data/course_tables.sql
  migration/migrator/data/submitty_db.sql
  migration/migrator/migrations/course/20230126130456_add_course_id_column.py
  migration/migrator/migrations/master/20230126125745_add_course_id_column.py
Due: migrator

Trigger function attempt, not working yet
  migration/migrator/data/submitty_db.sql
  migration/migrator/migrations/master/20230126131819_sync_course_id_column.py
Due: migrator

[Feature:InstructorUI] additional room templates (#8773)
  sample_files/seating_configs/Academy_Hall/Auditorium.json
  sample_files/seating_configs/Amos_Eaton/214.json
  sample_files/seating_configs/Amos_Eaton/215.json
  sample_files/seating_configs/Amos_Eaton/216.json
  sample_files/seating_configs/Darrin/324.json
  sample_files/seating_configs/Darrin/330.json
  sample_files/seating_configs/Darrin/337.json
  sample_files/seating_configs/Low/4050.json
  sample_files/seating_configs/Sage/3101.json
  sample_files/seating_configs/Sage/3510.json
  sample_files/seating_configs/Sage/4101.json
  sample_files/seating_configs/Sage/5101.json
  sample_files/seating_configs/Sage/5510.json
  site/room_templates/Academy_Hall/Auditorium.twig
  site/room_templates/Ricketts/203.twig
  site/room_templates/Sage/4101.twig
Due: none

separate happy/sad paths and setup
  autograder/tests/data/config_files/expected_vcs_checkout.txt
  autograder/tests/test_submitty_autograding_shipper.py
Due: none

Forgot line to actually update the row
  migration/migrator/data/submitty_db.sql
  migration/migrator/migrations/master/20230126131819_sync_course_id_column.py
Due: migrator

comment out preferred_name_logging script
  .setup/install_system.sh
Due: none

disabled VM's audio, usb, and uarts
  Vagrantfile
Due: none

deleted unnecessary comment
  Vagrantfile
Due: none

[Feature:HelpQueue] Display name changes (#8477)
  site/app/libraries/database/DatabaseQueries.php
  site/app/models/OfficeHoursQueueModel.php
  site/app/models/User.php
  site/app/templates/officeHoursQueue/CurrentQueue.twig
  site/app/templates/officeHoursQueue/QueueHistory.twig
  site/app/templates/officeHoursQueue/QueueStatus.twig
Due: php

update SysadminTools release
  .setup/bin/versions.sh
Due: none

bugfix lint displayed first & last
  site/app/models/User.php
Due: php

[Bugfix:System] SysadminTools preferred_name_logging (#8779)
  .setup/install_system.sh
Due: none

[Bugfix:System] Bugfix lint on PR #8661 (#8782)
  site/app/models/User.php
Due: php

update license year & authors
  AUTHORS.md
  LICENSE.md
Due: none

[Documentation:Developer] Update license year & authors (#8783)
  AUTHORS.md
  LICENSE.md
Due: none

update authors
  AUTHORS.md
Due: none

Path conditions:
  php: any of: site/app, but not: tests/integrationTests
  autograder: any of: autograder/autograder, but not: tests/integrationTests
  python_submitty_utils: any of: python_submitty_utils/submitty_utils, but not: tests/integrationTests
  migrator: any of: migration/migrator, but not: tests/integrationTests
