Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

Fix linting
  site/app/views/GitAuthView.php
Due: php

Minor refactor on details page
  site/app/templates/grading/electronic/Details.twig
  site/app/views/grading/ElectronicGraderView.php
Due: php

[Feature:Plagiarism] Remove plagiarism feature flag (#7768)
  site/app/controllers/GlobalController.php
  site/app/controllers/admin/PlagiarismController.php
  site/app/templates/plagiarism/Plagiarism.twig
  tests/e2e/test_sidebar.py
Due: php

[Refactor:System] Remove duplicate SUPERVISOR_USER assignment (#7749)
  .setup/INSTALL_SUBMITTY_HELPER.sh
Due: none

[UI/UX:Plagiarism] Reduce plagiarism interface distractions (#7767)
  site/public/css/plagiarism.css
  site/public/js/plagiarism.js
Due: none

[Bugfix:Plagiarism] Properly set last run timestamp (#7769)
  site/app/controllers/admin/PlagiarismController.php
Due: php

[Refactor:InstructorUI] Refactor peer matrix UI (#7490)
  site/app/templates/admin/admin_gradeable/AdminGradeablePeers.twig
  site/public/js/admin-gradeable-updates.js
Due: php

[Bugfix:TAGrading] Fix checkpoint marks filling incorrectly (#7195)
  site/app/templates/grading/simple/Display.twig
  site/public/js/simple-grading.js
  tests/e2e/test_simple_grader.py
  tests/e2e/test_submission.py
Due: php

Fix autograding config path bug
  site/app/models/gradeable/Gradeable.php
  site/app/templates/admin/admin_gradeable/AdminGradeableAuto.twig
  site/public/js/admin-gradeable-updates.js
  site/tests/app/controllers/student/SubmissionControllerTester.php
  site/tests/app/models/gradeable/GradeableListTester.php
Due: php

FIx random order change
  site/app/controllers/grading/ElectronicGraderController.php
  site/app/templates/grading/electronic/ta_status/StatusBase.twig
  site/app/views/grading/ElectronicGraderView.php
Due: php

Fix broken link
  site/public/js/server.js
Due: none

[Bugfix:System] Fix sidebar cookie bug (#7781)
  site/app/views/GlobalView.php
  site/public/js/server.js
Due: php

Add student download UI option, general fixes surrounding it
  .setup/bin/setup_sample_courses.py
  .setup/data/courses.yml
  bin/json_schemas/complete_config_schema.json
  grading/load_config_json.cpp
  migration/migrator/data/course_tables.sql
  migration/migrator/migrations/course/20220330154141_update_electronic_gradeable_student_access_options.py
  more_autograding_examples/left_right_exam_seating/config/config.json
  more_autograding_examples/notebook_basic/config/config.json
  more_autograding_examples/notebook_itempool/config/config.json
  more_autograding_examples/notebook_itempool_random/config/config.json
  more_autograding_examples/pdf_exam/config/config.json
  python_submitty_utils/tests/data/complete_configs/choice_of_language.json
  python_submitty_utils/tests/data/complete_configs/cpp_hidden_tests.json
  python_submitty_utils/tests/data/complete_configs/minimal_code_editing.json
  python_submitty_utils/tests/data/complete_configs/notebook_basic.json
  python_submitty_utils/tests/data/complete_configs/notebook_itempool_random.json
  python_submitty_utils/tests/data/complete_configs/python_multipart_static_analysis.json
  python_submitty_utils/tests/data/complete_configs/tutorial_10_java_coverage.json
  python_submitty_utils/tests/data/complete_configs/tutorial_12_system_calls.json
  python_submitty_utils/tests/data/complete_configs/tutorial_14_tkinter.json
  python_submitty_utils/tests/data/complete_configs/tutorial_15_glfw.json
  python_submitty_utils/tests/data/complete_configs/tutorial_16_docker_network_python.json
  site/app/controllers/MiscController.php
  site/app/controllers/admin/AdminGradeableController.php
  site/app/controllers/student/SubmissionController.php
  site/app/libraries/Access.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/models/gradeable/AutogradingConfig.php
  site/app/models/gradeable/Gradeable.php
  site/app/templates/admin/admin_gradeable/AdminGradeableAuto.twig
  site/app/templates/admin/admin_gradeable/AdminGradeableBase.twig
  site/app/templates/admin/admin_gradeable/AdminGradeableCreate.twig
  site/app/templates/autograding/AutoResults.twig
  site/app/templates/submission/homework/CurrentVersionBox.twig
  site/app/templates/submission/homework/CurrentVersionResults.twig
  site/app/views/AutoGradingView.php
  site/app/views/grading/ElectronicGraderView.php
  site/app/views/submission/HomeworkView.php
  site/tests/app/controllers/student/SubmissionControllerTester.php
  site/tests/app/models/gradeable/GradeableListTester.php
Due: php, migrator

fix sql
  site/app/libraries/database/DatabaseQueries.php
Due: php

Undo can_download change
  site/app/views/submission/HomeworkView.php
Due: php

Rename electronic_exam to electronic_bulk
  site/app/controllers/admin/AdminGradeableController.php
Due: php

Hide bulk upload data, add file to change electronic_exam to electronic_bulk
  site/app/controllers/student/SubmissionController.php
  site/app/templates/admin/admin_gradeable/AdminGradeableCreate.twig
  site/app/views/grading/ElectronicGraderView.php
Due: php

Requested changes
  site/app/views/grading/ElectronicGraderView.php
Due: php

Fix PDF scroll not working, error in edit gradeable
  site/public/js/pdf/PDFAnnotateEmbedded.js
  site/public/js/ta-grading-rubric.js
Due: none

Change gradeable type text without refreshing
  site/app/templates/admin/admin_gradeable/AdminGradeableAuto.twig
  site/app/templates/admin/admin_gradeable/AdminGradeableCreate.twig
Due: php

[Bugfix:Submission] Gradeable access bugfix when view is no (#7779)
  site/app/controllers/student/SubmissionController.php
Due: php

Only perform checks when changing config path
  site/app/controllers/admin/NotebookBuilderController.php
  site/app/models/gradeable/Gradeable.php
Due: php

Move compile to install
  .setup/INSTALL_SUBMITTY_HELPER.sh
  bin/build_homework_function.sh
Due: none

Fix permissions
  .setup/INSTALL_SUBMITTY_HELPER.sh
Due: none

Add cypress test and a few changes
  site/app/entities/GitAuthToken.php
  site/app/repositories/GitAuthTokenRepository.php
  site/cypress/integration/git_auth_token.spec.js
Due: php

Fix js lint on cypress test
  site/cypress/integration/git_auth_token.spec.js
Due: none

Change logout disable method
  site/cypress/integration/login.spec.js
  site/cypress/support/commands.js
  site/cypress/support/index.js
Due: none

Make logout actually work
  site/cypress/support/commands.js
  site/cypress/support/index.js
Due: none

[Refactor:TAGrading] Autograding/Student Info panels to TS (#7649)
  .setup/install_submitty/install_site.sh
  site/.build.js
  site/app/libraries/Output.php
  site/app/templates/grading/electronic/AutogradingPanel.twig
  site/app/templates/grading/electronic/StudentInformationPanel.twig
  site/public/js/server.js
  site/public/js/ta-grading.js
  site/ts/twig/grading/electronic/AutogradingPanel.ts
  site/ts/twig/grading/electronic/StudentInformationPanel.ts
Due: php

linting (:
  site/cypress/support/index.js
Due: none

allow editing of registration type in Managing Enrollment
  site/app/controllers/admin/UsersController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/models/User.php
  site/app/templates/admin/users/StudentList.twig
  site/app/templates/admin/users/UserForm.twig
  site/public/js/userform.js
Due: php

Part of requested changes
  site/app/libraries/Access.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/models/gradeable/Gradeable.php
  site/app/templates/admin/admin_gradeable/AdminGradeableAuto.twig
  site/app/views/submission/HomeworkView.php
Due: php

Change to check logout instead of ignoring logout
  site/cypress/integration/login.spec.js
  site/cypress/support/commands.js
  site/cypress/support/index.js
Due: none

adding registration\_type to User phpUnit tests
  site/tests/app/models/UserTester.php
Due: none

sections-with-grid
  site/app/templates/course/EditCourseMaterialsFolderForm.twig
  site/app/templates/course/EditCourseMaterialsForm.twig
  site/app/templates/course/UploadCourseMaterialsForm.twig
  site/public/css/course-materials.css
Due: php

css-linter
  site/public/css/course-materials.css
Due: none

Add auth token button to team page and fix expired tokens not showing
  site/app/controllers/student/GitAuthController.php
  site/app/templates/submission/Team.twig
  site/app/views/submission/TeamView.php
Due: php

Panel refactors (submission, solution TA notes, peer, regrade, and discussion)
  site/app/templates/grading/electronic/DiscussionForumPanel.twig
  site/app/templates/grading/electronic/EditPeerComponentsForm.twig
  site/app/templates/grading/electronic/PeerPanel.twig
  site/app/templates/grading/electronic/RegradePanel.twig
  site/app/templates/grading/electronic/SolutionTaNotesPanel.twig
  site/app/templates/grading/electronic/SubmissionPanel.twig
  site/app/views/grading/ElectronicGraderView.php
  site/public/js/ta-grading.js
  site/ts/twig/grading/electronic/DiscussionForumPanel.ts
  site/ts/twig/grading/electronic/EditPeerComponentsForm.ts
  site/ts/twig/grading/electronic/PeerPanel.ts
  site/ts/twig/grading/electronic/RegradePanel.ts
  site/ts/twig/grading/electronic/SolutionTaNotesPanel.ts
  site/ts/twig/grading/electronic/SubmissionPanel.ts
  site/ts/utils/server.ts
Due: php

Requested changes
  site/app/controllers/admin/AdminGradeableController.php
  site/app/models/gradeable/Gradeable.php
  site/app/templates/admin/admin_gradeable/AdminGradeableAuto.twig
  site/app/templates/admin/admin_gradeable/AdminGradeableCreate.twig
  site/app/views/grading/ElectronicGraderView.php
Due: php

Allow a login.md to be created to customize the login screen
  site/app/templates/Authentication.twig
  site/app/views/AuthenticationView.php
  site/public/css/markdown.css
Due: php

Path conditions:
  php: any of: site/app, but not: tests/integrationTests
  autograder: any of: autograder/autograder, but not: tests/integrationTests
  python_submitty_utils: any of: python_submitty_utils/submitty_utils, but not: tests/integrationTests
  migrator: any of: migration/migrator, but not: tests/integrationTests
