Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

[Bugfix:Autograding] More error handling for short-circuiting (#6311)
  autograder/submitty_autograding_shipper.py
Due: none

WIP
  site/app/templates/grading/SettingsForm.twig
  site/app/templates/grading/electronic/FileView.twig
  site/app/templates/grading/electronic/SubmissionPanel.twig
  site/app/templates/notebook/Notebook.twig
  site/public/css/electronic.css
  site/public/css/server.css
  site/public/js/server.js
  site/public/js/ta-grading-keymap.js
  site/public/js/ta-grading.js
  site/public/templates/grading/settings/GeneralSettingList.twig
  site/public/templates/grading/settings/HotkeyList.twig
  site/public/templates/grading/settings/NotebookSettingList.twig
Due: php

WIP
  site/app/templates/grading/electronic/FileView.twig
  site/app/templates/grading/electronic/NotebookPanel.twig
  site/app/templates/grading/electronic/SubmissionPanel.twig
  site/app/templates/notebook/Notebook.twig
  site/public/css/electronic.css
  site/public/js/server.js
  site/public/js/ta-grading.js
Due: php

whoops
  site/app/templates/notebook/Notebook.twig
Due: php

fix wieird height thing
  site/public/js/server.js
  site/public/js/ta-grading.js
Due: none

Hid peer custom marks
  site/app/controllers/grading/ElectronicGraderController.php
  site/app/libraries/Access.php
  site/app/templates/grading/electronic/RubricPanel.twig
  site/app/views/grading/ElectronicGraderView.php
  site/public/js/gradeable.js
  site/public/js/ta-grading-rubric.js
  site/public/templates/grading/GradingComponent.twig
Due: php

initial work
  site/app/controllers/GlobalController.php
  site/app/controllers/admin/SqlToolboxController.php
  site/app/templates/admin/SqlToolbox.twig
  site/app/views/admin/SqlToolboxView.php
  site/public/css/server.css
  site/public/css/sql-toolbox.css
  site/public/js/sql-toolbox.js
Due: php

Add access control that only in debug mode will the calendar button show
  site/app/controllers/GlobalController.php
  site/app/controllers/calendar/CalendarController.php
  site/public/css/calendar.css
  site/public/js/calendar.js
Due: php

Add access control that only in debug mode will the calendar button show
  tests/e2e/test_sidebar.py
Due: none

finish up toolbox
  site/app/controllers/admin/SqlToolboxController.php
  site/app/libraries/database/AbstractDatabase.php
  site/app/libraries/database/QueryIdentifier.php
  site/app/templates/admin/SqlToolbox.twig
  site/public/js/sql-toolbox.js
  site/tests/app/libraries/database/QueryIdentifierTester.php
Due: php

wip
  site/app/controllers/admin/SqlToolboxController.php
  site/app/libraries/database/QueryIdentifier.php
  site/app/templates/admin/SqlToolbox.twig
  site/public/js/sql-toolbox.js
  site/tests/app/libraries/database/QueryIdentifierTester.php
Due: php

Fix random peer assignment
  site/app/controllers/grading/ElectronicGraderController.php
  site/public/js/admin-gradeable-updates.js
Due: php

[Feature:TAGrading] Add rubric hotkey wraparound (#6299)
  site/public/js/ta-grading.js
Due: none

Update sql-toolbox.js
  site/public/js/sql-toolbox.js
Due: none

Update QueryIdentifierTester.php
  site/tests/app/libraries/database/QueryIdentifierTester.php
Due: none

Update QueryIdentifier.php
  site/app/libraries/database/QueryIdentifier.php
Due: php

Enable touch events for panel resizing
  site/public/js/drag-and-resize-two-panels.js
  site/public/js/resizable-panels.js
Due: none

linting (:
  site/public/js/resizable-panels.js
Due: none

Update test_sidebar.py
  tests/e2e/test_sidebar.py
Due: none

Rolled back changes to non-peer components
  site/app/controllers/grading/ElectronicGraderController.php
  site/app/libraries/Access.php
  site/app/templates/grading/electronic/RubricPanel.twig
  site/app/views/grading/ElectronicGraderView.php
  site/public/js/gradeable.js
  site/public/js/ta-grading-rubric.js
Due: php

add testing for controller
  site/app/controllers/admin/SqlToolboxController.php
  site/app/libraries/Core.php
  site/tests/BaseUnitTest.php
  site/tests/app/controllers/admin/SqlToolboxControllerTester.php
Due: php

fix trailing comma
  site/app/views/admin/SqlToolboxView.php
  site/tests/app/controllers/admin/SqlToolboxControllerTester.php
Due: php

fix page title
  site/app/views/admin/SqlToolboxView.php
  tests/e2e/test_sidebar.py
Due: php

Update SqlToolbox.twig
  site/app/templates/admin/SqlToolbox.twig
Due: php

Set 'touch-action' to 'none' for Edge
  site/public/js/resizable-panels.js
Due: none

[Refactor:TAGrading] Fix eslint errors in PDFAnnotateEmbedded
  site/.eslintignore
  site/.eslintrc.json
  site/public/js/pdf/PDFAnnotateEmbedded.js
Due: none

Update test_accessibility.py
  tests/e2e/test_accessibility.py
Due: none

[Refactor:TAGrading] Fix eslint errors in PDFAnnotateEmbedded (#6329)
  site/.eslintignore
  site/.eslintrc.json
  site/public/js/pdf/PDFAnnotateEmbedded.js
Due: none

Update SqlToolboxController.php
  site/app/controllers/admin/SqlToolboxController.php
Due: php

Update SqlToolboxView.php
  site/app/views/admin/SqlToolboxView.php
Due: php

Update SqlToolboxControllerTester.php
  site/tests/app/controllers/admin/SqlToolboxControllerTester.php
Due: none

[Bugfix:TAGrading] Random Peer Assignment Fix (#6323)
  site/app/controllers/grading/ElectronicGraderController.php
  site/public/js/admin-gradeable-updates.js
Due: php

Error when logging bad notebook objects
  autograder/autograder/grade_item.py
Due: autograder

Path conditions:
  php: any of: site/app, but not: tests/integrationTests
  autograder: any of: autograder/autograder, but not: tests/integrationTests
  python_submitty_utils: any of: python_submitty_utils/submitty_utils, but not: tests/integrationTests
  migrator: any of: migration/migrator, but not: tests/integrationTests
