Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: true

ignore:
  - "tests/integrationTests"

coverage:
  status:
    project: false
    patch: false
    changes: false
    migrator:
      flags: migrator
      target: 100%

flags:
  php:
    paths:
      - site/app
  autograder:
    paths:
      - autograder/autograder
  python_submitty_utils:
    paths:
      - python_submitty_utils/submitty_utils
  migrator:
    paths:
      - migration/migrator

comment:
  layout: "reach, diff, flags"
  behavior: default

[Refactor:System] Add index to user_registration table (#8587)
  migration/migrator/migrations/course/20221104203732_grading_registration_index.py
Due: migrator

[Refactor:System] Add index to notifications table (#8586)
  migration/migrator/migrations/course/20221104210520_notifications_index.py
Due: migrator

[Bugfix:Submission] Add Bulk Leading Zeros (#8501)
  site/app/controllers/student/SubmissionController.php
  site/public/js/ta-grading-rubric.js
Due: php

fix warning message
  site/public/js/homepage.js
Due: none

warning
  site/public/js/homepage.js
Due: none

Initial front end name preference change
  site/app/templates/UserProfile.twig
Due: php

Backend connection with preference frontend
  site/app/templates/UserProfile.twig
  site/public/js/user-profile.js
Due: php

Fix case match bug in `User.validateUserData`
  site/app/models/User.php
Due: php

Insert name in the dropdown
  site/app/models/User.php
  site/app/templates/UserProfile.twig
  site/app/views/UserProfileView.php
  site/public/js/user-profile.js
Due: php

Dynamic default value change
  site/app/templates/UserProfile.twig
Due: php

Default chosen value change
  site/app/templates/UserProfile.twig
  site/public/js/user-profile.js
Due: php

Change selected
  site/public/js/user-profile.js
Due: none

Changes in selected
  site/app/templates/UserProfile.twig
  site/public/js/user-profile.js
Due: php

Set `user_preferred_name_order` from DB-loaded entity
  migration/migrator/data/submitty_db.sql
  migration/migrator/migrations/master/20221206153408_add_user_preferred_name_order.py
  site/app/models/User.php
Due: php, migrator

index value change
  site/app/templates/UserProfile.twig
  site/public/js/user-profile.js
Due: php

Fix bug in `changePreferredNameOrder` controller
  site/app/controllers/UserProfileController.php
  site/app/models/User.php
Due: php

pull request #8647 requested changes
  Vagrantfile
  site/app/controllers/HomePageController.php
  site/app/views/HomePageView.php
  site/public/js/homepage.js
Due: php

whitespace
  site/app/controllers/HomePageController.php
Due: php

whitespace fix
  site/public/js/server.js
Due: none

fixing time-zone banner showing up when time-zone is not set
  site/public/js/homepage.js
Due: none

Log warnings to site logs directory for e2e testing purposes
  site/.performance_warning_ignore.json
  site/app/libraries/Core.php
Due: php

lint + fix tests
  site/app/libraries/Core.php
Due: php

Add method to debug log
  site/app/libraries/Core.php
Due: php

Add routes to ignore list and make ignore behavior cleaner
  site/.performance_warning_ignore.json
  site/app/libraries/Core.php
Due: php

Add additional ignored routes
  site/.performance_warning_ignore.json
Due: none

Fix wrong route for autograding status
  site/.performance_warning_ignore.json
Due: none

Assigned url to the correct button id
  site/app/templates/grading/electronic/ta_status/StatusBase.twig
Due: php

Initial progress
  migration/migrator/migrations/course/20221207220918_gradeable_allowed_minutes_index.py
  migration/migrator/migrations/course/20221207223331_gradeable_component_mark_data_gcm_id_index.py
  migration/migrator/migrations/course/20221208001513_grading_registration_user_id_index.py
  site/app/libraries/database/DatabaseQueries.php
  site/app/models/User.php
Due: php, migrator

Eliminate unnecessary late days queries
  site/app/controllers/grading/ElectronicGraderController.php
  site/app/models/User.php
  site/app/views/grading/ElectronicGraderView.php
Due: php

lint
  site/app/views/grading/ElectronicGraderView.php
Due: php

Remove peer grading query if not using peer grading
  site/app/views/grading/ElectronicGraderView.php
Due: php

cache team ID to eliminate repetitive queries
  site/app/models/Team.php
Due: php

Revert "cache team ID to eliminate repetitive queries"
  site/app/models/Team.php
Due: php

fix histogram status dropdown
  site/app/templates/polls/PollForm.twig
Due: php

Allowed minutes refactor
  site/app/libraries/database/DatabaseQueries.php
Due: php

[Feature:System] Doctrine ORM Caching (#8617)
  .setup/install_submitty/install_site.sh
  site/app/libraries/Core.php
Due: php

[Bugfix:CourseMaterials] Link fields in non-link materials (#8614)
  site/public/js/server.js
Due: none

modified 1 unit test
  site/tests/app/authentication/LdapAuthenticationTester.php
Due: none

modified unit tests
  site/tests/app/authentication/LdapAuthenticationTester.php
  site/tests/app/libraries/DateUtilsTester.php
  site/tests/app/libraries/UtilsTester.php
  site/tests/app/models/EmailTester.php
  site/tests/app/models/NotificationTester.php
  site/tests/app/models/SimpleLateUserTester.php
  site/tests/app/models/TeamTester.php
  site/tests/app/models/UserTester.php
  site/tests/app/models/gradeable/GradeableListTester.php
Due: none
